
@{
    ViewBag.Title = "Application Status";
    ViewBag.Description = "Application Status";
    ViewBag.Keywords = "";
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="/images/AFSAC.png">
    <title> E-ISAC </title>
    @*  <link href="/Fonts/css/all.min.css" rel="stylesheet" type="text/css"> *@
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/nunito.css" rel="stylesheet" />
    <link href="~/css/roboto.css" rel="stylesheet" />
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />
    <link href="~/fonts/css/all.min.css" rel="stylesheet" />
    <script asp-src-include="~/fonts/feather/feather.min.js"></script>
    <script asp-src-include="~/fonts/allfont/webfont.min.js"></script>
    <link href="~/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/css/feed.css" rel="stylesheet" />

    <link href="~/css/normalize.min.css" rel="stylesheet" />
    @*   <link href="~/css/swiper.min.css" rel="stylesheet" /> *@
    <link href="~/css/feed.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    @*     <link href="~/css/sliders/style.css" rel="stylesheet" /> *@
    <link href="~/css/horizontaltimeline.css" rel="stylesheet" />
    <style rel="stylesheet">
        .swal2-confirm, .swal2-styled {
            background: #D97924 !important;
        }

        .form-group .labellogin {
            font-size: 16px;
            font-weight: 700;
        }

        body {
            /*   background-image: url('/images/logo-white.jpg'); */
            background-size: cover;
            background-color: lightskyblue;
            background-repeat: no-repeat;
            /* background: linear-gradient(90deg, rgba(0,211,255,1) 0%, rgba(12,141,242,1) 66%, rgba(22,125,207,1) 99%); */
        }

        .bg-white {
            background: #fff !important;
        }

        .logoheader {
            background: linear-gradient(90deg, rgba(0,211,255,1) 0%, rgba(12,141,242,1) 66%, rgba(22,125,207,1) 99%);
        }

    </style>
</head>

<body>
    <div class="page">
        <div class="container-fluid">
            <div class="row logoheader">
                <div class="mb-1 logo-sec d-flex">
                    @*                     <a class="navbar-brand" href="#"><img src="~/Images/dgis_ico.png" width="50%"></a>
                    <div class="text-center mr-lg-15"><img class="mr-lg-15" src="~/Images/EISAC.png" width="50%"></div> *@
                    <div class="text-center"><img src="~/Images/EISAC.png" width="100%" ></div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-4 bg-white login-wrap align-items-center">
                    <div class="login py-2 py-sm-4">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-xl-11 mx-auto">
                                <div class="card-sigin">
                                    @* <form enctype="multipart/form-data" asp-controller="ApplicationStatus" asp-action="AppStatus" id="SaveForm" method="post" class=""> *@
                                    <div class="main-signup-header login-form">
                                        @* <h1 class="font-weight-bold text-center mb-0 mt-3 logo"><color style="color: #D97904">Login</color></h1>*@

                                            <p class="font-weight-bold font-weight-700 text-center mb-4 mt-1"><h4>Enter Application TrackingId.</h4></p>
                                            <input type="text" class="form-control" placeholder="Enter TrackingId" required maxlength="12" name="TrackingId" id="TrackingId" />
                                            <span>TrackingId Exm.: DOB(12012024) and  Last 4 Digit of AadharNo (120120241235)</span>
                                        <input type="button" id="btnTracking" class="btn btn-primary text-uppercase py-2 fs-5 w-100 mt-2" value="Track" />
                                     
                                    </div>
                                   @*  </form> *@
                                    <div class="card mt-2">
                                        <div class="card-body">
                                        <h5 class="text-center badge badge-success">TrackingId History</h5>
                                        <div class="timeline timeline-xs" id="RequestHistoryTrackingId">
                                            
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>



</body>
</html>


    <script asp-src-include="~/lib/jquery/jquery.js"></script>
    <script asp-src-include="~/lib/jquery-validate/jquery.validate.js" defer></script>
    <script asp-src-include="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" defer></script>
    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
    @* <script src="~/fonts/feather/feather.min.js"></script> *@
    <script src="~/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/developerjs/commanvalidation.js"></script>
    <script src="~/developerjs/appstatus.js"></script>
