@model DTORegisterRequest
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Title = ViewBag.T;
}
<div class="row g-3 row-deck mb-3">
    <div class="col-xl-9">
        <div class="card">
            @if (!string.IsNullOrEmpty(@HttpContextAccessor.HttpContext.Session.GetString("_AuthRemark")))
                {
                    @Html.Raw(@HttpContextAccessor.HttpContext.Session.GetString("_AuthRemark"))
                    HttpContextAccessor.HttpContext.Session.Remove("_AuthRemark");
                }
            <div class="card-header py-3 d-flex  bg-transparent">
                <h6 class="mb-0 fw-bold">Create User(s)</h6>
            </div>
            <div class="card-body">
                <form enctype="multipart/form-data" asp-controller="Account" asp-action="Create" method="post" class="mt-3">
                    <div class="row mb-3 required">
                        <label asp-for="DomainId" class="col-sm-4 col-form-label form-label"></label>
                        <div class="col-sm-8">
                            <input asp-for="DomainId" class="form-control" placeholder="Please enter the appointment" />
                            <span asp-validation-for="DomainId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3 required">
                        <label asp-for="UserRole" class="col-sm-4 col-form-label form-label"></label>
                        <div class="col-sm-8">
                            <select asp-for="UserRole" class="form-control" asp-items="ViewBag.RoleOptions">
                            </select>
                            <span asp-validation-for="UserRole" class="text-danger"></span>
                        </div>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button> <!--onclick="CrNwHsh();"-->
                </form>
            </div>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="card">
            <div class="card-header py-3 d-flex  bg-transparent">
                <h6 class="mb-0 fw-bold">Important Instructions</h6>
            </div>
            <div class="card-body">
                <ul>
                    <li>User Name MinLength 5 and MaxLength 30.</li>
                    <li>Username must be unique and must denote name of the <b>Section/Department</b>. For example, username for DDG of the MA Pensions Section of should be <b>dg-ma-pens-ddg</b></li>
                </ul>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script asp-src-include="~/js/aes.js"></script>
    <script asp-src-include="~/js/aesimpscript.js"></script>
    <script>
    </script>
}