@{
    ViewData["Title"] = "Domain Regn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .count-label{
        background-color: #044C92;
        text-align:center;
        padding: 0.5rem !important;
        margin-right: 0.25rem !important;
        border:hidden;
        font-weight: 700 !important;
        color: #fff !important;
        width:120px;
        height:60px;
    }
</style>

<div class="mt-4">
    <div class="card mb-3 ">
        <div class="card-header">

            <span id="SpnTxnId" class="d-none">0</span>
            @*<span id="PtoId" class="d-none">0</span>*@
            <div class="row">
                <div class="col-xl-12 text-left">
                    <h3>
                        Domain Registration Details
                        <small class="text-muted"></small>
                    </h3>
                </div>
            </div>
        </div>
        <div class="card-body" style="min-height:150px;">
            <div class="row">
                <div class="col-xl-6">
                </div>
                <div class="col-xl-6">
                    <div class="d-flex d-md-flex justify-content-md-between align-items-md-center">
                        <h6 class="mb-3 mb-md-0">
                            @* Total Command <span id="lblTotal" class="ml-3 border border-light b px-2 py-1">0</span> *@
                        </h6>
                        <div class="d-flex">
                            @* <button type="button" id="btnAdd" class="btn btn-outline-success font-weight-600 btn-sm">Add Command</button> *@
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="choice" id="Id" value="Id">
                                <label for="choice">ID</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="choice" id="DomainId" value="DomainId">
                                <label for="choice">Domain ID</label>
                            </div>
                            <div>
                                <input class="btn-outline-light form-control-domainId mr-2" placeholder="Search ID / Domain" id="txtSearch" maxlength="30" pattern="^[a-zA-Z0-9 ]*$" />
                            </div>
                            <div>
                                <button type="button" id="btnDomainAdd" class="btn btn-outline-success font-weight-600 btn-sm ml-4">Add Domain</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex mt-1 mb-1">
                    <div class="count-label">
                        Total Users<br /><label id="lblUser">0</label>
                    </div>
                    <div class="count-label">
                        Mapped<br /><label id="lblMappedUser">0</label>
                    </div>
                    <div class="count-label">
                        Not Mapped<br /><label id="lblUnMappedUser">0</label>
                    </div>
                    <div class="count-label">
                        Active<br /><label id="lblActiveUser">0</label>
                    </div>
                    <div class="count-label">
                        Inactive<br /><label id="lblInActiveUser">0</label>
                    </div>
                    <div class="count-label">
                        Verified<br /><label id="lblVerifiedUser">0</label>
                    </div>
                    <div class="count-label">
                        Not Verified<br /><label id="lblNotVerifiedUser">0</label>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table border border-purple table-striped no-footer table-hover" role="grid" id="tbldata">
                        <thead>
                            <tr>
                                <th class="noExport d-none"></th>
                                <th class="nowrap">S No</th>
                                <th class="nowrap">Registered ID</th>
                                <th class="nowrap">Domain ID</th>
                                <th class="nowrap">Role</th>
                                <th class="nowrap">Requested Generated On (Dt)</th>
                                <th class="nowrap">Mapping</th>
                                <th class="nowrap">Active Yes/No</th>
                                <th class="nowrap">Action</th>
                            </tr>
                        </thead>
                        <tbody id="DetailBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script asp-src-include="~/developerjs/mtables.js"></script>
<script asp-src-include="~/developerjs/domainregn.js"></script>
<div class="modal fade" id="AddNewDomain" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enter Domain Details</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form action="" id="SaveDomain" name="SaveDomain" method="post">
                        <div class="row">
                            <span class=" d-none" id="spnDomainRegId">0</span>
                            <div class="form-group row mb-2">
                                <label class="col-form-label col-sm-4">Domain ID<i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">
                                    <input class="form-control-domainId" placeholder="Enter Domain ID" id="txtDomainId" name="txtDomainId" maxlength="20" data-val="true" data-val-regex="This special chars and space not allowed for security reasons." data-val-required="Domain Id is required." data-val-regex-pattern="^[\w]+$" />
                                    <span class="text-danger field-validation-valid" data-valmsg-for="txtDomainId" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-form-label col-sm-4">Role<i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">
                                    <select class="form-control select2 select2-accessible" multiple="" placeholder="Select Role" style="width: 100%;" tabindex="-1" aria-hidden="true" name="ddlRoles" id="ddlRoles" data-val="true" data-val-regex="This special chars and space not allowed for security reasons." data-val-required="Role is required.">
                                    </select>
                                    <span class="text-danger field-validation-valid" data-valmsg-for="ddlRoles" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-4">
                                <label class="col-form-label col-sm-4">Approval<i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="txtapproval" value="true" id="txtapprovalyes" data-val-regex-pattern="^[\w]*$">
                                        <label class="form-check-label" for="txtapprovalyes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="txtapproval" value="false" id="txtapprovalno" data-val-regex-pattern="^[\w]*$">
                                        <label class="form-check-label" for="txtapprovalno">
                                            No
                                        </label>
                                    </div>
                                    <span class="text-danger field-validation-valid" id="txtapproval-error"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-4">
                                <label class="col-form-label col-sm-4">Active<i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="txtactive" value="true" id="txtactiveyes" data-val="true" data-val-regex-pattern="^[\w]*$">
                                        <label class="form-check-label" for="txtactiveyes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="txtactive" value="false" id="txtactiveno" data-val="true" data-val-regex-pattern="^[\w]*$">
                                        <label class="form-check-label" for="txtactiveno">
                                            No
                                        </label>
                                    </div>
                                    <span class="text-danger field-validation-valid" id="txtactive-error"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <span id="spnTDMUnitType" class="d-none">0</span>
                                <span id="spnTrnDomainMappingId" class="d-none">0</span>
                                <span id="spnUnitAppointmentId" class="d-none">0</span>
                                <label class="col-form-label col-sm-4">Appointment<i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">
                                    <input class="form-control" placeholder="Type Appointment" id="txtAppointmentName" name="txtAppointmentName" data-val="true" data-val-regex="This special chars not allowed for security reasons." data-val-required="Appointment Name is required." data-val-regex-pattern="^[\w \& \()]*$" />
                                    <span class="text-danger field-validation-valid" data-valmsg-for="txtAppointmentName" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <span id="spnUnitMapId" class="d-none">0</span>
                                <label class="col-form-label col-sm-4">Unit Name<i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">
                                    <input class="form-control" placeholder="Type Unit" id="txtUnitName" name="txtUnitName" data-val="true" data-val-regex="This special chars not allowed for security reasons." data-val-required="Unit Name is required." data-val-regex-pattern="^[\w ]*$" />
                                    <span class="text-danger field-validation-valid" data-valmsg-for="txtUnitName" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label class="col-form-label col-sm-4">SUS No</label>
                                <div class="col-sm-8">
                                    <label id="lblSusno" class="col-form-label unit-label-background"></label>
                                </div>
                            </div>
                            <div id="lbl1" class="row mb-2 d-none">
                                <label class="col-form-label col-sm-4 ">PSO / Dte</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label unit-label-background" id="lblPso"></label>
                                </div>
                            </div>
                            <div id="lbl2" class="row mb-2 d-none">
                                <label class="col-form-label col-sm-4 ">DG / Sub Dte</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label unit-label-background" id="lblDG"></label>
                                </div>
                            </div>
                            <div id="lbl3" class="row mb-2 d-none">
                                <label class="col-form-label col-sm-4 ">Comd / PSO</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label unit-label-background" id="lblComd"></label>
                                </div>
                            </div>
                            <div id="lbl4" class="row mb-2 d-none">
                                <label class="col-form-label col-sm-4">Corps / Dte / Area</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label unit-label-background" id="lblCorps"></label>
                                </div>
                            </div>
                            <div id="lbl5" class="row mb-2 d-none">
                                <label class="col-form-label col-sm-4">Div / Branch / Sub Area</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label unit-label-background" id="lblDiv"></label>
                                </div>
                            </div>
                            <div id="lbl6" class="row mb-2 d-none">
                                <label class="col-form-label col-sm-4">Bde</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label unit-label-background" id="lblBde"></label>
                                </div>
                            </div>
                            <div id="lbl7" class="row mb-2 d-none">
                                <label class="col-form-label col-sm-4">Type of Fmn / Branch</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label unit-label-background" id="lblFmn"></label>
                                </div>
                            </div>
                            <div class="col-sm-12 text-right">
                                <input type="button" class="btn btn-primary" value="Save" id="btnDomainAdd" onclick="Proceed()" />
                                <button type="button" id="btnDomainAddReset" class="btn btn-outline-danger">Reset</button>
                            </div>
                            <div class="col-sm-12" id="msg">
                            </div>
                        </div>
                    </form>

                    <div class="col-sm-12" id="msg">
                    </div>
                </div>
            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>