@model DTOIMLoginRequest
@{
    ViewBag.Title = "IM Login Section";
    ViewBag.Description = "IM Login Section";
    ViewBag.Keywords = "";
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="/images/AFSAC.png">
    <title> E-IASAC </title>
    @*  <link href="/Fonts/css/all.min.css" rel="stylesheet" type="text/css"> *@

    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/nunito.css" rel="stylesheet" />
    <link href="~/css/roboto.css" rel="stylesheet" />
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />

    <link href="~/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/css/feed.css" rel="stylesheet" />

    <link href="~/css/normalize.min.css" rel="stylesheet" />
    @*   <link href="~/css/swiper.min.css" rel="stylesheet" /> *@
    <link href="~/css/feed.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
@*     <link href="~/css/sliders/style.css" rel="stylesheet" /> *@
    <style rel="stylesheet">
        .swal2-confirm, .swal2-styled {
            background: #D97924 !important;
        }

        body {
          /*   background-image: url('/images/logo-white.jpg'); */
            background-size: cover;
            background-color: #0d2470;
            background-repeat: no-repeat;
        }
    </style>
</head>

<body>
    <div class="page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-4 bg-white login-wrap align-items-center">
                    <div class="login py-2 py-sm-4">
                        <div class="row">
                            <div class="col-md-10 col-lg-10 col-xl-9 mx-auto">
                                <div class="card-sigin">
                                    <div class="main-signup-header login-form">
                                        @* <h1 class="font-weight-bold text-center mb-0 mt-3 logo"><color style="color: #D97904">Login</color></h1>*@
                                        <div class="mb-1 logo-sec text-center">
                                            <img src="/Images/AFSAC_Logo.png" />
                                        </div>
                                        <p class="font-weight-normal text-center mb-4 mt-1 ">Kindly login with your Domain Id here.</p>
                                        <div class="pb-3 mt-3">
                                            <form asp-antiforgery="true" method="post" asp-action="IMLogin" autocomplete="off" role="form">
                                                <div class="form-group">
                                                    <label>Domain ID</label>
                                                    <input asp-for="DomainId" class="form-control" maxlength="20" placeholder="Enter Domain ID..." /> @* value="user1" *@
                                                    <span asp-validation-for="DomainId" class="text-danger"></span>
                                                </div>

                                                <div class="form-group">
                                                    <label asp-for="Role" class="form-label fs-6"></label>
                                                    <select asp-for="Role" class="form-select" style="width: 100%;" tabindex="-1" aria-hidden="true" data-val="true" data-val-regex="This special chars not allowed for security reasons." data-val-required="Rank is required." data-val-regex-pattern="^[\d]+$">
                                                        <option value="0">Select Role</option>
                                                        <option value="User">User</option>
                                                        <option value="Admin">Admin</option>
                                                    </select>
                                                    <span asp-validation-for="Role" class="text-danger"></span>
                                                </div>
                                                <button type="submit" class="btn btn-primary text-uppercase py-2 fs-5 w-100 mt-2" >Next</button>
                                            </form>

                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   


</body>
</html>

@section Scripts{
    <script asp-src-include="~/lib/jquery/jquery.js"></script>
    <script asp-src-include="~/lib/jquery-validate/jquery.validate.js" defer></script>
    <script asp-src-include="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" defer></script>
    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
    @* <script src="~/fonts/feather/feather.min.js"></script> *@
    <script src="~/sweetalert2/sweetalert2.min.js"></script>

    <script src="~/developerjs/login.js"></script>
}
