@{
    ViewData["Title"] = "Profile Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="card mb-3 ">
        <div class="card-header">

            <span id="SpnTxnId" class="d-none">0</span>
            @*<span id="PtoId" class="d-none">0</span>*@
            <div class="row">
                <div class="col-xl-12 text-left">
                    <h3>
                        Profile Details
                        <small class="text-muted"></small>
                    </h3>
                </div>
            </div>
        </div>
        <div class="card-body" style="min-height:150px;">
            <div class="row">
                <div class="col-xl-12">
                    <div class="mb-2 d-md-flex justify-content-md-between align-items-md-center">
                        <h6 class="mb-3 mb-md-0">
                            @* Total Command <span id="lblTotal" class="ml-3 border border-light b px-2 py-1">0</span> *@
                        </h6>
                        <div class="d-flex">

                            @* <button type="button" id="btnAdd" class="btn btn-outline-success font-weight-600 btn-sm">Add Command</button> *@
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="choice" id="UserId" value="UserId">
                                <label for="choice">User Id</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="choice" id="DomainId" value="DomainId">
                                <label for="choice">Domain Id</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="choice" id="ICNo" value="ICNo">
                                <label for="choice">IC No</label>
                            </div>
                            <input class="btn-outline-light form-control ml-2" placeholder="Search Id / Domain /IC No" id="txtSearch" maxlength="30" pattern="^[a-zA-Z0-9 ]*$" />
                            <button type="button" id="btnProfileAdd" class="btn btn-outline-success font-weight-600 btn-sm">Add Profile</button>

                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table border border-purple table-striped no-footer table-hover" role="grid" id="tbldata">
                            <thead>
                                <tr>
                                    <th class="noExport d-none"></th>
                                    <th class="nowrap">S No</th>
                                    <th class="nowrap">User Id</th>
                                    <th class="nowrap">IC No</th>
                                    <th class="nowrap">Name</th>
                                    <th class="nowrap">Domain Id</th>
                                    <th class="nowrap">IO Offr.</th>
                                    <th class="nowrap">Int Offr.</th>
                                    <th class="nowrap">CO</th>
                                    <th class="nowrap">Action</th>
                                </tr>
                            </thead>
                            <tbody id="DetailBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script asp-src-include="~/developerjs/mtables.js"></script>
<script asp-src-include="~/developerjs/profilemanage.js"></script>
<script asp-src-include="~/developerjs/commandvalidation.js"></script>
<div class="modal fade" id="AddNewProfile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enter Profile Details</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form action="" id="SaveProfile" name="SaveProfile" method="post">
                        <div class="row">
                            <div class="form-group row mb-2">
                                <span class=" d-none" id="spnUserProfileId">0</span>
                                <label class="col-form-label col-sm-4">Offrs Army No<i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">
                                    <input class="form-control Alphanumeric" placeholder="Enter Army No" id="txtArmyNo" name="txtArmyNo" minlength="7" maxlength="15" data-val="true" data-val-regex="This special chars and space not allowed for security reasons." data-val-required="Offrs Army No is required." data-val-regex-pattern="^[\w]*$" />
                                    <span class="text-danger field-validation-valid" data-valmsg-for="txtArmyNo" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-form-label col-sm-4">Name<i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">
                                    <input class="form-control Alphanumeric" placeholder="Enter Name" id="txtName" name="txtName" maxlength="50" data-val="true" data-val-regex="This special chars not allowed for security reasons." data-val-required="Name is required." data-val-regex-pattern="^[\w ]*$" />
                                    <span class="text-danger field-validation-valid" data-valmsg-for="txtName" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-form-label col-sm-4">Rank<i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">
                                    <select class="form-select" style="width: 100%;" tabindex="-1" aria-hidden="true" name="ddlRank" id="ddlRank" data-val="true" data-val-regex="This special chars not allowed for security reasons." data-val-required="Rank is required." data-val-regex-pattern="^[\w ]*$">
                                        <option value="0">Select Rank</option>
                                    </select>
                                    <span class="text-danger field-validation-valid" data-valmsg-for="ddlRank" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-4">
                                <label class="col-form-label col-sm-4">Initating Offr<i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="InitatingOffr" value="true" id="initatingOffryes" data-val-regex-pattern="^[\w]*$">
                                        <label class="form-check-label" for="initatingOffryes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="InitatingOffr" value="false" id="initatingOffrno" data-val-regex-pattern="^[\w]*$">
                                        <label class="form-check-label" for="initatingOffrno">
                                            No
                                        </label>
                                    </div>
                                    <span class="text-danger field-validation-valid" id="InitatingOffr-error"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-4">
                                <label class="col-form-label col-sm-4">Int Offr<i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="IntOffr" value="true" id="intoffsyes" data-val-regex-pattern="^[\w]*$">
                                        <label class="form-check-label" for="intoffsyes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="IntOffr" value="false" id="intoffsno" data-val-regex-pattern="^[\w]*$">
                                        <label class="form-check-label" for="intoffsno">
                                            No
                                        </label>
                                    </div>
                                    <span class="text-danger field-validation-valid" id="IntOffr-error"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-4">
                                <label class="col-form-label col-sm-4">Commanding Offr<i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="CommandingOffr" value="true" id="commandingOffryes" data-val="true" data-val-regex-pattern="^[\w]*$">
                                        <label class="form-check-label" for="commandingOffryes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="CommandingOffr" value="false" id="commandingOffrno" data-val="true" data-val-regex-pattern="^[\w]*$">
                                        <label class="form-check-label" for="commandingOffrno">
                                            No
                                        </label>
                                    </div>
                                    <span class="text-danger field-validation-valid" id="CommandingOffr-error"></span>
                                </div>
                            </div>
                            <div class="col-sm-12 text-right">
                                <input type="button" class="btn btn-primary" value="Save" id="btnProfileAdd" onclick="Proceed()" />
                                <button type="button" id="btnProfileAddReset" class="btn btn-outline-danger">Reset</button>
                            </div>
                            <div class="col-sm-12" id="msg">
                            </div>
                        </div>
                    </form>

                    <div class="col-sm-12" id="msg">
                    </div>
                </div>
            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>