@model DTOSetPasswordRequest
@{
    ViewBag.Title = "Please set your Password";
}
<div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
<div class="col-lg-6">
    <div class="p-5">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-2">@ViewBag.Title</h1>
        </div>
        <form method="post" asp-action="SetPassword" class="user">
            <div asp-validation-summary="All" class="text-danger">
                <input hidden asp-for="UserName" />
                @*<input hidden asp-for="Token" />*@
                <input hidden asp-for="hdns" />
                <div class="form-group">
                    <label asp-for="OldPassword"></label>
                    <div class="input-group mb-3" id="show_hide_password">
                        <input asp-for="OldPassword" class="form-control form-control-user" placeholder="Old Password" />
                        <span class="input-group-text">
                            <i class="fa fa-eye" id="toggleOldPassword"
                               style="cursor: pointer"></i>
                        </span>
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <div class="input-group mb-3" id="show_hide_password">
                        <input asp-for="Password" class="form-control form-control-user" placeholder="Password" />
                        <span class="input-group-text">
                            <i class="fa fa-eye" id="togglePassword"
                               style="cursor: pointer"></i>
                        </span>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <div class="input-group mb-3" id="show_hide_password">
                        <input asp-for="ConfirmPassword" class="form-control form-control-user" placeholder="Password" />
                        <span class="input-group-text">
                            <i class="fa fa-eye" id="togglePasswordConf"
                               style="cursor: pointer"></i>
                        </span>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-user btn-block" onclick="CrOldHsh();">Change Password</button>

        </form>
        <hr>
        <div class="text-center">
            <a class="small" asp-controller="Account" asp-action="Login">Login</a>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/aes.js" asp-append-version="true"></script>
    <script src="~/js/aesimpscript.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            const toggleOldPassword = document.querySelector("#toggleOldPassword");
            const toggleOldPasswordC = document.querySelector("#OldPassword");

            const togglePassword = document.querySelector("#togglePassword");
            const password = document.querySelector("#Password");

            const togglePasswordC = document.querySelector("#togglePasswordConf");
            const passwordC = document.querySelector("#ConfirmPassword");

            toggleOldPassword.addEventListener("click", function () {
                // toggle the type attribute
                const type = toggleOldPasswordC.getAttribute("type") == "password" ? "text" : "password";
                toggleOldPasswordC.setAttribute("type", type);
                // toggle the eye icon
                this.classList.toggle('fa-eye');
                this.classList.toggle('fa-eye-slash');
            });
            
            togglePassword.addEventListener("click", function () {
                // toggle the type attribute
                const type = password.getAttribute("type") == "password" ? "text" : "password";
                password.setAttribute("type", type);
                // toggle the eye icon
                this.classList.toggle('fa-eye');
                this.classList.toggle('fa-eye-slash');
            });

            togglePasswordC.addEventListener("click", function () {
                // toggle the type attribute
                const type = passwordC.getAttribute("type") == "password" ? "text" : "password";
                passwordC.setAttribute("type", type);
                // toggle the eye icon
                this.classList.toggle('fa-eye');
                this.classList.toggle('fa-eye-slash');
            });
        });
    </script>
}