@{
    ViewData["Title"] = "User Regn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .count-label {
        background-color: #044C92;
        text-align: center;
        padding: 0.5rem !important;
        margin-right: 0.25rem !important;
        border: hidden;
        font-weight: 700 !important;
        color: #fff !important;
        width: 120px;
        height: 60px;
    }
</style>

<div class="mt-4">
    <div class="card mb-3">
        <div class="card-header">

            <span id="SpnTxnId" class="d-none">0</span>
            @*<span id="PtoId" class="d-none">0</span>*@
            <div class="row">
                <div class="col-xl-12 text-left">
                    <h3>
                        User Regn Details
                        <small class="text-muted"></small>
                    </h3>
                </div>
            </div>
        </div>
        <div class="card-body" style="min-height:150px;">
            <div class="row">
                <div class="col-xl-6">
                </div>
                <div class="col-xl-6">
                    <div class="d-flex d-md-flex justify-content-md-between align-items-md-center">
                        <h6 class="mb-3 mb-md-0">
                            @* Total Command <span id="lblTotal" class="ml-3 border border-light b px-2 py-1">0</span> *@
                        </h6>
                        <div class="d-flex">
                            @* <button type="button" id="btnAdd" class="btn btn-outline-success font-weight-600 btn-sm">Add Command</button> *@
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="choice" id="Id" value="Id">
                                <label for="choice">Id</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="choice" id="DomainId" value="DomainId">
                                <label for="choice">Domain Id</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="choice" id="ICNo" value="ICNo">
                                <label for="choice">IC No</label>
                            </div>
                            <div>
                                <input class="btn-outline-light form-control mr-2" placeholder="Search Id / Domain /IC No" id="txtSearch" maxlength="30" pattern="^[a-zA-Z0-9 ]*$" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex mt-1 mb-1">
                    <button class="count-label" id="btnUser" name="btnUser">Total Users <br /><span id="lblUser">0</span></button>
                    <button class="count-label" id="btnMappedUser" name="btnMappedUser">Mapped <br /><span id="lblMappedUser">0</span></button>
                    <button class="count-label" id="btnUnMappedUser" name="btnUnMappedUser">Not Mapped <br /><span id="lblUnMappedUser">0</span></button>
                    <button class="count-label" id="btnActiveUser" name="btnActiveUser">Active <br /><span id="lblActiveUser">0</span></button>
                    <button class="count-label" id="btnInActiveUser" name="btnActiveUser">Inactive <br /><span id="lblInActiveUser">0</span></button>
                    <button class="count-label" id="btnVerified" name="btnVerified">Verified <br /><span id="lblVerifiedUser">0</span></button>
                    <button class="count-label" id="btnNotVerifiedUser" name="btnNotVerifiedUser">Not Verified <br /><span id="lblNotVerifiedUser">0</span></button>
                    <button class="count-label" id="btnDialog" name="btnDialog">Dialog</button>
                </div>
                <div class="table-responsive">
                        <table class="table border border-purple table-striped no-footer table-hover" role="grid" id="tbldata">
                            <thead>
                                <tr>
                                    <th class="noExport d-none"></th>
                                    <th class="nowrap">S No</th>
                                    <th class="nowrap">Reg Id</th>
                                    <th class="nowrap">Domain Id</th>
                                    <th class="nowrap">IC No</th>
                                    <th class="nowrap">Role</th>
                                    <th class="nowrap">Requested Genr On (DT)</th>
                                    <th class="nowrap">Mapping</th>
                                    <th class="nowrap">IsActive</th>
                                    <th class="nowrap">Status</th>
                                    <th class="nowrap">Action</th>
                                </tr>
                            </thead>
                            <tbody id="DetailBody">
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script asp-src-include="~/developerjs/mtables.js"></script>
<script asp-src-include="~/developerjs/userregn.js"></script>
<div class="modal fade" id="AddDomainFlag" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Approval / Active of Domain</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">    
                <div class="row">
                    <form action="" id="UpdateDomainFlag" name="UpdateDomainFlag" method="post">
                        <div class="row">
                            <span class=" d-none" id="spnDomainRegId">0</span>
                            <div class="form-group row mb-2">
                                <label class="col-form-label col-sm-4">Domain Id</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label unit-label-background" id="lblDomainId"></label>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-form-label col-sm-4">Role<i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">
                                    <label class="col-form-label unit-label-background" id="lblRole"></label>
                                </div>
                            </div>
                            <div class="form-group row mb-4">
                                <label class="col-form-label col-sm-4">Approval<i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="txtapproval" value="true" id="txtapprovalyes" data-val-regex-pattern="^[\w]*$">
                                        <label class="form-check-label" for="txtapprovalyes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="txtapproval" value="false" id="txtapprovalno" data-val-regex-pattern="^[\w]*$">
                                        <label class="form-check-label" for="txtapprovalno">
                                            No
                                        </label>
                                    </div>
                                    <span class="text-danger field-validation-valid" id="txtapproval-error"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-4">
                                <label class="col-form-label col-sm-4">Active<i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="txtactive" value="true" id="txtactiveyes" data-val="true" data-val-regex-pattern="^[\w]*$">
                                        <label class="form-check-label" for="txtactiveyes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="txtactive" value="false" id="txtactiveno" data-val="true" data-val-regex-pattern="^[\w]*$">
                                        <label class="form-check-label" for="txtactiveno">
                                            No
                                        </label>
                                    </div>
                                    <span class="text-danger field-validation-valid" id="txtactive-error"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-form-label col-sm-4">Message for User</label>
                                <div class="col-sm-8">
                                    <textarea name="txtadminmessage" id="txtadminmessage" rows="3" cols="50"></textarea>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-form-label col-sm-4">Appointment Name</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label unit-label-background" id="lblAppointmentName"></label>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-form-label col-sm-4">Unit Name</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label unit-label-background" id="lblUnitName"></label>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label class="col-form-label col-sm-4">Sus No</label>
                                <div class="col-sm-8">
                                    <label id="lblSusno" class="col-form-label unit-label-background"></label>
                                </div>
                            </div>
                            <div id="lbl1" class="row mb-2 d-none">
                                <label class="col-form-label col-sm-4 ">PSO / Dte</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label unit-label-background" id="lblPso"></label>
                                </div>
                            </div>
                            <div id="lbl2" class="row mb-2 d-none">
                                <label class="col-form-label col-sm-4 ">DG / Sub Dte</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label unit-label-background" id="lblDG"></label>
                                </div>
                            </div>
                            <div id="lbl3" class="row mb-2 d-none">
                                <label class="col-form-label col-sm-4 ">Comd / PSO</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label unit-label-background" id="lblComd"></label>
                                </div>
                            </div>
                            <div id="lbl4" class="row mb-2 d-none">
                                <label class="col-form-label col-sm-4">Corps / Dte / Area</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label unit-label-background" id="lblCorps"></label>
                                </div>
                            </div>
                            <div id="lbl5" class="row mb-2 d-none">
                                <label class="col-form-label col-sm-4">Div / Branch / Sub Area</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label unit-label-background" id="lblDiv"></label>
                                </div>
                            </div>
                            <div id="lbl6" class="row mb-2 d-none">
                                <label class="col-form-label col-sm-4">Bde</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label unit-label-background" id="lblBde"></label>
                                </div>
                            </div>
                            <div id="lbl7" class="row mb-2 d-none">
                                <label class="col-form-label col-sm-4">Type of Fmn / Branch</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label unit-label-background" id="lblFmn"></label>
                                </div>
                            </div>
                            <div class="col-sm-12 text-right">
                                <input type="button" class="btn btn-primary" value="Save" id="btnDomainFlag" onclick="Proceed()" />
                            </div>
                            <div class="col-sm-12" id="msg">
                            </div>
                        </div>
                    </form>

                    <div class="col-sm-12" id="msg">
                    </div>
                </div>
            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>

<div class="modal fade" id="AddMapping" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mapping Add / Remove</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body model-body-background">
                <div class="row">
                    <form action="" id="SaveMapping" name="SaveMapping" method="post">
                        <div class="row">
                            <span class=" d-none" id="spnDomainRegIdForMapping">0</span>
                            <div class="form-group row mb-2">
                                <label class="col-form-label col-sm-4 model-body-label">Domain Id</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label unit-label-background" id="lblDomainIdForMapping"></label>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-form-label col-sm-4">Role</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label unit-label-background" id="lblRoleForMapping"></label>
                                </div>
                            </div>
                            <div class="form-group row mb-4">
                                <label class="col-form-label col-sm-4">Approval</label>
                                <div class="col-sm-8">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="txtapproval" value="true" id="txtapprovalyesForMapping" disabled>
                                        <label class="form-check-label" for="txtapprovalyesForMapping">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="txtapproval" value="false" id="txtapprovalnoForMapping" disabled>
                                        <label class="form-check-label" for="txtapprovalnoForMapping">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-4">
                                <label class="col-form-label col-sm-4">Active</label>
                                <div class="col-sm-8">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="txtactive" value="true" id="txtactiveyesForMapping" disabled>
                                        <label class="form-check-label" for="txtactiveyesForMapping">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="txtactive" value="false" id="txtactivenoForMapping" disabled>
                                        <label class="form-check-label" for="txtactivenoForMapping">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <span class=" d-none" id="spnTrnDomainMappingIdForMapping">0</span>
                                <label class="col-form-label col-sm-4">Appointment Name</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label unit-label-background" id="lblAppointmentNameForMapping"></label>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-form-label col-sm-4">Unit Name</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label unit-label-background" id="lblUnitNameForMapping"></label>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label class="col-form-label col-sm-4">Sus No</label>
                                <div class="col-sm-8">
                                    <label id="lblSusnoForMapping" class="col-form-label unit-label-background"></label>
                                </div>
                            </div>
                            <div id="lblM1" class="row mb-2 d-none">
                                <label class="col-form-label col-sm-4 ">PSO / Dte</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label unit-label-background" id="lblPsoForMapping"></label>
                                </div>
                            </div>
                            <div id="lblM2" class="row mb-2 d-none">
                                <label class="col-form-label col-sm-4 ">DG / Sub Dte</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label unit-label-background" id="lblDGForMapping"></label>
                                </div>
                            </div>
                            <div id="lblM3" class="row mb-2 d-none">
                                <label class="col-form-label col-sm-4">Comd / PSO</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label unit-label-background" id="lblComdForMapping"></label>
                                </div>
                            </div>
                            <div id="lblM4" class="row mb-2 d-none">
                                <label class="col-form-label col-sm-4">Corps / Dte / Area</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label unit-label-background" id="lblCorpsForMapping"></label>
                                </div>
                            </div>
                            <div id="lblM5" class="row mb-2 d-none">
                                <label class="col-form-label col-sm-4">Div / Branch / Sub Area</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label unit-label-background" id="lblDivForMapping"></label>
                                </div>
                            </div>
                            <div id="lblM6" class="row mb-2 d-none">
                                <label class="col-form-label col-sm-4">Bde</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label unit-label-background" id="lblBdeForMapping"></label>
                                </div>
                            </div>
                            <div id="lblM7" class="row mb-2 d-none">
                                <label class="col-form-label col-sm-4">Type of Fmn / Branch</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label unit-label-background" id="lblFmnForMapping"></label>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <span class=" d-none" id="spnUserProfileId">0</span>
                                <label class="col-form-label col-sm-4">Offrs Army No</label>
                                <div class="col-sm-8">
                                    <input class="form-control" placeholder="Enter Army No" id="txtArmyNo" name="txtArmyNo" minlength="7" maxlength="15" data-val="true" data-val-regex="This special chars and space not allowed for security reasons." data-val-regex-pattern="^[\w\-]+$" />
                                    <span class="text-danger field-validation-valid" data-valmsg-for="txtArmyNo" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-form-label col-sm-4">Name</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label unit-label-background" id="lblName"></label>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-form-label col-sm-4">Rank</label>
                                <div class="col-sm-8">
                                    <label class="col-form-label unit-label-background" id="lblRank"></label>
                                </div>
                            </div>
                            <div class="col-sm-12 text-right">
                                <input type="button" class="btn btn-primary" value="Save" id="btnAddMapping" onclick="ProceedForMapping()" />
                            </div>
                            <div class="col-sm-12" id="msg">
                            </div>
                        </div>
                    </form>

                    <div class="col-sm-12" id="msg">
                    </div>
                </div>
            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>

<div class="modal fade" id="DataTableDialog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Details</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body model-body-background">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table border border-purple table-striped no-footer table-hover" role="grid" id="tbldatadialog">
                            <thead>
                                <tr>
                                    <th class="nowrap">Reg Id</th>
                                    <th class="nowrap">Domain Id</th>
                                    <th class="nowrap">IC No</th>
                                    <th class="nowrap">Role</th>
                                    <th class="nowrap">Requested Genr On (DT)</th>
                                    <th class="nowrap">Mapping</th>
                                    <th class="nowrap">IsActive</th>
                                    <th class="nowrap">Status</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="col-sm-12" id="msg">
                    </div>
                </div>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>