@{
    ViewData["Title"] = "Add Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<div class="container mt-4">
    <div class="card mb-3 ">
    <div class="card mb-3 ">
        <div class="card-header">
            <input class="form-control d-none" type="text" id="armyNo" value=@ViewBag.armyNo>
            <span id="SpnTxnId" class="d-none">0</span>
            @*<span id="PtoId" class="d-none">0</span>*@
            <div class="row">
                <div class="col-xl-12 text-left">
                    <h3>
                        Add Profile
                        <small class="text-muted"> Page</small>


                    </h3>
                </div>


            </div>
        </div>



    </div>
    <div class="card-body" style="min-height:150px;">

            <div class="row">



                <form action="" id="SaveFormProfile" method="post" name="SaveForm">
                    <div class="row">
                        <span class=" d-none" id="spnUnitMapUnitId">0</span>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Personal information</h5>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group row mb-2">
                                            <label class="col-form-label col-sm-4">Army No</label>
                                            <div class="col-sm-8">
                                                <i class="fas fa-asterisk mand"></i>
                                                <input class="form-control Alphanumeric" placeholder="Enter Army No" id="txtProArmy" required pattern="^[a-zA-Z0-9 ]*$" maxlength="8" title="Only Alphabets and Numbers allowed" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group row mb-2">
                                            <label class="col-form-label col-sm-4">Rank</label>
                                            <div class="col-sm-8">
                                                <i class="fas fa-asterisk mand"></i>
                                                <select class=" js-example-basic-single select2 form-control" style="width: 100%;" tabindex="-1" aria-hidden="true" name="ddlProRank" required id="ddlProRank">
                                                    <option value="0">Select Rank </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group row mb-2">
                                            <label class="col-form-label col-sm-4">Name</label>
                                            <div class="col-sm-8">
                                                <i class="fas fa-asterisk mand"></i>
                                                <input class="form-control Alphanumeric" placeholder="Enter Name" id="txtName" required pattern="^[a-zA-Z0-9 ]*$" maxlength="8" title="Only Alphabets and Numbers allowed" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group row mb-2">
                                            <label class="col-form-label col-sm-4">Formation</label>
                                            <div class="col-sm-8">
                                                <i class="fas fa-asterisk mand"></i>
                                                <select class=" js-example-basic-single select2 form-control" style="width: 100%;" tabindex="-1" aria-hidden="true" name="ddlProFormation" required id="ddlProFormation">
                                                    <option value="0">Select Formation </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group row mb-2">
                                            <label class="col-form-label col-sm-4">Appt.</label>
                                            <div class="col-sm-8">
                                                <i class="fas fa-asterisk mand"></i>
                                                <select class=" js-example-basic-single select2 form-control" style="width: 100%;" tabindex="-1" aria-hidden="true" name="ddlProAppointment" required id="ddlProAppointment">
                                                    <option value="0">Select Appointment </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mt-2">
                            <div class="card-body">
                                <h5 class="card-title">Unit Details</h5>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group row mb-2">
                                            <label class="col-form-label col-sm-4">Unit</label>
                                            <div class="col-sm-6">
                                                <i class="fas fa-asterisk mand"></i>
                                                <input class="form-control Alphanumeric" placeholder="Enter Unit" data-toggle="tooltip" data-placement="top" title="Enter Army No" id="txtProUnit" required pattern="^[a-zA-Z0-9 ]*$" title="Only Alphabets and Numbers allowed" />
                                            </div>
                                            <div class="col-sm-2">
                                                <button type="button" class="btn btn-icon btn-round btn-warning" id="btnProUnitAdd" data-toggle="tooltip" data-placement="top" title="Click To New Unit"><i class="fas fa-plus"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group row mb-2">
                                            <label class="col-form-label col-sm-4">Sus No</label>
                                            <div class="col-sm-8">
                                                <i class="fas fa-asterisk mand"></i>
                                                <label class="col-form-label" id="lblProSusno"></label>
                                                @* <input class="form-control Alphanumeric" placeholder="Enter SUS No" id="txtProSusno" required pattern="^[a-zA-Z0-9 ]*$" maxlength="8" title="Only Alphabets and Numbers allowed" /> *@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group row mb-2">
                                            <label class="col-form-label col-sm-4">Comd</label>
                                            <div class="col-sm-8">
                                                <label class="col-form-label" id="lblProComd"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group row mb-2">
                                            <label class="col-form-label col-sm-4">Corps</label>
                                            <div class="col-sm-8">
                                                <label class="col-form-label" id="lblProCorps"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group row mb-2">
                                            <label class="col-form-label col-sm-4">Div</label>
                                            <div class="col-sm-8">
                                                <label class="col-form-label" id="lblProDiv"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group row mb-2">
                                            <label class="col-form-label col-sm-4">Bde</label>
                                            <div class="col-sm-8">
                                                <label class="col-form-label" id="lblPrBde"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card mt-2">
                            <div class="card-body">
                                <h5 class="card-title">IO Details</h5>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group row mb-2">
                                            <label class="col-form-label col-sm-4">IO Army No</label>
                                            <div class="col-sm-6">
                                                <i class="fas fa-asterisk mand"></i>
                                                <input class="form-control Alphanumeric" placeholder="Enter IO Army No" id="txtProIOArmyNo" data-toggle="tooltip" data-placement="top" title="Enter Army No" required pattern="^[a-zA-Z0-9 ]*$" title="Only Alphabets and Numbers allowed" />
                                            </div>
                                            <div class="col-sm-2">
                                                <button type="button" class="btn btn-icon btn-round btn-warning" id="btnIOProAdd" data-toggle="tooltip" data-placement="top" title="Click To New IO Details"><i class="fas fa-plus"></i></button>
                                            </div>
                                           @*  <div class="col-sm-8 IOlbl">
                                                <i class="fas fa-asterisk mand"></i>
                                                <label id="lblIOProAdd" class="form-control"></label>
                                            </div> *@
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group row mb-2">
                                            <label class="col-form-label col-sm-4">IO Rank</label>
                                            <div class="col-sm-8 ">
                                                <i class="fas fa-asterisk mand"></i>
                                                <select class=" js-example-basic-single select2 form-control IO" style="width: 100%;" tabindex="-1" aria-hidden="true" name="ddlProIORank" required id="ddlProIORank">
                                                    <option value="0">Select IO Rank </option>
                                                </select>
                                                <label id="lblProIORank" class="col-form-label IOlbl"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group row mb-2">
                                            <label class="col-form-label col-sm-4">IO Name</label>
                                            <div class="col-sm-8 ">
                                                <i class="fas fa-asterisk mand"></i>
                                                <input class="form-control Alphanumeric IO" placeholder="Enter IO Name" id="txtProIOName" required pattern="^[a-zA-Z0-9 ]*$" maxlength="200" title="Only Alphabets and Numbers allowed" />
                                                <label id="lblProIOName" class="col-form-label IOlbl"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group row mb-2">
                                            <label class="col-form-label col-sm-4">IO Formation</label>
                                            <div class="col-sm-8 ">
                                                <i class="fas fa-asterisk mand"></i>
                                                <select class=" js-example-basic-single select2 form-control IO" style="width: 100%;" tabindex="-1" aria-hidden="true" name="ddlProIOFormation" required id="ddlProIOFormation">
                                                    <option value="0">Select Io Formation </option>
                                                </select>
                                                <label id="lblProIOFormation" class="col-form-label IOlbl"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group row mb-2">
                                            <label class="col-form-label col-sm-4">IO Appt.</label>
                                            <div class="col-sm-8 ">
                                                <i class="fas fa-asterisk mand"></i>
                                                <select class=" js-example-basic-single select2 form-control IO" style="width: 100%;" tabindex="-1" aria-hidden="true" name="ddlProIOAppointment" required id="ddlProIOAppointment">
                                                    <option value="0">Select IO Appointment </option>
                                                </select>
                                                <label id="lblProIOAppointment" class="col-form-label IOlbl"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group row mb-2">
                                            <label class="col-form-label col-sm-4">IO  Unit</label>
                                            <div class="col-sm-6 IO">
                                                <i class="fas fa-asterisk mand"></i>
                                                <input class="form-control Alphanumeric" placeholder="Enter IO Army No" id="txtProIOformunit" required pattern="^[a-zA-Z0-9 ]*$" title="Only Alphabets and Numbers allowed" />
                                            </div>
                                            <div class="col-sm-2 IO">
                                                <button type="button" class="btn btn-icon btn-round btn-warning" id="btnIOUnitAdd"><i class="fas fa-plus"></i></button>
                                            </div>
                                            <div class="col-sm-8">
                                                <i class="fas fa-asterisk mand"></i>
                                                <label id="lblIOProAdd" class="col-form-label IOlbl"></label>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    
                                </div>
                            </div>
                        </div>

                        <div class="card mt-2">
                            <div class="card-body">
                                <h5 class="card-title">GSO Details</h5>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group row mb-2">
                                            <label class="col-form-label col-sm-4">GSO Army No</label>
                                            <div class="col-sm-6">
                                                <i class="fas fa-asterisk mand"></i>
                                                <input class="form-control Alphanumeric" placeholder="Enter GSO Army No" id="txtProGSOArmyNo" data-toggle="tooltip" data-placement="top" title="Enter Army No" required pattern="^[a-zA-Z0-9 ]*$" title="Only Alphabets and Numbers allowed" />
                                                @* <label class="form-control" id="lblProGSOArmyNo"></label> *@
                                            </div>
                                            <div class="col-sm-2">
                                                <button type="button" class="btn btn-icon btn-round btn-warning" data-toggle="tooltip" data-placement="top" title="Click To New GSO Details" id="btnGSOProAdd"><i class="fas fa-plus"></i></button>
                                            </div>
                                          @*   <div class="col-sm-8">
                                                <i class="fas fa-asterisk mand"></i>
                                                <label class="form-control" id="lblProGSOArmyNo"></label>
                                            </div> *@
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group row mb-2">
                                            <label class="col-form-label col-sm-4">GSO Rank</label>
                                            <div class="col-sm-8">
                                                <i class="fas fa-asterisk mand"></i>
                                                <select class="form-control GSO" style="width: 100%;" tabindex="-1" aria-hidden="true" name="ddlProGSORank" required id="ddlProIORank">
                                                    <option value="0">Select GSO Rank </option>
                                                </select>
                                                <label class="col-form-label GSolbl" id="lblProGSORank"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group row mb-2">
                                            <label class="col-form-label col-sm-4">GSO Name</label>
                                            <div class="col-sm-8">
                                                <i class="fas fa-asterisk mand"></i>
                                                <input class="form-control Alphanumeric GSO" placeholder="Enter GSO Name" id="txtGSOName" required pattern="^[a-zA-Z0-9 ]*$" maxlength="200" title="Only Alphabets and Numbers allowed" />
                                                <label class="col-form-label GSolbl" id="lblGSOName"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group row mb-2">
                                            <label class="col-form-label col-sm-4">GSO Formation</label>
                                            <div class="col-sm-8">
                                                <i class="fas fa-asterisk mand"></i>
                                                <select class=" js-example-basic-single select2 form-control GSO" style="width: 100%;" tabindex="-1" aria-hidden="true" name="ddlProGSOFormation" required id="ddlProGSOFormation">
                                                    <option value="0">Select GSO Formation </option>
                                                </select>
                                                <label class="col-form-label GSOlbl" id="lblProGSOFormation"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group row mb-2">
                                            <label class="col-form-label col-sm-4">GSO Appt.</label>
                                            <div class="col-sm-8">
                                                <i class="fas fa-asterisk mand"></i>
                                                <select class=" js-example-basic-single select2 form-control GSO" style="width: 100%;" tabindex="-1" aria-hidden="true" name="ddlProGSOAppointment" required id="ddlProGSOAppointment">
                                                    <option value="0">Select GSO Appointment </option>
                                                </select>
                                                <label class="col-form-label GSOlbl" id="lblProGSOAppointment"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group row mb-2">
                                            <label class="col-form-label col-sm-4">GSO  Unit</label>
                                            <div class="col-sm-6 GSO">
                                                <i class="fas fa-asterisk mand"></i>
                                                <input class="form-control Alphanumeric " placeholder="Enter GSO Army No" id="txtProGSOformunit" required pattern="^[a-zA-Z0-9 ]*$" title="Only Alphabets and Numbers allowed" />
                                                <label class="col-form-label" id="lblProGSOformunit"></label>
                                            </div>
                                            <div class="col-sm-2 GSO">
                                                <button type="button" class="btn btn-icon btn-round btn-warning " id="btnGSOUnitAdd"><i class="fas fa-plus"></i></button>
                                            </div>
                                            <div class="col-sm-8">
                                                <i class="fas fa-asterisk mand"></i>
                                                <label class="col-form-label GSOlbl" id="lblProGSOformunit"></label>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>


                        <div class="col-sm-12 text-right mt-2">
                            <input type="button" class="btn btn-primary " value="Save" id="btnProfilesave" />
                            <button type="button" id="btnProfileReset" class="btn btn-outline-danger">Reset</button>
                        </div>
                        <div class="col-sm-12" id="msg">
                        </div>
                    </div>
                </form>

                <div class="col-sm-12" id="msg">
                </div>
            </div>


    </div>

</div>
</div>


<script src="~/developerjs/mtables.js"></script>
<script src="~/developerjs/mapunit.js"></script>
<script src="~/developerjs/profile.js"></script>