@model DTOProfileDataCrtRequest
@{
    ViewBag.Title = "Create Profile";
}
<div class="row g-3 row-deck mb-3">
    <div class="card mb-4">
        <div class="card-header py-3 d-flex  bg-transparent">
            <h6 class="mb-0 fw-bold"></h6>
        </div>
        <form enctype="multipart/form-data" asp-controller="ProfileData" name="ProfileData" id="ProfileData" asp-action="Create" method="post" class="mt-3">
            <div class="card-body">
                <input hidden asp-for="IsSubmit" id="IsSubmit" name="IsSubmit" />
                <div class="row">
                    <div class="col-xl-6">
                        <div class="row mb-3 required">
                            <label class="col-sm-1 col-form-label text-center font-weight-bold">1.</label>
                            <label asp-for="ArmyNumber" class="col-sm-3 col-form-label form-label"></label>
                            <div class="col-sm-2">
                                <select asp-for="ArmyNumberPart1" class="form-control" asp-items="ViewBag.OptionsArmyNumberPart1">
                                </select>
                                <span asp-validation-for="ArmyNumberPart1" class="text-danger"></span>
                            </div>
                            <div class="col-sm-4">
                                <input asp-for="ArmyNumberPart2" class="form-control" placeholder="Only Number" />
                                <span asp-validation-for="ArmyNumberPart2" class="text-danger"></span>
                            </div>
                            <div class="col-sm-2">
                                <select asp-for="ArmyNumberPart3" class="form-control" asp-items="ViewBag.OptionsArmyNumberPart3">
                                </select>
                                <span asp-validation-for="ArmyNumberPart3" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3 required">
                            <label class="col-sm-1 col-form-label text-center font-weight-bold">2.</label>
                            <label asp-for="UnitSusNo" class="col-sm-3 col-form-label form-label"></label>
                            <div class="col-sm-4">
                                <input asp-for="UnitSusNoPart1" class="form-control" placeholder="Only Number" />
                                <span asp-validation-for="UnitSusNoPart1" class="text-danger"></span>
                            </div>
                            <div class="col-sm-2">
                                <select asp-for="UnitSusNoPart2" class="form-control" asp-items="ViewBag.OptionsArmyNumberPart3">
                                </select>
                                <span asp-validation-for="UnitSusNoPart2" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3 required">
                            <label class="col-sm-1 col-form-label text-center font-weight-bold">3.</label>
                            <label asp-for="Rank" class="col-sm-3 col-form-label form-label"></label>
                            <div class="col-sm-6">
                                <select asp-for="Rank" class="form-control" asp-items="ViewBag.OptionsRank">
                                </select>
                                <span asp-validation-for="Rank" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row  mb-3 required">
                            <label class="col-sm-1 col-form-label text-center font-weight-bold">4.</label>
                            <label asp-for="Name" class="col-sm-3 col-form-label form-label"></label>
                            <div class="col-sm-6">
                                <input asp-for="Name" class="form-control" placeholder="Name" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row mb-3 required">
                            <label class="col-sm-1 col-form-label text-center font-weight-bold">5.</label>
                            <label asp-for="Appointment" class="col-sm-3 col-form-label form-label"></label>
                            <div class="col-sm-6">
                                <input asp-for="Appointment" class="form-control" placeholder="Appointment" />
                                <span asp-validation-for="Appointment" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3 required">
                            <label class="col-sm-1 col-form-label text-center font-weight-bold">6.</label>
                            <label asp-for="DomainId" class="col-sm-3 col-form-label form-label"></label>
                            <div class="col-sm-6">
                                <input asp-for="DomainId" class="form-control" placeholder="Domain Id" />
                                <span asp-validation-for="DomainId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-1 col-form-label text-center font-weight-bold">7.</label>
                            <label asp-for="UnitName" class="col-sm-3 col-form-label form-label"></label>
                            <div class="col-sm-6">
                                <input asp-for="UnitName" class="form-control" />
                                <span asp-validation-for="UnitName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3 required">
                            <label class="col-sm-1 col-form-label text-center font-weight-bold">8.</label>
                            <label asp-for="TypeOfUnit" class="col-sm-3 col-form-label form-label"></label>
                            <div class="col-sm-6">
                                <select asp-for="TypeOfUnit" class="form-control" asp-items="ViewBag.OptionsTypeOfUnit" onchange="ProfileDisabledField(this.value);">
                                </select>
                                <span asp-validation-for="TypeOfUnit" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3 required">
                            <label class="col-sm-1 col-form-label text-center font-weight-bold">9.</label>
                            <label class="col-sm-3 col-form-label form-label">Unit of Hierarchy</label>
                            <div class="col-sm-2 form-floating">
                                <select asp-for="Comd" class="form-control" asp-items="ViewBag.OptionsComd" disabled>
                                </select>
                                <label asp-for="Comd"></label>
                                <span asp-validation-for="Comd" class="text-danger"></span>
                            </div>
                            <div class="col-sm-2 form-floating">
                                <select asp-for="Corps" class="form-control" asp-items="ViewBag.OptionsCorps" disabled>
                                </select>
                                <label asp-for="Corps"></label>
                                <span asp-validation-for="Corps" class="text-danger"></span>
                            </div>
                            <div class="col-sm-2 form-floating">
                                <select asp-for="Div" class="form-control" asp-items="ViewBag.OptionsDiv" disabled>
                                </select>
                                <label asp-for="Div"></label>
                                <span asp-validation-for="Div" class="text-danger"></span>
                            </div>
                            <div class="col-sm-2 form-floating">
                                <select asp-for="Bde" class="form-control" asp-items="ViewBag.OptionsTemp" disabled>
                                </select>
                                <label asp-for="Bde"></label>
                                <span asp-validation-for="Bde" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3 required">
                            <label class="col-sm-1 col-form-label text-center font-weight-bold">10.</label>
                            <label asp-for="InitiatingOfficerArmyNumber" class="col-sm-3 col-form-label form-label"></label>
                            <div class="col-sm-2">
                                <select asp-for="IOArmyNumberPart1" class="form-control" asp-items="ViewBag.OptionsArmyNumberPart1">
                                </select>
                                <span asp-validation-for="IOArmyNumberPart1" class="text-danger"></span>
                            </div>
                            <div class="col-sm-4">
                                <input asp-for="IOArmyNumberPart2" class="form-control" placeholder="Only Number" />
                                <span asp-validation-for="IOArmyNumberPart2" class="text-danger"></span>
                            </div>
                            <div class="col-sm-2">
                                <select asp-for="IOArmyNumberPart3" class="form-control" asp-items="ViewBag.OptionsArmyNumberPart3">
                                </select>
                                <span asp-validation-for="IOArmyNumberPart3" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="row mb-3 required">
                            <label class="col-sm-1 col-form-label text-center font-weight-bold">11.</label>
                            <label asp-for="IORank" class="col-sm-3 col-form-label form-label"></label>
                            <div class="col-sm-6">
                                <select asp-for="IORank" class="form-control" asp-items="ViewBag.OptionsRank">
                                </select>
                                <span asp-validation-for="IORank" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row  mb-3 required">
                            <label class="col-sm-1 col-form-label text-center font-weight-bold">12.</label>
                            <label asp-for="IOName" class="col-sm-3 col-form-label form-label"></label>
                            <div class="col-sm-6">
                                <input asp-for="IOName" class="form-control" placeholder="Name" />
                                <span asp-validation-for="IOName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row mb-3 required">
                            <label class="col-sm-1 col-form-label text-center font-weight-bold">13.</label>
                            <label asp-for="IOAppointment" class="col-sm-3 col-form-label form-label"></label>
                            <div class="col-sm-6">
                                <input asp-for="IOAppointment" class="form-control" placeholder="Appointment" />
                                <span asp-validation-for="Appointment" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3 required">
                            <label class="col-sm-1 col-form-label text-center font-weight-bold">14.</label>
                            <label asp-for="IOUnitFormation" class="col-sm-3 col-form-label form-label"></label>
                            <div class="col-sm-6">
                                <input asp-for="IOUnitFormation" class="form-control" placeholder="Formation / Unit" />
                                <span asp-validation-for="IOUnitFormation" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3 required">
                            <label class="col-sm-1 col-form-label text-center font-weight-bold">15.</label>
                            <label asp-for="GISOfficerArmyNumber" class="col-sm-3 col-form-label form-label"></label>
                            <div class="col-sm-2">
                                <select asp-for="GISArmyNumberPart1" class="form-control" asp-items="ViewBag.OptionsArmyNumberPart1">
                                </select>
                                <span asp-validation-for="GISArmyNumberPart1" class="text-danger"></span>
                            </div>
                            <div class="col-sm-4">
                                <input asp-for="GISArmyNumberPart2" class="form-control" placeholder="Only Number"/>
                                <span asp-validation-for="GISArmyNumberPart2" class="text-danger"></span>
                            </div>
                            <div class="col-sm-2">
                                <select asp-for="GISArmyNumberPart3" class="form-control" asp-items="ViewBag.OptionsArmyNumberPart3">
                                </select>
                                <span asp-validation-for="GISArmyNumberPart3" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3 required">
                            <label class="col-sm-1 col-form-label text-center font-weight-bold">16.</label>
                            <label asp-for="GISRank" class="col-sm-3 col-form-label form-label"></label>
                            <div class="col-sm-6">
                                <select asp-for="GISRank" class="form-control" asp-items="ViewBag.OptionsRank">
                                </select>
                                <span asp-validation-for="GISRank" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row  mb-3 required">
                            <label class="col-sm-1 col-form-label text-center font-weight-bold">17.</label>
                            <label asp-for="GISName" class="col-sm-3 col-form-label form-label"></label>
                            <div class="col-sm-6">
                                <input asp-for="GISName" class="form-control" placeholder="Name" />
                                <span asp-validation-for="GISName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row mb-3 required">
                            <label class="col-sm-1 col-form-label text-center font-weight-bold">18.</label>
                            <label asp-for="GISAppointment" class="col-sm-3 col-form-label form-label"></label>
                            <div class="col-sm-6">
                                <input asp-for="GISAppointment" class="form-control" placeholder="Appointment" />
                                <span asp-validation-for="GISAppointment" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3 required">
                            <label class="col-sm-1 col-form-label text-center font-weight-bold">19.</label>
                            <label asp-for="GISUnitFormation" class="col-sm-3 col-form-label form-label"></label>
                            <div class="col-sm-6">
                                <input asp-for="GISUnitFormation" class="form-control" placeholder="Formation / Unit" />
                                <span asp-validation-for="GISUnitFormation" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
            <div class="card-footer text-center">
                <button type="button" id="btngetDummyData" name="btngetDummyData" class="btn btn-primary" onclick="ProfileDummyData();">Dummy Data</button>
                <button type="button" class="btn btn-primary" onclick="resetForm(this.form.id);">Clear</button>
                <button type="submit" class="btn btn-primary">Save</button>
                <a asp-action="Index" asp-controller="ProfileData" class="btn btn-primary">Back</a>
            </div>
        </form>
    </div>
</div>
@section Scripts{
    <script asp-src-include="~/js/CustomScript.js"></script>
    <script>
         $(document).ready(function () {
             ProfileEnableDisabledField();
         });
    </script>
    }
