@model BasicDetailUpdVMPart1
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Title = "Part 1";
    ViewBag.Action = "Part1";
}
<div class="row g-3 row-deck mb-3">
    <div class="card mb-4">
        <div class="card-header bg-light">@Html.Partial("_Steps")</div>
        <form enctype="multipart/form-data" asp-controller="BasicDetail" asp-action="Part1" id="Part1" name="Part1" method="post" class="mt-3">
            <div class="card-body">
                <input hidden asp-for="BasicDetailId" />
                <input hidden asp-for="EncryptedId" />
                <input hidden asp-for="DOB"/>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="row mb-3 required">
                            <label asp-for="Name" class="col-sm-3 col-form-label form-label"></label>
                            <div class="col-sm-4">
                                <input asp-for="Name" class="form-control" placeholder="Max 36 Characters incl spaces" readonly />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3 required">
                            <label asp-for="ServiceNo" class="col-sm-3 col-form-label form-label"></label>
                            <div class="col-sm-4">
                                <input asp-for="ServiceNo" class="form-control" placeholder="IC-12345X/JC-12345X" readonly />
                                <span asp-validation-for="ServiceNo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="DOB" class="col-sm-3 col-form-label form-label"></label>
                            <div class="col-sm-4">
                                <input type="text" id="DOB_" name="DOB_" class="form-control" value="@Model.DOB.ToString("dd/MMM/yyyy")" readonly />
                                <span asp-validation-for="DOB" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="DateOfCommissioning" class="col-sm-3 col-form-label form-label"></label>
                            <div class="col-sm-4">
                                <input asp-for="DateOfCommissioning" type="date" class="form-control" max="2999-12-31" readonly />
                                <span asp-validation-for="DateOfCommissioning" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3 required">
                            <label asp-for="PermanentAddress" class="col-sm-3 col-form-label form-label"></label>
                            <div class="col-sm-8">
                                <input asp-for="PermanentAddress" class="form-control" placeholder="" readonly />
                                <span asp-validation-for="PermanentAddress" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <a asp-action="Index" asp-controller="BasicDetail" class="btn btn-primary">Back To Index</a>
                <button type="submit" class="btn btn-primary">Next</button>
            </div>
        </form>
    </div>
</div>
@section Scripts{
    <script asp-src-include="~/js/CustomScript.js"></script>
    }