.swal2-confirm, .swal2-styled {
    background: #D97924 !important;
}

.login-wrap {
    margin-top: 50px;
    margin-bottom: 100px;
    /* border: 7px double #242c6d; */
    border-radius: 10px;
    box-shadow: 0px 0px 40px rgb(217 121 4 / 23%);
    z-index: 1;
    margin-left: 32%;
}

body {
    /*   background-image: url('/images/logo-white.jpg'); */
    background-size: cover;
    background-color: #0d2470;
    background-repeat: no-repeat;
}
