.swal2-html-container {
    color: red !important;
}

.modal-xl {
    max-width: 90% !important;
    width: 90% !important;
}

.table {
    min-width: 100% !important;
}

.modal .modal-body .table-responsive {
    max-height: 500px;
}
#tbldata {
    table-layout: fixed !important;
}
#tbldatadialog {
    table-layout: fixed !important;
}