.table td img, .jsgrid .jsgrid-table td img {
    width: 36px;
    height: 36px;
    border-radius: 0%;
}

.form-group .labelprofile {
    font-size: 18px;
    font-weight: 700;
}

.minheight {
    min-height: 300px;
}
