.login-wrap {
    margin-top: 15px;
    margin-left: 33%;
    margin-right: 33%;
    /*margin-bottom: 100px;*/
    /*    margin-left: -50px;*/
    /*  border: 7px double #242c6d;*/
    width: 33%;
}
#lblZipFile {
    color: red;
}