.count-label {
    background-color: #044C92;
    text-align: center;
    padding: 0.5rem !important;
    margin-right: 0.25rem !important;
    border: hidden;
    font-weight: 700 !important;
    color: #fff !important;
    width: 120px;
    height: 60px;
}

.modal-xl {
    max-width: 90% !important;
    width: 90% !important;
}

.table {
    min-width: 100% !important;
}

.modal .modal-body .table-responsive {
    max-height: 500px;
}

.thicker-bold {
    font-weight: 500 !important;
}
.search-field {
    max-width: 180px;
}
.search-input-container {
    max-width: 250px;
}
.lot-details-scroll {
    white-space: nowrap;
    overflow-x: auto;
}