.containerMain {
    margin-left: 30%;
    margin-right: 30%;
}

.labelprofile {
    font-weight: 640 !important;
}

.modal.left .modal-dialog, .modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 700px;
    height: 100%;
    text-align: left;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}
