.select2-container--default .select2-selection--multiple .select2-selection__choice {
    font-size: .925rem;
}

footer {
    padding: 5px;
    /* background: linear-gradient(90deg, rgba(0,211,255,1) 0%, rgba(12,141,242,1) 66%, rgba(22,125,207,1) 99%); */
    background: #003060 !important;
    color: white;
    margin-top: 20px;
}

footer .text-end span {
    font-size: 0.9rem; /* Optional: Adjust the font size for span values */
}
.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.form-control-Alphabets {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

    .form-control-Alphabets:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    }

.form-control1 {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

    .form-control1:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    }

.form-control-domainId {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

    .form-control-domainId:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    }

.select2-container--default .select2-selection--single,
.select2-selection .select2-selection--single {
    border: 1px solid #d2d6de;
    border-radius: 0;
    padding: 6px 12px;
    height: 34px
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    user-select: none;
    -webkit-user-select: none
}

    .select2-container .select2-selection--single .select2-selection__rendered {
        padding-right: 10px
    }

    .select2-container .select2-selection--single .select2-selection__rendered {
        padding-left: 0;
        padding-right: 0;
        height: auto;
        margin-top: -3px
    }

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px
}

.select2-container--default .select2-selection--single,
.select2-selection .select2-selection--single {
    border: 1px solid #d2d6de;
    border-radius: 0 !important;
    padding: 6px 12px;
    height: 40px !important
}

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 26px;
        position: absolute;
        top: 6px !important;
        right: 1px;
        width: 20px;
    }

.unit-label-background {
    background-color: #e9ecef;
    max-width: 200px;
    min-width: 200px;
    height: 45px;
}

.select2-dropdown {
    color: black;
    text-align: left;
}

.select2-container--default .select2-results > .select2-results__options {
    max-height: 200px;
    overflow-y: auto;
    text-align: left;
}
/* Make Select2 container full-width for select3 controls */
.select3 + .select2-container {
    width: 100% !important;
}

/* (Optional but recommended) Make the search box inside multi-select full width */
.select2-container--default .select2-selection--multiple .select2-search__field {
    min-width: 100% !important;
}
.modal-body {
    color: black;
}

.page-header-title a {
    text-decoration: none !important;
    color: white;
}


.watermark {
    position: fixed;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.1;
    z-index: 1000;
    pointer-events: none;
    text-align: center;
    margin-top: 6rem;
}

.watermark1 {
    position: fixed;
    top: 50%;
    left: 12%;
    transform: translate(-25%, -20%) rotate(-45deg);
    opacity: 0.6;
    z-index: 1000;
    pointer-events: none;
    text-align: left;
    margin-top: 6rem;
}

.watermark2 {
    position: fixed;
    top: 50%;
    right: 12%;
    transform: translate(-25%, -20%) rotate(-45deg);
    opacity: 0.4;
    z-index: 1000;
    pointer-events: none;
    text-align: right;
    margin-top: 6rem;
}

.watermark img {
    width: 150px;
}

.watermark h4, .watermark span {
    margin: 0;
    font-size: 14px;
    color: rgba(50, 50, 50, 0.8);
}

.watermark img {
    width: 700px;
    height: 700px;
}
.footer-placeholder {
    width: 20%;
}
.mt--20 {
    margin-top: -20px;
}
.signature-box {
    background-color: white;
}
.identification-mark {
    line-height: 1;
}
.line-zero {
    line-height: 0 !important;
}
.modal-history {
    width: 500px !important;
}
.full-width {
    width: 100%;
}
.card-body-min-height {
    min-height: 150px;
}
.textarea-auto-height {
    height: auto !important;
}
.modal {
    --bs-modal-zindex: 1055;
    --bs-modal-width: 600px;
    --bs-modal-padding: 1rem;
    --bs-modal-margin: 0.5rem;
    --bs-modal-color: var(--bs-body-color);
    --bs-modal-bg: var(--bs-body-bg);
    --bs-modal-border-color: var(--bs-border-color-translucent);
    --bs-modal-border-width: var(--bs-border-width);
    --bs-modal-border-radius: var(--bs-border-radius-lg);
    --bs-modal-box-shadow: var(--bs-box-shadow-sm);
    --bs-modal-inner-border-radius: calc(var(--bs-border-radius-lg) - (var(--bs-border-width)));
    --bs-modal-header-padding-x: 1rem;
    --bs-modal-header-padding-y: 1rem;
    --bs-modal-header-padding: 1rem 1rem;
    --bs-modal-header-border-color: var(--bs-border-color);
    --bs-modal-header-border-width: var(--bs-border-width);
    --bs-modal-title-line-height: 1.5;
    --bs-modal-footer-gap: 0.5rem;
    --bs-modal-footer-border-color: var(--bs-border-color);
    --bs-modal-footer-border-width: var(--bs-border-width);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--bs-modal-zindex);
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}
#unitoffrsModal #suggesstion-box {
    position: relative;
}

#unitoffrsModal .ui-autocomplete {
    max-width: 100% !important;
    overflow-x: hidden !important;
    z-index: 1060; /* above modal body */
}

#unitoffrsModal .ui-menu-item-wrapper {
    white-space: nowrap !important; /* keep in one line */
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: block; /* needed for ellipsis */
}

.line-zero p {
    text-align: left;
}

    .line-zero p span {
        float: right;
    }
