.swal2-confirm, .swal2-styled {
    background: #D97924 !important;
}

body {
    /*   background-image: url('/images/logo-white.jpg'); */
    background-size: cover;
    background-color: lightskyblue;
    background-repeat: no-repeat;
    /* background: linear-gradient(90deg, rgba(0,211,255,1) 0%, rgba(12,141,242,1) 66%, rgba(22,125,207,1) 99%); */
}

.bg-white {
    background: #fff !important;
}

.logoheader {
    background: linear-gradient(90deg, rgba(0,211,255,1) 0%, rgba(12,141,242,1) 66%, rgba(22,125,207,1) 99%);
}
