@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="card mb-3 ">
        <div class="card-header">
            <input class="form-control d-none" type="text" id="armyNo" value=@ViewBag.armyNo>
            <span id="SpnTxnId" class="d-none">0</span>
            @*<span id="PtoId" class="d-none">0</span>*@
            <div class="row">
                <div class="col-xl-12 text-left">
                    <h3>
                        User Details
                        <small class="text-muted"> Page</small>


                    </h3>
                </div>


            </div>
        </div>


       
    </div>
</div>
