@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container1">
    @if(ViewBag.Role=="User")
    {
        <div class="row">

            <div class="card p-4">
                <div class="row">
                    <div class="col-md-2 col-sm-6">
                        <a href="/BasicDetail/Index/MQ==">
                        <div class="counter pink">
                            <div class="counter-icon">
                                <i class="fa fa-address-card"></i>
                            </div>
                            <span class="counter-value" id="TotReq">0</span>
                            <h3>I-Card Request</h3>
                        </div>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <a href="/Home/RequestDashboard/RHJhZnRlZA==">
                            <div class="counter purple">
                                <div class="counter-icon">
                                    <i class="fa fa-user"></i>
                                </div>
                                <h3 style="margin-top:3.5rem!important;">
                                    Drafted Appl
                                </h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <a href="/Home/RequestDashboard/U3VibWl0dGVk">
                            <div class="counter purple">
                                <div class="counter-icon">
                                    <i class="fa fa-user-circle"></i>
                                </div>
                                <h3 style="margin-top:3.5rem!important;">
                                    Submitted Appl
                                </h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <a href="#">
                            <div class="counter purple">
                                <div class="counter-icon">
                                    <i class="fa fa-street-view"></i>
                                </div>
                                <h3 style="margin-top:3.5rem!important;">
                                    Raised Obsn
                                </h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <a href="/Home/RequestDashboard/UmVqZWN0ZWQ=">
                            <div class="counter red">
                                <div class="counter-icon">
                                    <i class="fa fa-ban"></i>
                                </div>
                                <h3 style="margin-top:3.5rem!important;">
                                    Rejected Appl
                                </h3>
                            </div>
                        </a>
                    </div>
                   @*  <div class="col-md-2 col-sm-6">
                        <div class="counter purple">
                            <div class="counter-icon">
                                <i class="fa fa-users"></i>
                            </div>
                            <span class="counter-value" id="TotReject">0</span>
                            <h3>Rejected</h3>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="counter">
                            <div class="counter-icon">
                                <i class="fa fa-magnet"></i>

                            </div>
                            <span class="counter-value" id="TotSelfPen">0</span>
                            <h3>Self Pending</h3>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="counter blue">
                            <div class="counter-icon">
                                <i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i>
                            </div>
                            <span class="counter-value" id="TotIOPen">0</span>
                            <h3>Pending From IO</h3>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="counter green">
                            <div class="counter-icon">
                                <i class="fa fa-user"></i>
                            </div>
                            <span class="counter-value" id="TotGsoPen">0</span>
                            <h3>Pending From GSO</h3>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="counter yellow">
                            <div class="counter-icon">
                                <i class="fa fa-users"></i>
                            </div>
                            <span class="counter-value" id="TotM11Pen">0</span>
                            <h3>Pending From M11</h3>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="counter purple">
                            <div class="counter-icon">
                                <i class="fa fa-address-card" aria-hidden="true"></i>
                            </div>
                            <span class="counter-value" id="TotGQ54Pen">0</span>
                            <h3>Pending From HQ54 Pen</h3>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="counter blue">
                            <div class="counter-icon">
                                <i class="fa fa-address-book" aria-hidden="true"></i>
                            </div>
                            <span class="counter-value" id="TotPrintPen">0</span>
                            <h3>Print Pending </h3>
                        </div>
                    </div> *@
                  

                </div>
            </div>





        </div>
    }
</div>
<script src="~/developerjs/dashboard.js"></script>
<script>
    // $('.counter-value').each(function () {
    //     $(this).prop('Counter', 0).animate({
    //         Counter: $(this).text()
    //     }, {
    //         duration: 3500,
    //         easing: 'swing',
    //         step: function (now) {
    //             $(this).text(Math.ceil(now));
    //         }
    //     });
    // });
</script>