@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="containerMain">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"> <i class="fa fa-bars"></i></div>
                        <a href="/Home/Index" class="mr-2">Home</a> > <a href="/Home/Dashboard" class="mr-2">Dashboard</a>  > User Management

                    </h1>
                </div>
            </div>

        </div>
    </div>
</header>
<div class="containerMain mt-n10">
    <span id="UnitId" class="d-none">@ViewBag.UnitId</span>
    @if (ViewBag.Role == "User")
    {
        <div class="row">
            <div class="card p-4">
                <div class="row">
                    <div class="col-md-2 col-sm-6">
                        <a href="/Home/RegisterUser">
                            <div class="counter purple">
                                <div class="counter-icon">
                                    <i class="fa fa-user"></i>
                                </div>
                                <span class="counter-value" id="TotRegisterUser">0</span>
                                <h3>Register User</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <a href="/Home/RequestDashboard/UG9zdGluZyBJbg==">
                            <div class="counter red">
                                <div class="counter-icon">
                                    <i class="fa fa-ban"></i>
                                </div>
                                <span class="counter-value" id="TotPostingin">0</span>
                                <h3>Posting In</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <a href="/Home/RequestDashboard/UG9zdGluZyBPdXQ=">
                            <div class="counter red">
                                <div class="counter-icon">
                                    <i class="fa fa-ban"></i>
                                </div>
                                <span class="counter-value" id="TotPostingOut">0</span>
                                <h3>Posting Out</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <a href="/Log/LoginLog">
                            <div class="counter pink">
                                <div class="counter-icon">
                                    <i class="fa fa-address-card"></i>
                                </div>
                                <h3 style="margin-top:3.0rem!important;">
                                    Login Log
                                </h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <a href="/UserProfile/Profile">
                            <div class="counter pink">
                                <div class="counter-icon">
                                    <i class="fa fa-address-card"></i>
                                </div>
                                <h3 style="margin-top:3.0rem!important;">
                                    Update Profile
                                </h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<script src="~/developerjs/DashboardUserMgt.js"></script>