@{
    ViewData["Title"] = "Initiate Request DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="containerMain">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"> <i class="fa fa-bars"></i></div>
                        <a href="/Home/Index" class="mr-2">Home</a> > Request

                    </h1>
                </div>
            </div>

        </div>
    </div>
</header>
<div class="containerMain mt-n10">
    @if (ViewBag.Role == "User" || ViewBag.Role == "Coordinator")
    {
        <div class="row">
            <div class="card p-4">
                <div class="row">
                    <div class="col-md-2 col-sm-6">
                        <a href="/Home/Request">
                            <div class="counter purple">
                                <div class="counter-icon">
                                    <i class="fa fa-plus-circle"></i>
                                </div>
                                <h3 style="margin-top:3.5rem!important;">
                                    Initiate Request
                                </h3>

                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>