@inject UserManager<ApplicationUser> userManager;
@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userId = this.User.FindFirstValue(ClaimTypes.NameIdentifier);
    var user = await userManager.FindByIdAsync(userId);
}
@if (ViewBag.Type == "OffrsSubmitted" || ViewBag.Type == "OffrsPending")
{
    <span id="applyForId">1</span>
}
else if (ViewBag.Type == "JCOsSubmitted" || ViewBag.Type == "JCOsPending")
{
    <span id="applyForId">2</span>
}
@if (ViewBag.Type == "OffrsSubmitted" || ViewBag.Type == "JCOsSubmitted")
{
    <span id="Id">1</span>
}
else if (ViewBag.Type == "OffrsPending" || ViewBag.Type == "JCOsPending")
{
    <span id="Id">2</span>
}
<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="containerMain">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"> <i class="fa fa-bars"></i></div>
                        <a href="/Home/Index" class="mr-2">Home</a> > <a href="/Home/Task" class="mr-2">Task</a>  > I-Card Status
                    </h1>
                </div>
            </div>

        </div>
    </div>
</header>
<div class="containerMain mt-n10">

    <div class="row">
        @if (ViewBag.Type == "OffrsSubmitted")
        {
            <div class="card p-4">
                <div class="row">
                    <h5 class="card-title">Status of Appl(Offrs) you have submitted</h5>
                    <div class="col-xl-12 col-sm-12 col-12">
                        <div class="card card-collapsable mb-3">
                            <a class="card-header collapsed" href="#IO" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                Approver Status
                                <div class="card-collapsable-arrow">
                                    <i class="fas fa-angle-double-down"></i>

                                </div>
                                <div class="number1" id="IOTotal"></div>
                            </a>

                            <div class="collapse show" id="IO" style="">

                                <div class="card-body">
                                    <div class="feature-icon-box3 mb-3">
                                        <div class="row">
                                            <div class="col-xl-3 col-sm-4 col-12 mt-2">
                                                <div class="card box-shadow">
                                                    <a href="/BasicDetail/Index/MTE=">
                                                        <div class="number1 SpnIOself" id=""></div>
                                                        <div class="card-content">
                                                            <div class="card-body">
                                                                <div class="media d-flex">
                                                                    <div class="media-body text-left">
                                                                        <h3 class="success" id="ToDraftedOffrs">0</h3>
                                                                        <span class="badge badge-pill badge-warning p-2">Drafted</span>
                                                                    </div>
                                                                    <div class="align-self-center">
                                                                        <i class="text-success fa fa-check-circle fa-3x"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-sm-4 col-12 mt-2">
                                                <div class="card box-shadow">
                                                    <a href="/BasicDetail/Index/ODg=">
                                                        <div class="number1 SpnIOself" id=""></div>
                                                        <div class="card-content">
                                                            <div class="card-body">
                                                                <div class="media d-flex">
                                                                    <div class="media-body text-left">
                                                                        <h3 class="success" id="ToSubmittedOffrs">0</h3>
                                                                        <span class="badge badge-pill badge-warning p-2">Submitted</span>
                                                                    </div>
                                                                    <div class="align-self-center">
                                                                        <i class="text-success fa fa-check-circle fa-3x"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-sm-4 col-12 mt-2">
                                                <div class="card box-shadow">
                                                    <a href="/BasicDetail/Index/OTk=">
                                                        <div class="number1 SpnGSOself" id=""></div>
                                                        <div class="card-content">
                                                            <div class="card-body">
                                                                <div class="media d-flex">
                                                                    <div class="media-body text-left">
                                                                        <h3 class="success" id="ToRejectedOffrs">0</h3>
                                                                        <span class="badge badge-pill badge-success p-2">Rejected</span>
                                                                    </div>
                                                                    <div class="align-self-center">
                                                                        <i class="text-success fa fa-check-circle fa-3x"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-sm-4 col-12 mt-2">
                                                <div class="card box-shadow">
                                                    <a href="/BasicDetail/Index/Nzc=">
                                                        <div class="number1 SpnIORejectself" id=""></div>
                                                        <div class="card-content">
                                                            <div class="card-body">
                                                                <div class="media d-flex">
                                                                    <div class="media-body text-left">
                                                                        <h3 class="success" id="ToCompletedOffrs">0</h3>
                                                                        <span class="badge badge-pill badge-danger p-2">Completed</span>
                                                                    </div>
                                                                    <div class="align-self-center">
                                                                        <i class="text-danger fa fa-times-circle fa-3x" aria-hidden="true"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="col-xl-12 col-sm-12 col-12">
                        <div class="card card-collapsable mb-3">
                            <a class="card-header collapsed" href="#GSO" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                Offr's Record Office (ORO)
                                <div class="card-collapsable-arrow">
                                    <i class="fas fa-angle-double-down"></i>
                                </div>
                            </a>
                            <div class="collapse show" id="GSO" style="">
                                <div class="card-body">
                                    <div class="feature-icon-box3 mb-3">

                                        <div class="row">

                                            <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                <div class="card box-shadow">
                                                    <a href="/BasicDetail/index/Mw==">
                                                        <div class="number1 SpnGSOself" id=""></div>
                                                        <div class="card-content">
                                                            <div class="card-body">
                                                                <div class="media d-flex">
                                                                    <div class="media-body text-left">
                                                                        <h3 class="success _3rdLevelPending">0</h3>

                                                                        <span class="badge badge-pill badge-warning p-2">Pending</span>

                                                                    </div>
                                                                    <div class="align-self-center">

                                                                        @*  <i class="text-warning fa fa-clock fa-3x"></i> *@

                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                <div class="card box-shadow">
                                                    <a href="/BasicDetail/Index/MzMz">
                                                        <div class="number1 SpnMI11self" id=""></div>
                                                        <div class="card-content">
                                                            <div class="card-body">
                                                                <div class="media d-flex">
                                                                    <div class="media-body text-left">
                                                                        <h3 class="success _3rdLevelApproved">0</h3>
                                                                        <span class="badge badge-pill badge-success p-2">Approved</span>
                                                                    </div>
                                                                    <div class="align-self-center">
                                                                        @* <i class="text-success fa fa-check-circle fa-3x"></i> *@
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                <div class="card box-shadow">
                                                    <a href="/BasicDetail/Index/MzM=">
                                                        <div class="number1 SpnGSORejectself" id=""></div>
                                                        <div class="card-content">
                                                            <div class="card-body">
                                                                <div class="media d-flex">
                                                                    <div class="media-body text-left">
                                                                        <h3 class="success _3rdLevelReject">0</h3>
                                                                        <span class="badge badge-pill badge-danger p-2">Rejected</span>
                                                                    </div>
                                                                    <div class="align-self-center">
                                                                        @* <i class="text-danger fa fa-times-circle fa-3x" aria-hidden="true"></i> *@
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12 col-sm-12 col-12">
                        <div class="card card-collapsable mb-3">
                            <a class="card-header collapsed" href="#MI11" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                AFSAC Cell
                                <div class="card-collapsable-arrow">
                                    <i class="fas fa-angle-double-down"></i>
                                </div>
                            </a>
                            <div class="collapse show" id="MI11" style="">
                                <div class="card-body">
                                    <div class="feature-icon-box3 mb-3">

                                        <div class="row">

                                            <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                <div class="card box-shadow">
                                                    <a href="/BasicDetail/Index/NA==">
                                                        <div class="number1 SpnMI11self" id=""></div>
                                                        <div class="card-content">
                                                            <div class="card-body">
                                                                <div class="media d-flex">
                                                                    <div class="media-body text-left">
                                                                        <h3 class="success _4thLevelPending">0</h3>
                                                                        <span class="badge badge-pill badge-warning p-2">Pending</span>
                                                                    </div>
                                                                    <div class="align-self-center">
                                                                        <i class="text-success fa fa-check-circle fa-3x"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                <div class="card box-shadow">
                                                    <a href="/BasicDetail/Index/NDQ0">
                                                        <div class="number1 SpnHQ54self" id=""></div>
                                                        <div class="card-content">
                                                            <div class="card-body">
                                                                <div class="media d-flex">
                                                                    <div class="media-body text-left">
                                                                        <h3 class="success _4thLevelApproved">0</h3>
                                                                        <span class="badge badge-pill badge-success p-2">Exported Data</span>
                                                                    </div>
                                                                    <div class="align-self-center">
                                                                        <i class="text-success fa fa-check-circle fa-3x"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        else if (ViewBag.Type == "OffrsPending")
        {
            <div class="card p-4">
                <div class="row">
                    <h5 class="card-title">Approver Pending Actions(offr's) </h5>
                    <div class="col-xl-12 col-sm-12 col-12">
                        <div class="card card-collapsable mb-3">
                            <a class="card-header collapsed" href="#IOA" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                Action for Approver
                                <div class="card-collapsable-arrow">
                                    <i class="fas fa-angle-double-down"></i>
                                </div>
                            </a>
                            <div class="collapse show" id="IOA" style="">
                                <div class="card-body">
                                    <div class="feature-icon-box3 mb-3">
                                        <div class="row">

                                            <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                <div class="card box-shadow">
                                                    <a href="/BasicDetail/ApprovalForIO/Mg==">
                                                        <div class="number1 SpnIO"></div>
                                                        <div class="card-content">
                                                            <div class="card-body">
                                                                <div class="media d-flex">
                                                                    <div class="media-body text-left">
                                                                        <h3 class="success" id="_2ndLevelPending">0</h3>
                                                                        <span class="badge badge-pill badge-warning p-2">Pending</span>
                                                                    </div>
                                                                    <div class="align-self-center">
                                                                        <i class="text-success fa fa-check-circle fa-3x"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                <div class="card box-shadow">
                                                    <a href="/BasicDetail/ApprovalForIO/MjIy">

                                                        <div class="card-content">
                                                            <div class="card-body">
                                                                <div class="media d-flex">
                                                                    <div class="media-body text-left">
                                                                        <h3 class="success" id="_2ndLevelApproved">0</h3>
                                                                        <span class="badge badge-pill badge-success p-2">Approved</span>
                                                                    </div>
                                                                    <div class="align-self-center">
                                                                        <i class="text-success fa fa-check-circle fa-3x"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                <div class="card box-shadow">
                                                    <a href="/BasicDetail/ApprovalForIO/MjI=">
                                                        <div class="card-content">
                                                            <div class="card-body">
                                                                <div class="media d-flex">
                                                                    <div class="media-body text-left">
                                                                        <h3 class="success" id="_2ndLevelReject">0</h3>
                                                                        <span class="badge badge-pill badge-danger p-2">Rejected</span>
                                                                    </div>
                                                                    <div class="align-self-center">
                                                                        <i class="text-danger fa fa-times-circle fa-3x" aria-hidden="true"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12 col-sm-12 col-12">
                        <div class="card card-collapsable mb-3">
                            <a class="card-header collapsed" href="#AGSO" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                Record Office
                                <div class="card-collapsable-arrow">
                                    <i class="fas fa-angle-double-down"></i>
                                </div>
                            </a>
                            <div class="collapse show" id="AGSO" style="">
                                <div class="card-body">
                                    <div class="feature-icon-box3 mb-3">

                                        <div class="row">

                                            <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                <div class="card box-shadow">
                                                    <a href="/BasicDetail/ApprovalForIO/Mw==">
                                                        <div class="number1 SpnGSO"></div>
                                                        <div class="card-content">
                                                            <div class="card-body">
                                                                <div class="media d-flex">
                                                                    <div class="media-body text-left">
                                                                        <h3 class="success" id="_3rdLevelPending">0</h3>
                                                                        <span class="badge badge-pill badge-warning p-2">Pending</span>
                                                                    </div>
                                                                    <div class="align-self-center">
                                                                        <i class="text-success fa fa-check-circle fa-3x"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                <div class="card box-shadow">
                                                    <a href="/BasicDetail/ApprovalForIO/MzMz">
                                                        <div class="card-content">
                                                            <div class="card-body">
                                                                <div class="media d-flex">
                                                                    <div class="media-body text-left">
                                                                        <h3 class="success" id="_3rdLevelApproved">0</h3>
                                                                        <span class="badge badge-pill badge-success p-2">Approved</span>
                                                                    </div>
                                                                    <div class="align-self-center">
                                                                        <i class="text-success fa fa-check-circle fa-3x"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                <div class="card box-shadow">
                                                    <a href="/BasicDetail/ApprovalForIO/MzM=">
                                                        <div class="card-content">
                                                            <div class="card-body">
                                                                <div class="media d-flex">
                                                                    <div class="media-body text-left">
                                                                        <h3 class="success" id="_3rdLevelReject">0</h3>
                                                                        <span class="badge badge-pill badge-danger p-2">Rejected</span>
                                                                    </div>
                                                                    <div class="align-self-center">
                                                                        <i class="text-danger fa fa-times-circle fa-3x" aria-hidden="true"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    @if (user.UserName == "afsac_cell")
                    {
                        <div class="col-xl-12 col-sm-12 col-12">
                            <div class="card card-collapsable mb-3">
                                <a class="card-header collapsed" href="#AMI11" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                    AFSAC Sell
                                    <div class="card-collapsable-arrow">
                                        <i class="fas fa-angle-double-down"></i>
                                    </div>
                                </a>
                                <div class="collapse show" id="AMI11" style="">
                                    <div class="card-body">
                                        <div class="feature-icon-box3 mb-3">

                                            <div class="row">

                                                <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                    <div class="card box-shadow">
                                                        <a href="/BasicDetail/ApprovalForIO/NA==">
                                                            <div class="number1 SpnMI11">0</div>
                                                            <div class="card-content">
                                                                <div class="card-body">
                                                                    <div class="media d-flex">
                                                                        <div class="media-body text-left">
                                                                            <h3 class="success" id="_4thLevelPending">0</h3>
                                                                            <span class="badge badge-pill badge-warning p-2">Pending</span>
                                                                        </div>
                                                                        <div class="align-self-center">
                                                                            <i class="text-warning fa fa-clock fa-3x"></i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                    <div class="card box-shadow">
                                                        <a href="/BasicDetail/ApprovalForIO/NDQ0">
                                                            <div class="card-content">
                                                                <div class="card-body">
                                                                    <div class="media d-flex">
                                                                        <div class="media-body text-left">
                                                                            <h3 class="success" id="_4thLevelApproved">0</h3>
                                                                            <span class="badge badge-pill badge-success p-2">Exported Data</span>
                                                                        </div>
                                                                        <div class="align-self-center">
                                                                            <i class="text-success fa fa-check-circle fa-3x"></i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }

        else if (ViewBag.Type == "JCOsSubmitted")
        {
            <div class="card p-4">
                <div class="row">
                    <h5 class="card-title">
                        Status of Appl(JCOs/Other Ranks) you have submitted
                    </h5>
                    <div class="col-xl-12 col-sm-12 col-12">
                        <div class="card card-collapsable mb-3">
                            <a class="card-header collapsed" href="#CO" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                Approver Status
                                <div class="card-collapsable-arrow">
                                    <i class="fas fa-angle-double-down"></i>

                                </div>
                                <div class="number1" id="COTotal"></div>
                            </a>

                            <div class="collapse show" id="CO" style="">

                                <div class="card-body">
                                    <div class="feature-icon-box3 mb-3">
                                        <div class="row">
                                            <div class="col-xl-3 col-sm-4 col-12 mt-2">
                                                <div class="card box-shadow">
                                                    <a href="/BasicDetail/Index/?Id=MTE=&jcoor=SmNvL09ycw==">
                                                        <div class="number1 SpnCOself" id=""></div>
                                                        <div class="card-content">
                                                            <div class="card-body">
                                                                <div class="media d-flex">
                                                                    <div class="media-body text-left">
                                                                        <h3 class="success" id="ToDraftedJCO">0</h3>
                                                                        <span class="badge badge-pill badge-warning p-2">Drafted</span>
                                                                    </div>
                                                                    <div class="align-self-center">
                                                                        <i class="text-success fa fa-check-circle fa-3x"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-sm-4 col-12 mt-2">
                                                <div class="card box-shadow">
                                                    <a href="/BasicDetail/Index?Id=ODg=&jcoor=SmNvL09ycw==">
                                                        <div class="number1 SpnCOself" id=""></div>
                                                        <div class="card-content">
                                                            <div class="card-body">
                                                                <div class="media d-flex">
                                                                    <div class="media-body text-left">
                                                                        <h3 class="success" id="ToSubmittedJCO">0</h3>
                                                                        <span class="badge badge-pill badge-warning p-2">Submitted</span>
                                                                    </div>
                                                                    <div class="align-self-center">
                                                                        <i class="text-success fa fa-check-circle fa-3x"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-sm-4 col-12 mt-2">
                                                <div class="card box-shadow">
                                                    <a href="/BasicDetail/Index?Id=OTk=&jcoor=SmNvL09ycw==">
                                                        <div class="number1 SpnCORejectself" id=""></div>
                                                        <div class="card-content">
                                                            <div class="card-body">
                                                                <div class="media d-flex">
                                                                    <div class="media-body text-left">
                                                                        <h3 class="success" id="ToRejectedJCO">0</h3>
                                                                        <span class="badge badge-pill badge-danger p-2">Rejected</span>
                                                                    </div>
                                                                    <div class="align-self-center">
                                                                        <i class="text-danger fa fa-times-circle fa-3x" aria-hidden="true"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-sm-4 col-12 mt-2">
                                                <div class="card box-shadow">
                                                    <a href="/BasicDetail/Index?Id=Nzc=&jcoor=SmNvL09ycw==">
                                                        <div class="number1 SpnDIDself" id=""></div>
                                                        <div class="card-content">
                                                            <div class="card-body">
                                                                <div class="media d-flex">
                                                                    <div class="media-body text-left">
                                                                        <h3 class="success" id="ToCompletedJCO">0</h3>
                                                                        <span class="badge badge-pill badge-success p-2">Completed</span>
                                                                    </div>
                                                                    <div class="align-self-center">
                                                                        <i class="text-success fa fa-check-circle fa-3x"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="col-xl-12 col-sm-12 col-12 d-none1">
                        <div class="card card-collapsable mb-3">
                            <a class="card-header collapsed" href="#DID" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                Record Office

                                <div class="card-collapsable-arrow">
                                    <i class="fas fa-angle-double-down"></i>
                                </div>
                            </a>
                            <div class="collapse show" id="DID" style="">
                                <div class="card-body">
                                    <div class="feature-icon-box3 mb-3">

                                        <div class="row">

                                            <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                <div class="card box-shadow">
                                                    <a href="/BasicDetail/Index?Id=Mw==&jcoor=SmNvL09ycw==">
                                                        <div class="number1 SpnDIDself" id=""></div>
                                                        <div class="card-content">
                                                            <div class="card-body">
                                                                <div class="media d-flex">
                                                                    <div class="media-body text-left">
                                                                        <h3 class="success DIDPending">0</h3>

                                                                        <span class="badge badge-pill badge-warning p-2">Pending</span>

                                                                    </div>
                                                                    <div class="align-self-center">

                                                                        @*  <i class="text-warning fa fa-clock fa-3x"></i> *@

                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                <div class="card box-shadow">
                                                    <a href="/BasicDetail/Index?Id=MzMz&jcoor=SmNvL09ycw==">
                                                        <div class="number1 SpnExportself" id=""></div>
                                                        <div class="card-content">
                                                            <div class="card-body">
                                                                <div class="media d-flex">
                                                                    <div class="media-body text-left">
                                                                        <h3 class="success DIDApproved">0</h3>
                                                                        <span class="badge badge-pill badge-success p-2">Approved</span>
                                                                    </div>
                                                                    <div class="align-self-center">
                                                                        @* <i class="text-success fa fa-check-circle fa-3x"></i> *@
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                <div class="card box-shadow">
                                                    <a href="/BasicDetail/Index?Id=MzM=&jcoor=SmNvL09ycw==">
                                                        <div class="number1 SpnDIDRejectself" id=""></div>
                                                        <div class="card-content">
                                                            <div class="card-body">
                                                                <div class="media d-flex">
                                                                    <div class="media-body text-left">
                                                                        <h3 class="success DIDReject">0</h3>
                                                                        <span class="badge badge-pill badge-danger p-2">Rejected</span>
                                                                    </div>
                                                                    <div class="align-self-center">
                                                                        @* <i class="text-danger fa fa-times-circle fa-3x" aria-hidden="true"></i> *@
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="col-xl-12 col-sm-12 col-12">
                        <div class="card card-collapsable mb-3">
                            <a class="card-header collapsed" href="#Export54" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                AFSAC Cell
                                <div class="card-collapsable-arrow">
                                    <i class="fas fa-angle-double-down"></i>
                                </div>
                            </a>
                            <div class="collapse show" id="Export54" style="">
                                <div class="card-body">
                                    <div class="feature-icon-box3 mb-3">

                                        <div class="row">

                                            <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                <div class="card box-shadow">
                                                    <a href="/BasicDetail/Index?Id=NA==&jcoor=SmNvL09ycw==">
                                                        <div class="number1 SpnExportself" id=""></div>
                                                        <div class="card-content">
                                                            <div class="card-body">
                                                                <div class="media d-flex">
                                                                    <div class="media-body text-left">
                                                                        <h3 class="success ExportPending">0</h3>
                                                                        <span class="badge badge-pill badge-warning p-2">Pending1</span>
                                                                    </div>
                                                                    <div class="align-self-center">
                                                                        @*  <i class="text-warning fa fa-clock fa-3x"></i> *@
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                <div class="card box-shadow">
                                                    <a href="/BasicDetail/Index?Id=NTU1&jcoor=SmNvL09ycw==">
                                                        <div class="number1 " id="SpnPrintself"></div>
                                                        <div class="card-content">
                                                            <div class="card-body">
                                                                <div class="media d-flex">
                                                                    <div class="media-body text-left">
                                                                        <h3 class="success ExportApproved">0</h3>
                                                                        <span class="badge badge-pill badge-success p-2">Exported Data</span>
                                                                    </div>
                                                                    <div class="align-self-center">
                                                                        @* <i class="text-success fa fa-check-circle fa-3x"></i> *@
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        }

        else if (ViewBag.Type == "JCOsPending")
        {
            <div class="card p-4">
                <div class="row">
                    <h5 class="card-title">
                        Approver Pending Actions(JCOs\OR)
                    </h5>

                    <div class="col-xl-12 col-sm-12 col-12">
                        <div class="card card-collapsable mb-3">
                            <a class="card-header collapsed" href="#COA" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                Action for Approver

                                <div class="card-collapsable-arrow">
                                    <i class="fas fa-angle-double-down"></i>
                                </div>
                            </a>
                            <div class="collapse show" id="COA" style="">
                                <div class="card-body">
                                    <div class="feature-icon-box3 mb-3">
                                        <div class="row">

                                            <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                <div class="card box-shadow">
                                                    <a href="/BasicDetail/ApprovalForIO?Id=Mg==&jcoor=SmNvL09ycw==">
                                                        <div class="number1 SpnCO"></div>
                                                        <div class="card-content">
                                                            <div class="card-body">
                                                                <div class="media d-flex">
                                                                    <div class="media-body text-left">
                                                                        <h3 class="success" id="COPending">0</h3>
                                                                        <span class="badge badge-pill badge-warning p-2">Approval</span>
                                                                    </div>
                                                                    <div class="align-self-center">
                                                                        @*          <i class="text-success fa fa-check-circle fa-3x"></i> *@
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                <div class="card box-shadow">
                                                    <a href="/BasicDetail/ApprovalForIO?Id=MjIy&jcoor=SmNvL09ycw==">

                                                        <div class="card-content">
                                                            <div class="card-body">
                                                                <div class="media d-flex">
                                                                    <div class="media-body text-left">
                                                                        <h3 class="success" id="COApproved">0</h3>
                                                                        <span class="badge badge-pill badge-success p-2">Approved</span>
                                                                    </div>
                                                                    <div class="align-self-center">
                                                                        @* <i class="text-success fa fa-check-circle fa-3x"></i> *@
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                <div class="card box-shadow">
                                                    <a href="/BasicDetail/ApprovalForIO?Id=MjI=&jcoor=SmNvL09ycw==">
                                                        <div class="card-content">
                                                            <div class="card-body">
                                                                <div class="media d-flex">
                                                                    <div class="media-body text-left">
                                                                        <h3 class="success" id="COReject">0</h3>
                                                                        <span class="badge badge-pill badge-danger p-2">Rejected</span>
                                                                    </div>
                                                                    <div class="align-self-center">
                                                                        @* <i class="text-danger fa fa-times-circle fa-3x" aria-hidden="true"></i> *@
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-12 col-sm-12 col-12 d-none1">
                        <div class="card card-collapsable mb-3">
                            <a class="card-header collapsed" href="#ADID" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                Record Office
                                <div class="card-collapsable-arrow">
                                    <i class="fas fa-angle-double-down"></i>
                                </div>
                            </a>
                            <div class="collapse show" id="ADID" style="">
                                <div class="card-body">
                                    <div class="feature-icon-box3 mb-3">

                                        <div class="row">

                                            <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                <div class="card box-shadow">
                                                    <a href="/BasicDetail/ApprovalForIO?Id=Mw==&jcoor=SmNvL09ycw==">
                                                        <div class="number1 SpnDID"></div>
                                                        <div class="card-content">
                                                            <div class="card-body">
                                                                <div class="media d-flex">
                                                                    <div class="media-body text-left">
                                                                        <h3 class="success" id="DIDPending">0</h3>
                                                                        <span class="badge badge-pill badge-warning p-2">Pending</span>
                                                                    </div>
                                                                    <div class="align-self-center">
                                                                        <i class="text-success fa fa-check-circle fa-3x"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                <div class="card box-shadow">
                                                    <a href="/BasicDetail/ApprovalForIO?Id=MzMz&jcoor=SmNvL09ycw==">
                                                        <div class="card-content">
                                                            <div class="card-body">
                                                                <div class="media d-flex">
                                                                    <div class="media-body text-left">
                                                                        <h3 class="success" id="DIDApproved">0</h3>
                                                                        <span class="badge badge-pill badge-success p-2">Approved</span>
                                                                    </div>
                                                                    <div class="align-self-center">
                                                                        @* <i class="text-success fa fa-check-circle fa-3x"></i> *@
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                <div class="card box-shadow">
                                                    <a href="/BasicDetail/ApprovalForIO?Id=MzM=&jcoor=SmNvL09ycw==">
                                                        <div class="card-content">
                                                            <div class="card-body">
                                                                <div class="media d-flex">
                                                                    <div class="media-body text-left">
                                                                        <h3 class="success" id="DIDReject">0</h3>
                                                                        <span class="badge badge-pill badge-danger p-2">Rejected</span>
                                                                    </div>
                                                                    <div class="align-self-center">
                                                                        <i class="text-danger fa fa-times-circle fa-3x" aria-hidden="true"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    @if (user.UserName == "afsac_cell")
                    {
                        <div class="col-xl-12 col-sm-12 col-12">
                            <div class="card card-collapsable mb-3">
                                <a class="card-header collapsed" href="#AExport" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                    AFSAC Cell
                                    <div class="card-collapsable-arrow">
                                        <i class="fas fa-angle-double-down"></i>
                                    </div>
                                </a>
                                <div class="collapse show" id="AExport" style="">
                                    <div class="card-body">
                                        <div class="feature-icon-box3 mb-3">

                                            <div class="row">

                                                <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                    <div class="card box-shadow">
                                                        <a href="/BasicDetail/ApprovalForIO?Id=NA==&jcoor=SmNvL09ycw==">
                                                            <div class="number1 SpnExport"></div>
                                                            <div class="card-content">
                                                                <div class="card-body">
                                                                    <div class="media d-flex">
                                                                        <div class="media-body text-left">
                                                                            <h3 class="success" id="ExportPending">0</h3>
                                                                            <span class="badge badge-pill badge-warning p-2">Pending</span>
                                                                        </div>
                                                                        <div class="align-self-center">
                                                                            <i class="text-success fa fa-check-circle fa-3x"></i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                    <div class="card box-shadow">
                                                        <a href="/BasicDetail/ApprovalForIO?Id=NDQ0&jcoor=SmNvL09ycw==">
                                                            <div class="card-content">
                                                                <div class="card-body">
                                                                    <div class="media d-flex">
                                                                        <div class="media-body text-left">
                                                                            <h3 class="success" id="ExportApproved">0</h3>
                                                                            <span class="badge badge-pill badge-success p-2">Approved</span>
                                                                        </div>
                                                                        <div class="align-self-center">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
<script src="~/developerjs/task.js"></script>

