@inject UserManager<ApplicationUser> userManager;
@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="containerMain">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"> <i class="fa fa-bars"></i></div>
                        <a href="/Home/Index" class="mr-2">Home</a> > Task

                    </h1>
                </div>
            </div>

        </div>
    </div>
</header>
<div class="containerMain mt-n10">

   
        <div class="row">

            <div class="col-xl-6 col-sm-6 col-6">
            <div class="card p-4">
                <h5 class="card-title">Status Of Appl(Offrs) </h5>
    <div class="card p-4">
        <div class="row">
                        <h5 class="card-title">Status of Appl you have submitted</h5>
            <div class="col-xl-12 col-sm-12 col-12">
                <div class="card card-collapsable mb-3">
                    <a class="card-header collapsed" href="#IO" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
                        Approver Status
                        <div class="card-collapsable-arrow">
                            <i class="fas fa-angle-double-down"></i>

                        </div>
                        <div class="number1" id="IOTotal"></div>
                    </a>

                    <div class="collapse" id="IO" style="">
                       
                        <div class="card-body">
                            <div class="feature-icon-box3 mb-3">
                                <div class="row">

                                    <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                        <div class="card box-shadow">
                                          
                                            <a href="/BasicDetail/Index/Mg==">
                                                <div class="number1 SpnIOself" id=""></div>
                                                <div class="card-content">
                                                    <div class="card-body">
                                                        <div class="media d-flex">
                                                            <div class="media-body text-left">
                                                                <h3 class="success IOPending">0</h3>
                                                                <span class="badge badge-pill badge-warning p-2">Pending</span>
                                                            </div>
                                                            <div class="align-self-center">
                                                                <i class="text-success fa fa-check-circle fa-3x"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                        <div class="card box-shadow">
                                            <a href="/BasicDetail/Index/Mw==">
                                                <div class="number1 SpnGSOself" id=""></div>
                                                <div class="card-content">
                                                    <div class="card-body">
                                                        <div class="media d-flex">
                                                            <div class="media-body text-left">
                                                                <h3 class="success IOApproved">0</h3>
                                                                <span class="badge badge-pill badge-success p-2">Approved</span>
                                                            </div>
                                                            <div class="align-self-center">
                                                                <i class="text-success fa fa-check-circle fa-3x"></i> 
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                        <div class="card box-shadow">
                                            <a href="/BasicDetail/Index/MjI=">
                                                <div class="number1 SpnIORejectself" id=""></div>
                                                <div class="card-content">
                                                    <div class="card-body">
                                                        <div class="media d-flex">
                                                            <div class="media-body text-left">
                                                                <h3 class="success IOReject">0</h3>
                                                                <span class="badge badge-pill badge-danger p-2">Rejected</span>
                                                            </div>
                                                            <div class="align-self-center">
                                                               <i class="text-danger fa fa-times-circle fa-3x" aria-hidden="true"></i> 
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-xl-12 col-sm-12 col-12 d-none">
                <div class="card card-collapsable mb-3">
                    <a class="card-header collapsed" href="#GSO" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
                      Issuing Authority Status
                        <div class="card-collapsable-arrow">
                            <i class="fas fa-angle-double-down"></i>
                        </div>
                    </a>
                    <div class="collapse" id="GSO" style="">
                        <div class="card-body">
                            <div class="feature-icon-box3 mb-3">

                                <div class="row">

                                    <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                        <div class="card box-shadow">
                                            <a href="/BasicDetail/index/Mw==">
                                                <div class="number1 SpnGSOself" id=""></div>
                                                <div class="card-content">
                                                    <div class="card-body">
                                                        <div class="media d-flex">
                                                            <div class="media-body text-left">
                                                                <h3 class="success GSOPending">0</h3>
                                                              
                                                                <span class="badge badge-pill badge-warning p-2">Pending</span>

                                                            </div>
                                                            <div class="align-self-center">
                                                               
                                                               @*  <i class="text-warning fa fa-clock fa-3x"></i> *@
                                                               
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                        <div class="card box-shadow">
                                            <a href="/BasicDetail/Index/MzMz">
                                                <div class="number1 SpnMI11self" id=""></div>
                                                <div class="card-content">
                                                    <div class="card-body">
                                                        <div class="media d-flex">
                                                            <div class="media-body text-left">
                                                                <h3 class="success GSOApproved">0</h3>
                                                                <span class="badge badge-pill badge-success p-2">Approved</span>
                                                            </div>
                                                            <div class="align-self-center">
                                                                @* <i class="text-success fa fa-check-circle fa-3x"></i> *@
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                        <div class="card box-shadow">
                                            <a href="/BasicDetail/Index/MzM=">
                                                <div class="number1 SpnGSORejectself" id=""></div>
                                                <div class="card-content">
                                                    <div class="card-body">
                                                        <div class="media d-flex">
                                                            <div class="media-body text-left">
                                                                <h3 class="success GSOReject">0</h3>
                                                                <span class="badge badge-pill badge-danger p-2">Rejected</span>
                                                            </div>
                                                            <div class="align-self-center">
                                                                @* <i class="text-danger fa fa-times-circle fa-3x" aria-hidden="true"></i> *@
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                @*  <div class="number1 f25" id="AddNewThesisAS"><a class="" href="/AddThesis">Go!</a></div> *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-12 col-sm-12 col-12">
                <div class="card card-collapsable mb-3">
                    <a class="card-header collapsed" href="#MI11" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
                       DGMI (MI-11) Status
                        <div class="card-collapsable-arrow">
                            <i class="fas fa-angle-double-down"></i>
                        </div>
                    </a>
                    <div class="collapse" id="MI11" style="">
                        <div class="card-body">
                            <div class="feature-icon-box3 mb-3">

                                <div class="row">

                                    <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                        <div class="card box-shadow">
                                            <a href="/BasicDetail/Index/NA==">
                                                <div class="number1 SpnMI11self" id=""></div>
                                                <div class="card-content">
                                                    <div class="card-body">
                                                        <div class="media d-flex">
                                                            <div class="media-body text-left">
                                                                <h3 class="success MIPending">0</h3>
                                                                <span class="badge badge-pill badge-warning p-2">Pending</span>
                                                            </div>
                                                            <div class="align-self-center">
                                                                <i class="text-success fa fa-check-circle fa-3x"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                        <div class="card box-shadow">
                                            <a href="/BasicDetail/Index/NDQ0">
                                                <div class="number1 SpnHQ54self" id=""></div>
                                                <div class="card-content">
                                                    <div class="card-body">
                                                        <div class="media d-flex">
                                                            <div class="media-body text-left">
                                                                <h3 class="success MIApproved">0</h3>
                                                                <span class="badge badge-pill badge-success p-2">Approved</span>
                                                            </div>
                                                            <div class="align-self-center">
                                                                <i class="text-success fa fa-check-circle fa-3x"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                        <div class="card box-shadow">
                                            <a href="/BasicDetail/Index/NDQ=">
                                                <div class="number1 SpnMI11Rejectself" id=""></div>
                                                <div class="card-content">
                                                    <div class="card-body">
                                                        <div class="media d-flex">
                                                            <div class="media-body text-left">
                                                                <h3 class="success MIReject">0</h3>
                                                                <span class="badge badge-pill badge-danger p-2">Rejected</span>
                                                            </div>
                                                            <div class="align-self-center">
                                                               <i class="text-danger fa fa-times-circle fa-3x" aria-hidden="true"></i> 
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                @*  <div class="number1 f25" id="AddNewThesisAS"><a class="" href="/AddThesis">Go!</a></div> *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xl-12 col-sm-12 col-12">
                <div class="card card-collapsable mb-3">
                    <a class="card-header collapsed" href="#HQ54" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
                                    Import/Export Cell
                        <div class="card-collapsable-arrow">
                            <i class="fas fa-angle-double-down"></i>
                        </div>
                    </a>
                    <div class="collapse" id="HQ54" style="">
                        <div class="card-body">
                            <div class="feature-icon-box3 mb-3">

                                <div class="row">

                                    <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                        <div class="card box-shadow">
                                            <a href="/BasicDetail/Index/NQ==">
                                                <div class="number1 SpnHQ54self" id=""></div>
                                                <div class="card-content">
                                                    <div class="card-body">
                                                        <div class="media d-flex">
                                                            <div class="media-body text-left">
                                                                <h3 class="success HQPending">0</h3>
                                                                <span class="badge badge-pill badge-warning p-2">Pending</span>
                                                            </div>
                                                            <div class="align-self-center">
                                                                <i class="text-warning fa fa-clock fa-3x"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                        <div class="card box-shadow">
                                            <a href="/BasicDetail/Index/NTU1">
                                                <div class="number1 SpnPrintself" id=""></div>
                                                <div class="card-content">
                                                    <div class="card-body">
                                                        <div class="media d-flex">
                                                            <div class="media-body text-left">
                                                                <h3 class="success HQApproved">0</h3>
                                                                <span class="badge badge-pill badge-success p-2">Approved</span>
                                                            </div>
                                                            <div class="align-self-center">
                                                                <i class="text-success fa fa-check-circle fa-3x"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                        <div class="card box-shadow">
                                            <a href="/BasicDetail/Index/NTU=">
                                                <div class="number1 SpnHQ54Rejectself" id=""></div>
                                                <div class="card-content">
                                                    <div class="card-body">
                                                        <div class="media d-flex">
                                                            <div class="media-body text-left">
                                                                <h3 class="success HQReject">0</h3>
                                                                <span class="badge badge-pill badge-danger p-2">Rejected</span>
                                                            </div>
                                                            <div class="align-self-center">
                                                                <i class="text-danger fa fa-times-circle fa-3x" aria-hidden="true"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>


                                @*  <div class="number1 f25" id="AddNewThesisAS"><a class="" href="/AddThesis">Go!</a></div> *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>



    <div class="card p-4 mt-2">
        <div class="row">
                        <h5 class="card-title">Approver Pending Actions(offr` s) </h5>
            <div class="col-xl-12 col-sm-12 col-12">
                <div class="card card-collapsable mb-3">
                    <a class="card-header collapsed" href="#IOA" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
                        Action for Approver
                        <div class="card-collapsable-arrow">
                            <i class="fas fa-angle-double-down"></i>
                        </div>
                    </a>
                    <div class="collapse" id="IOA" style="">
                        <div class="card-body">
                            <div class="feature-icon-box3 mb-3">
                                <div class="row">

                                    <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                        <div class="card box-shadow">
                                            <a href="/BasicDetail/ApprovalForIO/Mg==">
                                                <div class="number1 SpnIO"></div>
                                                <div class="card-content">
                                                    <div class="card-body">
                                                        <div class="media d-flex">
                                                            <div class="media-body text-left">
                                                                <h3 class="success" id="IOPending">0</h3>
                                                                <span class="badge badge-pill badge-warning p-2">Pending</span>
                                                            </div>
                                                            <div class="align-self-center">
                                                                <i class="text-success fa fa-check-circle fa-3x"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                        <div class="card box-shadow">
                                            <a href="/BasicDetail/ApprovalForIO/MjIy">
                                               
                                                <div class="card-content">
                                                    <div class="card-body">
                                                        <div class="media d-flex">
                                                            <div class="media-body text-left">
                                                                <h3 class="success" id="IOApproved">0</h3>
                                                                <span class="badge badge-pill badge-success p-2">Approved</span>
                                                            </div>
                                                            <div class="align-self-center">
                                                                <i class="text-success fa fa-check-circle fa-3x"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                        <div class="card box-shadow">
                                            <a href="/BasicDetail/ApprovalForIO/MjI=">
                                                <div class="card-content">
                                                    <div class="card-body">
                                                        <div class="media d-flex">
                                                            <div class="media-body text-left">
                                                                <h3 class="success" id="IOReject">0</h3>
                                                                <span class="badge badge-pill badge-danger p-2">Rejected</span>
                                                            </div>
                                                            <div class="align-self-center">
                                                                <i class="text-danger fa fa-times-circle fa-3x" aria-hidden="true"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                        <div class="col-xl-12 col-sm-12 col-12 d-none">
                <div class="card card-collapsable mb-3">
                    <a class="card-header collapsed" href="#AGSO" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
                         Action for Issuing Authority
                        <div class="card-collapsable-arrow">
                            <i class="fas fa-angle-double-down"></i>
                        </div>
                    </a>
                    <div class="collapse" id="AGSO" style="">
                        <div class="card-body">
                            <div class="feature-icon-box3 mb-3">

                                <div class="row">

                                    <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                        <div class="card box-shadow">
                                            <a href="/BasicDetail/ApprovalForIO/Mw==">
                                                <div class="number1 SpnGSO"></div>
                                                <div class="card-content">
                                                    <div class="card-body">
                                                        <div class="media d-flex">
                                                            <div class="media-body text-left">
                                                                <h3 class="success" id="GSOPending">0</h3>
                                                                <span class="badge badge-pill badge-warning p-2">Pending</span>
                                                            </div>
                                                            <div class="align-self-center">
                                                                <i class="text-success fa fa-check-circle fa-3x"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                        <div class="card box-shadow">
                                            <a href="/BasicDetail/ApprovalForIO/MzMz">
                                                <div class="card-content">
                                                    <div class="card-body">
                                                        <div class="media d-flex">
                                                            <div class="media-body text-left">
                                                                <h3 class="success" id="GSOApproved">0</h3>
                                                                <span class="badge badge-pill badge-success p-2">Approved</span>
                                                            </div>
                                                            <div class="align-self-center">
                                                                <i class="text-success fa fa-check-circle fa-3x"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                        <div class="card box-shadow">
                                            <a href="/BasicDetail/ApprovalForIO/MzM=">
                                                <div class="card-content">
                                                    <div class="card-body">
                                                        <div class="media d-flex">
                                                            <div class="media-body text-left">
                                                                <h3 class="success" id="GSOReject">0</h3>
                                                                <span class="badge badge-pill badge-danger p-2">Rejected</span>
                                                            </div>
                                                            <div class="align-self-center">
                                                               <i class="text-danger fa fa-times-circle fa-3x" aria-hidden="true"></i> 
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                @*  <div class="number f25" id="AddNewThesisAS"><a class="" href="/AddThesis">Go!</a></div> *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @{
                var userId = this.User.FindFirstValue(ClaimTypes.NameIdentifier);
                var user = await userManager.FindByIdAsync(userId);

            }
            @if (user.UserName == "mi_11")
            {
                <div class="col-xl-12 col-sm-12 col-12">
                    <div class="card card-collapsable mb-3">
                        <a class="card-header collapsed" href="#AMI11" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
                            Action For MI 11
                            <div class="card-collapsable-arrow">
                                <i class="fas fa-angle-double-down"></i>
                            </div>
                        </a>
                        <div class="collapse" id="AMI11" style="">
                            <div class="card-body">
                                <div class="feature-icon-box3 mb-3">

                                    <div class="row">

                                        <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                            <div class="card box-shadow">
                                                <a href="/BasicDetail/ApprovalForIO/NA==">
                                                    <div class="number1 SpnMI11">0</div>
                                                    <div class="card-content">
                                                        <div class="card-body">
                                                            <div class="media d-flex">
                                                                <div class="media-body text-left">
                                                                    <h3 class="success" id="MIPending">0</h3>
                                                                    <span class="badge badge-pill badge-warning p-2">Pending</span>
                                                                </div>
                                                                <div class="align-self-center">
                                                                    <i class="text-warning fa fa-clock fa-3x"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                            <div class="card box-shadow">
                                                <a href="/BasicDetail/ApprovalForIO/NDQ0">
                                                    <div class="card-content">
                                                        <div class="card-body">
                                                            <div class="media d-flex">
                                                                <div class="media-body text-left">
                                                                    <h3 class="success" id="MIApproved">0</h3>
                                                                    <span class="badge badge-pill badge-success p-2">Approved</span>
                                                                </div>
                                                                <div class="align-self-center">
                                                                    <i class="text-success fa fa-check-circle fa-3x"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                            <div class="card box-shadow">
                                                <a href="/BasicDetail/ApprovalForIO/NDQ=">
                                                    <div class="card-content">
                                                        <div class="card-body">
                                                            <div class="media d-flex">
                                                                <div class="media-body text-left">
                                                                    <h3 class="success" id="MIReject">0</h3>
                                                                    <span class="badge badge-pill badge-danger p-2">Rejected</span>
                                                                </div>
                                                                <div class="align-self-center">
                                                                   <i class="text-danger fa fa-times-circle fa-3x" aria-hidden="true"></i> 
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    @*  <div class="number f25" id="AddNewThesisAS"><a class="" href="/AddThesis">Go!</a></div> *@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (user.UserName == "hq_54")
            {
                <div class="col-xl-12 col-sm-12 col-12">
                    <div class="card card-collapsable mb-3">
                        <a class="card-header collapsed" href="#AHQ54" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
                            Action For HQ 54
                            <div class="card-collapsable-arrow">
                                <i class="fas fa-angle-double-down"></i>
                            </div>
                        </a>
                        <div class="collapse" id="AHQ54" style="">
                            <div class="card-body">
                                <div class="feature-icon-box3 mb-3">

                                    <div class="row">

                                        <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                            <div class="card box-shadow">
                                                <a href="/BasicDetail/ApprovalForIO/NQ==">
                                                    <div class="number1 SpnHQ54"></div>
                                                    <div class="card-content">
                                                        <div class="card-body">
                                                            <div class="media d-flex">
                                                                <div class="media-body text-left">
                                                                    <h3 class="success" id="HQPending">0</h3>
                                                                    <span class="badge badge-pill badge-warning p-2">Pending</span>
                                                                </div>
                                                                <div class="align-self-center">
                                                                    <i class="text-success fa fa-check-circle fa-3x"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                            <div class="card box-shadow">
                                                            <a href="/BasicDetail/ApprovalForIO/Ng==">
                                                    <div class="card-content">
                                                        <div class="card-body">
                                                            <div class="media d-flex">
                                                                <div class="media-body text-left">
                                                                    <h3 class="success" id="HQApproved">0</h3>
                                                                                <span class="badge badge-pill badge-success p-2">Exported Data</span>
                                                                </div>
                                                                <div class="align-self-center">
                                                                    <i class="text-success fa fa-check-circle fa-3x"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-sm-4 col-12 mt-2 d-none">
                                            <div class="card box-shadow">
                                                <a href="/BasicDetail/ApprovalForIO/NTU=">
                                                    <div class="card-content">
                                                        <div class="card-body">
                                                            <div class="media d-flex">
                                                                <div class="media-body text-left">
                                                                    <h3 class="success" id="HQReject"></h3>
                                                                    <span class="badge badge-pill badge-danger p-2">Rejected</span>
                                                                </div>
                                                                <div class="align-self-center">
                                                                   <i class="text-danger fa fa-times-circle fa-3x" aria-hidden="true"></i> 
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>


                                    @*  <div class="number f25" id="AddNewThesisAS"><a class="" href="/AddThesis">Go!</a></div> *@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
    </div>
    </div>



        <div class="col-xl-6 col-sm-6 col-6">
            <div class="card p-4">
                <h5 class="card-title">Status Of Appl(JCOs/Other Ranks </h5>
                <div class="card p-4">
                    <div class="row">
                        <h5 class="card-title">
                            Status of Appl you have submitted
                        </h5>
                        <div class="col-xl-12 col-sm-12 col-12">
                            <div class="card card-collapsable mb-3">
                                <a class="card-header collapsed" href="#CO" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
                                    Approver Status
                                    <div class="card-collapsable-arrow">
                                        <i class="fas fa-angle-double-down"></i>

                                    </div>
                                    <div class="number1" id="COTotal"></div>
                                </a>

                                <div class="collapse" id="CO" style="">

                                    <div class="card-body">
                                        <div class="feature-icon-box3 mb-3">
                                            <div class="row">

                                                <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                    <div class="card box-shadow">

                                                        <a href="/BasicDetail/Index?Id=Mg==&jcoor=SmNvL09ycw==">
                                                            <div class="number1 SpnCOself" id=""></div>
                                                            <div class="card-content">
                                                                <div class="card-body">
                                                                    <div class="media d-flex">
                                                                        <div class="media-body text-left">
                                                                            <h3 class="success COPending">0</h3>
                                                                            <span class="badge badge-pill badge-warning p-2">Pending</span>
                                                                        </div>
                                                                        <div class="align-self-center">
                                                                            <i class="text-success fa fa-check-circle fa-3x"></i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                    <div class="card box-shadow">
                                                        <a href="/BasicDetail/Index?IdMw==&jcoor=SmNvL09ycw==">
                                                            <div class="number1 SpnDIDself" id=""></div>
                                                            <div class="card-content">
                                                                <div class="card-body">
                                                                    <div class="media d-flex">
                                                                        <div class="media-body text-left">
                                                                            <h3 class="success COApproved">0</h3>
                                                                            <span class="badge badge-pill badge-success p-2">Approved</span>
                                                                        </div>
                                                                        <div class="align-self-center">
                                                                              <i class="text-success fa fa-check-circle fa-3x"></i> 
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                    <div class="card box-shadow">
                                                        <a href="/BasicDetail/Index?Id=MjI=&jcoor=SmNvL09ycw==">
                                                            <div class="number1 SpnCORejectself" id=""></div>
                                                            <div class="card-content">
                                                                <div class="card-body">
                                                                    <div class="media d-flex">
                                                                        <div class="media-body text-left">
                                                                            <h3 class="success COReject">0</h3>
                                                                            <span class="badge badge-pill badge-danger p-2">Rejected</span>
                                                                        </div>
                                                                        <div class="align-self-center">
                                                                            <i class="text-danger fa fa-times-circle fa-3x" aria-hidden="true"></i> 
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-xl-12 col-sm-12 col-12 d-none">
                            <div class="card card-collapsable mb-3">
                                <a class="card-header collapsed" href="#DID" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
                                    Regimental Centre Status

                                    <div class="card-collapsable-arrow">
                                        <i class="fas fa-angle-double-down"></i>
                                    </div>
                                </a>
                                <div class="collapse" id="DID" style="">
                                    <div class="card-body">
                                        <div class="feature-icon-box3 mb-3">

                                            <div class="row">

                                                <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                    <div class="card box-shadow">
                                                        <a href="/BasicDetail/Index?IdMw==&jcoor=SmNvL09ycw==">
                                                            <div class="number1 SpnDIDself" id=""></div>
                                                            <div class="card-content">
                                                                <div class="card-body">
                                                                    <div class="media d-flex">
                                                                        <div class="media-body text-left">
                                                                            <h3 class="success DIDPending">0</h3>

                                                                            <span class="badge badge-pill badge-warning p-2">Pending</span>

                                                                        </div>
                                                                        <div class="align-self-center">

                                                                            @*  <i class="text-warning fa fa-clock fa-3x"></i> *@

                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                    <div class="card box-shadow">
                                                        <a href="/BasicDetail/Index?IdMzMz&jcoor=SmNvL09ycw==">
                                                            <div class="number1 SpnExportself" id=""></div>
                                                            <div class="card-content">
                                                                <div class="card-body">
                                                                    <div class="media d-flex">
                                                                        <div class="media-body text-left">
                                                                            <h3 class="success DIDApproved">0</h3>
                                                                            <span class="badge badge-pill badge-success p-2">Approved</span>
                                                                        </div>
                                                                        <div class="align-self-center">
                                                                            @* <i class="text-success fa fa-check-circle fa-3x"></i> *@
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                    <div class="card box-shadow">
                                                        <a href="/BasicDetail/Index?IdMzM=&jcoor=SmNvL09ycw==">
                                                            <div class="number1 SpnDIDRejectself" id=""></div>
                                                            <div class="card-content">
                                                                <div class="card-body">
                                                                    <div class="media d-flex">
                                                                        <div class="media-body text-left">
                                                                            <h3 class="success DIDReject">0</h3>
                                                                            <span class="badge badge-pill badge-danger p-2">Rejected</span>
                                                                        </div>
                                                                        <div class="align-self-center">
                                                                            @* <i class="text-danger fa fa-times-circle fa-3x" aria-hidden="true"></i> *@
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                            @*  <div class="number1 f25" id="AddNewThesisAS"><a class="" href="/AddThesis">Go!</a></div> *@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                  

                        <div class="col-xl-12 col-sm-12 col-12">
                            <div class="card card-collapsable mb-3">
                                <a class="card-header collapsed" href="#Export54" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
                                    Import/Export Status
                                    <div class="card-collapsable-arrow">
                                        <i class="fas fa-angle-double-down"></i>
                                    </div>
                                </a>
                                <div class="collapse" id="Export54" style="">
                                    <div class="card-body">
                                        <div class="feature-icon-box3 mb-3">

                                            <div class="row">

                                                <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                    <div class="card box-shadow">
                                                        <a href="/BasicDetail/Index?Id=NQ==&jcoor=SmNvL09ycw==">
                                                            <div class="number1 SpnExportself" id=""></div>
                                                            <div class="card-content">
                                                                <div class="card-body">
                                                                    <div class="media d-flex">
                                                                        <div class="media-body text-left">
                                                                            <h3 class="success ExportPending">0</h3>
                                                                            <span class="badge badge-pill badge-warning p-2">Pending</span>
                                                                        </div>
                                                                        <div class="align-self-center">
                                                                            @*  <i class="text-warning fa fa-clock fa-3x"></i> *@
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                    <div class="card box-shadow">
                                                        <a href="/BasicDetail/Index?Id=NTU1&jcoor=SmNvL09ycw==">
                                                            <div class="number1 " id="SpnPrintself"></div>
                                                            <div class="card-content">
                                                                <div class="card-body">
                                                                    <div class="media d-flex">
                                                                        <div class="media-body text-left">
                                                                            <h3 class="success ExportApproved">0</h3>
                                                                            <span class="badge badge-pill badge-success p-2">Approved</span>
                                                                        </div>
                                                                        <div class="align-self-center">
                                                                            @* <i class="text-success fa fa-check-circle fa-3x"></i> *@
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                    <div class="card box-shadow">
                                                        <a href="/BasicDetail/Index?Id=NTU=&jcoor=SmNvL09ycw==">
                                                            <div class="number1 SpnExport54Rejectself" id=""></div>
                                                            <div class="card-content">
                                                                <div class="card-body">
                                                                    <div class="media d-flex">
                                                                        <div class="media-body text-left">
                                                                            <h3 class="success ExportReject">0</h3>
                                                                            <span class="badge badge-pill badge-danger p-2">Rejected</span>
                                                                        </div>
                                                                        <div class="align-self-center">
                                                                            @* <i class="text-danger fa fa-times-circle fa-3x" aria-hidden="true"></i> *@
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>


                                            @*  <div class="number1 f25" id="AddNewThesisAS"><a class="" href="/AddThesis">Go!</a></div> *@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>



                <div class="card p-4 mt-2">
                    <div class="row">
                        <h5 class="card-title">
                            Approver Pending Actions(JCOs\OR)
                        </h5>

                        <div class="col-xl-12 col-sm-12 col-12">
                            <div class="card card-collapsable mb-3">
                                <a class="card-header collapsed" href="#COA" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
                                    Action for Approver

                                    <div class="card-collapsable-arrow">
                                        <i class="fas fa-angle-double-down"></i>
                                    </div>
                                </a>
                                <div class="collapse" id="COA" style="">
                                    <div class="card-body">
                                        <div class="feature-icon-box3 mb-3">
                                            <div class="row">

                                                <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                    <div class="card box-shadow">
                                                        <a href="/BasicDetail/ApprovalForIO?Id=Mg==&jcoor=SmNvL09ycw==">
                                                            <div class="number1 SpnCO"></div>
                                                            <div class="card-content">
                                                                <div class="card-body">
                                                                    <div class="media d-flex">
                                                                        <div class="media-body text-left">
                                                                            <h3 class="success" id="COPending">0</h3>
                                                                            <span class="badge badge-pill badge-warning p-2">Approval</span>
                                                                        </div>
                                                                        <div class="align-self-center">
                                                                   @*          <i class="text-success fa fa-check-circle fa-3x"></i> *@
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                    <div class="card box-shadow">
                                                        <a href="/BasicDetail/ApprovalForIO?Id=MjIy&jcoor=SmNvL09ycw==">

                                                            <div class="card-content">
                                                                <div class="card-body">
                                                                    <div class="media d-flex">
                                                                        <div class="media-body text-left">
                                                                            <h3 class="success" id="COApproved">0</h3>
                                                                            <span class="badge badge-pill badge-success p-2">Approved</span>
                                                                        </div>
                                                                        <div class="align-self-center">
                                                                            @* <i class="text-success fa fa-check-circle fa-3x"></i> *@
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                    <div class="card box-shadow">
                                                        <a href="/BasicDetail/ApprovalForIO?Id=MjI=&jcoor=SmNvL09ycw==">
                                                            <div class="card-content">
                                                                <div class="card-body">
                                                                    <div class="media d-flex">
                                                                        <div class="media-body text-left">
                                                                            <h3 class="success" id="COReject">0</h3>
                                                                            <span class="badge badge-pill badge-danger p-2">Rejected</span>
                                                                        </div>
                                                                        <div class="align-self-center">
                                                                            @* <i class="text-danger fa fa-times-circle fa-3x" aria-hidden="true"></i> *@
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-12 col-sm-12 col-12 d-none">
                            <div class="card card-collapsable mb-3">
                                <a class="card-header collapsed" href="#ADID" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
                                    Action for Verifier
                                    <div class="card-collapsable-arrow">
                                        <i class="fas fa-angle-double-down"></i>
                                    </div>
                                </a>
                                <div class="collapse" id="ADID" style="">
                                    <div class="card-body">
                                        <div class="feature-icon-box3 mb-3">

                                            <div class="row">

                                                <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                    <div class="card box-shadow">
                                                        <a href="/BasicDetail/ApprovalForIO?Id=Mw==&jcoor=SmNvL09ycw==">
                                                            <div class="number1 SpnDID"></div>
                                                            <div class="card-content">
                                                                <div class="card-body">
                                                                    <div class="media d-flex">
                                                                        <div class="media-body text-left">
                                                                            <h3 class="success" id="DIDPending">0</h3>
                                                                            <span class="badge badge-pill badge-warning p-2">Pending</span>
                                                                        </div>
                                                                        <div class="align-self-center">
                                                                            <i class="text-success fa fa-check-circle fa-3x"></i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                    <div class="card box-shadow">
                                                        <a href="/BasicDetail/ApprovalForIO?Id=MzMz&jcoor=SmNvL09ycw==">
                                                            <div class="card-content">
                                                                <div class="card-body">
                                                                    <div class="media d-flex">
                                                                        <div class="media-body text-left">
                                                                            <h3 class="success" id="DIDApproved">0</h3>
                                                                            <span class="badge badge-pill badge-success p-2">Approved</span>
                                                                        </div>
                                                                        <div class="align-self-center">
                                                                            @* <i class="text-success fa fa-check-circle fa-3x"></i> *@
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                    <div class="card box-shadow">
                                                        <a href="/BasicDetail/ApprovalForIO?Id=MzM=&jcoor=SmNvL09ycw==">
                                                            <div class="card-content">
                                                                <div class="card-body">
                                                                    <div class="media d-flex">
                                                                        <div class="media-body text-left">
                                                                            <h3 class="success" id="DIDReject">0</h3>
                                                                            <span class="badge badge-pill badge-danger p-2">Rejected</span>
                                                                        </div>
                                                                        <div class="align-self-center">
                                                                            <i class="text-danger fa fa-times-circle fa-3x" aria-hidden="true"></i> 
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                            @*  <div class="number f25" id="AddNewThesisAS"><a class="" href="/AddThesis">Go!</a></div> *@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                      
                        @if (user.UserName == "hq_54")
                        {
                            <div class="col-xl-12 col-sm-12 col-12">
                                <div class="card card-collapsable mb-3">
                                    <a class="card-header collapsed" href="#AExport" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
                                        Action For HQ 54
                                        <div class="card-collapsable-arrow">
                                            <i class="fas fa-angle-double-down"></i>
                                        </div>
                                    </a>
                                    <div class="collapse" id="AExport" style="">
                                        <div class="card-body">
                                            <div class="feature-icon-box3 mb-3">

                                                <div class="row">

                                                    <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                        <div class="card box-shadow">
                                                            <a href="/BasicDetail/ApprovalForIO?Id=NQ==&jcoor=SmNvL09ycw==">
                                                                <div class="number1 SpnExport"></div>
                                                                <div class="card-content">
                                                                    <div class="card-body">
                                                                        <div class="media d-flex">
                                                                            <div class="media-body text-left">
                                                                                <h3 class="success" id="ExportPending">0</h3>
                                                                                <span class="badge badge-pill badge-warning p-2">Pending</span>
                                                                            </div>
                                                                            <div class="align-self-center">
                                                                                <i class="text-success fa fa-check-circle fa-3x"></i>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-4 col-sm-4 col-12 mt-2">
                                                        <div class="card box-shadow">
                                                            <a href="/BasicDetail/ApprovalForIO?Id=Ng==&jcoor=SmNvL09ycw==">
                                                                <div class="card-content">
                                                                    <div class="card-body">
                                                                        <div class="media d-flex">
                                                                            <div class="media-body text-left">
                                                                                <h3 class="success" id="ExportApproved">0</h3>
                                                                                <span class="badge badge-pill badge-success p-2">Approved</span>
                                                                            </div>
                                                                            <div class="align-self-center">
                                                                                @*  <i class="text-success fa fa-check-circle fa-3x"></i> *@
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-4 col-sm-4 col-12 mt-2 d-none">
                                                        <div class="card box-shadow">
                                                            <a href="/BasicDetail/ApprovalForIO?Id=NTU=&jcoor=SmNvL09ycw==">
                                                                <div class="card-content">
                                                                    <div class="card-body">
                                                                        <div class="media d-flex">
                                                                            <div class="media-body text-left">
                                                                                <h3 class="success" id="ExportReject"></h3>
                                                                                <span class="badge badge-pill badge-danger p-2">Rejected</span>
                                                                            </div>
                                                                            <div class="align-self-center">
                                                                                <i class="text-danger fa fa-times-circle fa-3x" aria-hidden="true"></i> 
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>


                                                @*  <div class="number f25" id="AddNewThesisAS"><a class="" href="/AddThesis">Go!</a></div> *@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>

</div>
</div>
<script src="~/developerjs/task.js"></script>