@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .c-dashboardInfo {
        margin-bottom: 15px;
    }

        .c-dashboardInfo .wrap {
            background: #ffffff;
            box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1);
            border-radius: 7px;
            text-align: center;
            position: relative;
            overflow: hidden;
            padding: 12px 5px 0px;
            height: 100%;
        }

    .c-dashboardInfo__title,
    .c-dashboardInfo__subInfo {
        color: #6c6c6c;
        font-size: 0.8em;
        font-weight:800;
    }

    .c-dashboardInfo span {
        display: block;
    }

    .c-dashboardInfo__count {
        font-weight: 600;
        font-size: 2.5em;
        line-height: 64px;
        color: #323c43;
    }

    .c-dashboardInfo .wrap:after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 10px;
        content: "";
    }


    .c-dashboardInfo:nth-child(1) .wrap:after {
        background: linear-gradient(82.59deg, #00c48c 0%, #00a173 100%);
    }

    .c-dashboardInfo:nth-child(2) .wrap:after {
        background: linear-gradient(81.67deg, #0084f4 0%, #1a4da2 100%);
    }

    .c-dashboardInfo:nth-child(3) .wrap:after {
        background: linear-gradient(69.83deg, #0084f4 0%, #00c48c 100%);
    }

    .c-dashboardInfo:nth-child(4) .wrap:after {
        background: linear-gradient(81.67deg, #ff647c 0%, #1f5dc5 100%);
    }

    .c-dashboardInfo:nth-child(5) .wrap:after {
        background: linear-gradient(82.59deg, #5EB99F 0%, #86B95E 100%);
    }

    .c-dashboardInfo:nth-child(6) .wrap:after {
        background: linear-gradient(81.67deg, #D4AC0D 0%, #1a4da2 100%);
    }

    .c-dashboardInfo:nth-child(7) .wrap:after {
        background: linear-gradient(69.83deg, #5DADE2 0%, #00c48c 100%);
    }

    .c-dashboardInfo:nth-child(8) .wrap:after {
        background: linear-gradient(81.67deg, #EB984E 0%, #154360 100%);
    }

    .c-dashboardInfo:nth-child(9) .wrap:after {
        background: linear-gradient(81.67deg, #1A5276 0%, #154360 100%);
    }

    .c-dashboardInfo:nth-child(10) .wrap:after {
        background: linear-gradient(81.67deg, #943126 0%, #154360 100%);
    }

    .c-dashboardInfo:nth-child(11) .wrap:after {
        background: linear-gradient(81.67deg, #A3E4D7 0%, #154360 100%);
    }

    .c-dashboardInfo:nth-child(12) .wrap:after {
        background: linear-gradient(81.67deg, #E67E22 0%, #154360 100%);
    }

    .c-dashboardInfo:nth-child(13) .wrap:after {
        background: linear-gradient(81.67deg, #D7BDE2 0%, #154360 100%);
    }

    .c-dashboardInfo:nth-child(14) .wrap:after {
        background: linear-gradient(81.67deg, #D6EAF8 0%, #154360 100%);
    }
    .c-dashboardInfo__title svg {
        color: #d7d7d7;
        margin-left: 5px;
    }

    .MuiSvgIcon-root-19 {
        fill: currentColor;
        width: 1em;
        height: 1em;
        display: inline-block;
        font-size: 24px;
        transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        user-select: none;
        flex-shrink: 0;
    }

</style>
<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="containerMain">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"> <i class="fa fa-bars"></i></div>
                        <a href="/Home/Index" class="mr-2">Home</a> >  <a href="/Home/Dashboard" class="mr-2">Dashboard</a> > Report &amp; Return

                    </h1>
                </div>
            </div>

        </div>
    </div>
</header>
<div class="containerMain mt-n10">
    <div class="row">

        <div class="card">
            <div class="row pt-1 SearchTab">
                <div class="form-group row mb-2">

                    <label class="col-form-label col-sm-2 fw-bold">Select Unit Type <i class="fas fa-asterisk mand1"></i></label>
                    <div class="col-sm-10">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="UnitTyperdi" id="UnitType1" value="1" disabled>
                            <label class="form-check-label" for="UnitType1">Unit</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="UnitTyperdi" id="UnitType2" value="2" disabled>
                            <label class="form-check-label" for="UnitType2">
                                Unit(Fmn HQ)
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="UnitTyperdi" id="UnitType3" value="3" disabled>
                            <label class="form-check-label" for="UnitType3">Unit(Dte/Branch)</label>
                        </div>
                    </div>
                </div>
                </div>
            <div class="form-row SearchTab">
                <div class="form-group col-md-3 unittype">
                    <label class="col-form-label fw-bold">Comd / PSO<i class="fas fa-asterisk mand1"></i></label>
                    <select class="form-select" style="width: 100%;" tabindex="-1" aria-hidden="true" name="ddlCommand" required id="ddlCommand">
                        <option value="0">Select Comd / PSO </option>
                    </select>

                </div>
                <div class="form-group col-md-3 unittype">
                    <label class="col-form-label  fw-bold">Corps / Dte / Area<i class="fas fa-asterisk mand1"></i></label>

                    <select class="form-select" style="width: 100%;" tabindex="-1" aria-hidden="true" name="ddlCorps" required id="ddlCorps">
                        <option value="0">Select Corps / Dte / Area </option>
                    </select>

                </div>
                <div class="form-group col-md-3 unittype">
                    <label class="col-form-label fw-bold">Div/Sub Area<i class="fas fa-asterisk mand1"></i></label>

                    <select class="form-select" style="width: 100%;" tabindex="-1" aria-hidden="true" name="ddlDiv" required id="ddlDiv">
                        <option value="0">Select One </option>
                    </select>

                </div>
                <div class="form-group col-md-3 unittype">
                    <label class="col-form-label fw-bold">Bde<i class="fas fa-asterisk mand1"></i></label>

                    <select class="form-select" style="width: 100%;" tabindex="-1" aria-hidden="true" name="ddlBde" required id="ddlBde">
                        <option value="0">Select Bde </option>
                    </select>

                </div>
                <div class="form-group col-md-3 FmnBranch  d-none">
                    <label class="col-form-label fw-bold">Type of Fmn /Branch<i class="fas fa-asterisk mand1"></i></label>

                    <select class="form-select" style="width: 100%;" tabindex="-1" aria-hidden="true" name="ddlFmnBranch" required id="ddlFmnBranch">
                        <option value="1">Select Fmn/Branch </option>
                    </select>

                </div>
                <div class="form-group col-md-3 DteBranch d-none">
                    <label class="col-form-label fw-bold">PSO /Dte <i class="fas fa-asterisk mand1"></i></label>

                    <select class="form-select" style="width: 100%;" tabindex="-1" aria-hidden="true" name="ddlPSODte" required id="ddlPSODte">
                        <option value="1">Select DG / Sub Dte </option>
                    </select>

                </div>
                <div class="form-group col-md-3 DteBranch d-none">
                    <label class="col-form-label fw-bold">DG / Sub Dte <i class="fas fa-asterisk mand1"></i></label>

                    <select class="form-select" style="width: 100%;" tabindex="-1" aria-hidden="true" name="ddlDgSubDte" required id="ddlDgSubDte">
                        <option value="1">Select DG / Sub Dte</option>
                    </select>

                </div>
                <div class="form-group col-md-3">
                    <label class="col-form-label fw-bold">Unit <i class="fas fa-asterisk mand1"></i></label>

                    <select class="form-select" style="width: 100%;" tabindex="-1" aria-hidden="true" name="ddlUnit" required id="ddlUnit">
                        <option value="1">Select Unit</option>
                    </select>

                </div>
                <div class="form-group col-md-3">
                   
                    <input type="button" value="Search" id="btnSearch" class="btn btn-primary mt-5" />

                </div>
            </div>



            <div id="root">
                <div class="pt-1 RecordCount" id="countlistreport">
                    @*  <div class="row align-items-stretch" >

                    <div class="c-dashboardInfo col-lg-3 col-md-6">
                    <div class="wrap">
                    <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">
                    Rental income
                    </h4>
                    <span class="hind-font caption-12 c-dashboardInfo__count">00</span>
                    <span class="hind-font caption-12 c-dashboardInfo__subInfo"></span>
                    </div>
                    </div>

                    </div> *@
                </div>
                <div class="pt-1 d-none" id="RecordOfficeCountPendding" >
                </div>
                <div class="pt-1 d-none" id="RecordOfficeCountApprove">
                </div>
            </div>
                </div>
    </div>
</div>
<div class="modal fade" id="RepotReturnHistory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="lblRepotReturnHistory"></h4>
            </div>

            <div class="modal-body">
                <table class="table border border-purple table-striped no-footer dataTable table-hover" style="width: 100%;" role="grid" id="tbldata">
                    <thead>
                        <tr>
                            
                            <th class="wd-40-f">S No</th>
                            <th class="nowrap">Army No</th>
                            <th class="nowrap">Rank,Name</th>
                            <th class="nowrap">From </th>
                            <th class="nowrap">Sent To</th>
                            <th class="nowrap">TrackingId</th>
                            <th class="nowrap">Action On</th>
                            <th class="nowrap" id="spn99Status">Status</th>
                          


                        </tr>
                    </thead>
                    <tbody id="DetailBody">
                    </tbody>
                </table>
            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>

<script asp-src-include="~/developerjs/reportandreturn.js"></script>
