@{
    ViewData["Title"] = "Initiate Request DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<span id="Type" name="Type" class="d-none">@ViewBag.Type</span>
<div class="container1">
    @if (ViewBag.Role == "User")
    {
        <div class="row">

            <div class="card p-4">
                <div class="row">
                    @if (ViewBag.Type == "Drafted")
                    {
                        <div id="DraftedOffrs" class="col-md-2 col-sm-6">
                            <a href="/BasicDetail/Index/MQ==">
                                <div class="counter green">
                                    <div class="counter-icon">
                                        <i class="fa fa-water"></i>
                                    </div>
                                    <span class="counter-value" id="ToDraftedOffrs">0</span>
                                    <h3>
                                        Appl Drafted for Offrs
                                    </h3>

                                </div>
                            </a>
                        </div>
                        <div id="DraftedJCO" class="col-md-2 col-sm-6">
                            <a href="/BasicDetail/Index/?Id=MQ==&jcoor=SmNvL09ycw==">
                                <div class="counter blue">
                                    <div class="counter-icon">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <span class="counter-value" id="ToDraftedJCO">0</span>
                                    <h3>
                                        Appl Drafted for JCOs/OR
                                    </h3>

                                </div>
                            </a>
                        </div>
                    }
                    else if (ViewBag.Type == "Submitted")
                    {
                        <div id="SubmittedOffrs" class="col-md-2 col-sm-6">
                            <a href="/BasicDetail/Index/ODg4">
                                <div class="counter green">
                                    <div class="counter-icon">
                                        <i class="fa fa-water"></i>
                                    </div>
                                    <span class="counter-value" id="ToSubmittedOffrs">0</span>
                                    <h3>
                                        Appl Submitted for Offrs
                                    </h3>

                                </div>
                            </a>
                        </div>
                        <div id="SubmittedJCO" class="col-md-2 col-sm-6">
                            <a href="/BasicDetail/Index/?Id=ODg4&jcoor=SmNvL09ycw==">
                                <div class="counter blue">
                                    <div class="counter-icon">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <span class="counter-value" id="ToSubmittedJCO">0</span>
                                    <h3>
                                        Appl Submitted for JCOs/OR
                                    </h3>

                                </div>
                            </a>
                        </div>
                    }
                    else if (ViewBag.Type == "Rejected")
                    {
                        <div id="RejectedOffrs" class="col-md-2 col-sm-6">
                            <a href="/BasicDetail/Index/OTk5">
                                <div class="counter green">
                                    <div class="counter-icon">
                                        <i class="fa fa-water"></i>
                                    </div>
                                    <span class="counter-value" id="ToRejectedOffrs">0</span>
                                    <h3>
                                        Appl Rejected for Offrs
                                    </h3>

                                </div>
                            </a>
                        </div>
                        <div id="RejectedJCO" class="col-md-2 col-sm-6">
                            <a href="/BasicDetail/Index?Id=OTk5&jcoor=SmNvL09ycw==">
                                <div class="counter blue">
                                    <div class="counter-icon">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <span class="counter-value" id="ToRejectedJCO">0</span>
                                    <h3>
                                        Appl Rejected for JCOs/OR
                                    </h3>

                                </div>
                            </a>
                        </div>
                    }
                    else if (ViewBag.Type == "PostingOut")
                    {
                        <div class="col-md-2 col-sm-6">
                            <a href="/Posting/GetPostingOutWithType?Type=MQ==">
                                <div class="counter purple">
                                    <div class="counter-icon">
                                        <i class="fa fa-users"></i>
                                    </div>
                                    <span class="counter-value" id="ToPostingOutOffrs">0</span>
                                    <h3>
                                        Appl Posting Out for Offrs
                                    </h3>

                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <a href="/Posting/GetPostingOutWithType?Type=Mg==">
                                <div class="counter purple">
                                    <div class="counter-icon">
                                        <i class="fa fa-users"></i>
                                    </div>
                                    <span class="counter-value" id="ToPostingOutJCO">0</span>
                                    <h3>
                                        Appl Posting Out for JCO's/OR
                                    </h3>
                                </div>
                            </a>
                        </div>
                    }

                    @*
                    <div class="col-md-2 col-sm-6">
                        <a href="#">
                            <div class="counter green">
                                <div class="counter-icon">
                                    <i class="fa fa-user-circle"></i>
                                </div>
                                <span class="counter-value" id="ToCourseJCO">0</span>
                                <h3>
                                    Course/TD JCO's/OR
                                </h3>

                            </div>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <a href="#">
                            <div class="counter blue">
                                <div class="counter-icon">
                                    <i class="fa fa-share-alt"></i>
                                </div>
                                <span class="counter-value" id="ToObsnRaisedOASIS">0</span>
                                <h3>
                                    Obsn Raised with OASIS
                                </h3>

                            </div>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <a href="#">
                            <div class="counter purple">
                                <div class="counter-icon">
                                    <i class="fa fa-street-view"></i>
                                </div>
                                <span class="counter-value" id="ToObsnRaisedINDRA">0</span>
                                <h3>
                                    Obsn Raised with INDRA
                                </h3>

                            </div>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <a href="#">
                            <div class="counter yellow">
                                <div class="counter-icon">
                                    <i class="fa fa-hourglass-half"></i>
                                </div>
                                <span class="counter-value" id="ToHotlistedICard">0</span>
                                <h3>
                                    Hotlisted I-Card
                                </h3>

                            </div>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <a href="#">
                            <div class="counter red">
                                <div class="counter-icon">
                                    <i class="fa fa-ban"></i>
                                </div>
                                <span class="counter-value" id="ToBlockExistingICard">0</span>
                                <h3>
                                    Block Existing<br/> I-Card
                                </h3>   

                            </div>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <a href="#">
                            <div class="counter yellow">
                                <div class="counter-icon">
                                    <i class="fa fa-sign-language"></i>
                                </div>
                                <span class="counter-value" id="ToDepositICard">0</span>
                                <h3>
                                    Deposit I-Card
                                </h3>

                            </div>
                        </a>
                    </div> *@
                </div>
            </div>
        </div>
    }
</div>
<script src="~/developerjs/RequestDashboard.js"></script>
<script>
    // $('.counter-value').each(function () {
    //     $(this).prop('Counter', 0).animate({
    //         Counter: $(this).text()
    //     }, {
    //         duration: 3500,
    //         easing: 'swing',
    //         step: function (now) {
    //             $(this).text(Math.ceil(now));
    //         }
    //     });
    // });
</script>