@{
    ViewData["Title"] = "Initiate Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .btn {
        --bs-btn-padding-x: 5.75rem;
        --bs-btn-padding-y: 1.375rem;
       
    }

    .form-control{
        width: 300px;
        display: table; /* Instead of display:block */
        margin-left: auto;
        margin-right: auto;
    }
</style>
<div class="container1">

    <div class="row">

        <div class="card p-4">
            <div class="row">
                <div class="col-md-12 col-sm-6 text-center">
                    <button type="button" class="btn btn-outline-primary" id="btnApplyCard">Apply for Smart I Card</button>
                </div>
                <div class="col-md-12 col-sm-6 text-center mt-4 d-none" id="btnarmytype">
                    <button type="button" class="btn btn-outline-success" id="btnaddOffrs">Offrs</button>
                    <button type="button" class="btn btn-outline-warning" id="btnJCOs">JCOs/ORs</button>
                </div>
                <div class="col-md-12 col-sm-6 text-center mt-4" id="btnIcardFor">
                   
                </div>
                <div class="col-md-12 col-sm-6 text-center d-none1" id="icardrequestfor">
                   
                </div>
                <div class="col-md-12 col-sm-6 mt-4 " id="">
                    <input class="form-control mb-2 d-none " id="txtApplyForArmyNo" placeholder="Enter ArmyNo" />
                </div>
                <div class="col-md-12 col-sm-6 text-center mt-4 d-none" id="spnNext" >
                    <button type="button" class="btn btn-warning mt-4" id="btnNext">Next</button>
                </div>
                
                <div class="col-md-12 col-sm-6 text-center mt-4 d-none1" id="">
                    <span id="tokenmsg"></span>
                </div>
            </div>
        </div>





    </div>
</div>
<script src="~/developerjs/request.js"></script>
<script src="~/developerjs/token.js"></script>