@{
    ViewData["Title"] = "Initiate Request DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="containerMain">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"> <i class="fa fa-bars"></i></div>
                      
                        <a href="/Home/Index" class="mr-2">Home</a> > <a href="/Home/Dashboard" class="mr-2">Dashboard</a>  > 
                            @if (ViewBag.PreviousLink == "DashboardUserMgt")
                            {
                                <a href="/Home/DashboardUserMgt" class="mr-2">User Management</a>
                            }
                            else
                            {
                                <a href="/Home/SubDashboard" class="mr - 2">I-Card Request</a>
                            }
                        > @ViewBag.Type

                    </h1>
                </div>
            </div>

        </div>
    </div>
</header>
<div class="containerMain mt-n10">
<span id="Type" name="Type" class="d-none">@ViewBag.Type</span>
    @if (ViewBag.Role == "User" || ViewBag.Role == "Coordinator")
    {
        <div class="row">

            <div class="card p-4">
                <div class="row">
                    @if (ViewBag.Type == "Drafted")
                    {
                        <div id="DraftedOffrs" class="col-md-2 col-sm-6">
                            <a href="/BasicDetail/Index/MQ==">
                                <div class="counter blue">
                                    <div class="counter-icon">
                                        <i class="fa fa-water"></i>
                                    </div>
                                    <span class="counter-value" id="ToDraftedOffrs">0</span>
                                    <h3>
                                        Appl Drafted for Offr's
                                    </h3>

                                </div>
                            </a>
                        </div>
                        <div id="DraftedJCO" class="col-md-2 col-sm-6">
                            <a href="/BasicDetail/Index/?Id=MQ==&jcoor=SmNvL09ycw==">
                                <div class="counter blue">
                                    <div class="counter-icon">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <span class="counter-value" id="ToDraftedJCO">0</span>
                                    <h3>
                                        Appl Drafted for JCO<span class="text-lowercase">s</span>/OR
                                    </h3>

                                </div>
                            </a>
                        </div>
                    }
                    else if (ViewBag.Type == "Submitted")
                    {
                        <div id="SubmittedOffrs" class="col-md-2 col-sm-6">
                            <a href="/BasicDetail/Index/ODg4">
                                <div class="counter blue">
                                    <div class="counter-icon">
                                        <i class="fa fa-water"></i>
                                    </div>
                                    <span class="counter-value" id="ToSubmittedOffrs">0</span>
                                    <h3>
                                        Appl Submitted for Offr's
                                    </h3>

                                </div>
                            </a>
                        </div>
                        <div id="SubmittedJCO" class="col-md-2 col-sm-6">
                            <a href="/BasicDetail/Index/?Id=ODg4&jcoor=SmNvL09ycw==">
                                <div class="counter blue">
                                    <div class="counter-icon">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <span class="counter-value" id="ToSubmittedJCO">0</span>
                                    <h3>
                                        Appl Submitted for JCO<span class="text-lowercase">s</span>/OR
                                    </h3>

                                </div>
                            </a>
                        </div>
                    }
                    else if (ViewBag.Type == "Completed")
                    {
                        <div id="SubmittedOffrs" class="col-md-2 col-sm-6">
                            <a href="/BasicDetail/Index/Nzc3">
                                <div class="counter blue">
                                    <div class="counter-icon">
                                        <i class="fa fa-water"></i>
                                    </div>
                                    <span class="counter-value" id="ToCompletedOffrs">0</span>
                                    <h3>
                                        Appl Completed for Offr's
                                    </h3>

                                </div>
                            </a>
                        </div>
                        <div id="SubmittedJCO" class="col-md-2 col-sm-6">
                            <a href="/BasicDetail/Index/?Id=Nzc3&jcoor=SmNvL09ycw==">
                                <div class="counter blue">
                                    <div class="counter-icon">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <span class="counter-value" id="ToCompletedJCO">0</span>
                                    <h3>
                                        Appl Completed for JCO<span class="text-lowercase">s</span>/OR
                                    </h3>

                                </div>
                            </a>
                        </div>
                    }
                    else if (ViewBag.Type == "Rejected")
                    {
                        <div id="RejectedOffrs" class="col-md-2 col-sm-6">
                            <a href="/BasicDetail/Index/OTk5">
                                <div class="counter blue">
                                    <div class="counter-icon">
                                        <i class="fa fa-water"></i>
                                    </div>
                                    <span class="counter-value" id="ToRejectedOffrs">0</span>
                                    <h3>
                                        Appl Rejected for Offr's
                                    </h3>

                                </div>
                            </a>
                        </div>
                        <div id="RejectedJCO" class="col-md-2 col-sm-6">
                            <a href="/BasicDetail/Index?Id=OTk5&jcoor=SmNvL09ycw==">
                                <div class="counter blue">
                                    <div class="counter-icon">
                                        <i class="fa fa-user"></i>
                                    </div>
                                    <span class="counter-value" id="ToRejectedJCO">0</span>
                                    <h3>
                                        Appl Rejected for JCO<span class="text-lowercase">s</span>/OR
                                    </h3>

                                </div>
                            </a>
                        </div>
                    }
                    else if (ViewBag.Type == "Posting Out")
                    {
                        <div class="col-md-2 col-sm-6">
                            <a href="/Posting/GetPostingOutWithType?Type=MQ==&PostingType=UG9zdGluZ091dA==">
                                <div class="counter blue">
                                    <div class="counter-icon">
                                        <i class="fa fa-users"></i>
                                    </div>
                                    <span class="counter-value" id="ToPostingOutOffrs">0</span>
                                    <h3>
                                         Posting Out for Offr's
                                    </h3>

                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <a href="/Posting/GetPostingOutWithType?Type=Mg==&PostingType=UG9zdGluZ091dA==">
                                <div class="counter blue">
                                    <div class="counter-icon">
                                        <i class="fa fa-users"></i>
                                    </div>
                                    <span class="counter-value" id="ToPostingOutJCO">0</span>
                                    <h3>
                                        Posting Out for JCO'<span class="text-lowercase">s</span>/OR
                                    </h3>
                                </div>
                            </a>
                        </div>
                    }
                    else if (ViewBag.Type == "Posting In")
                    {
                        <div class="col-md-2 col-sm-6">
                            <a href="/Posting/GetPostingOutWithType?Type=MQ==&PostingType=UG9zdGluZ0lu">
                                <div class="counter blue">
                                    <div class="counter-icon">
                                        <i class="fa fa-users"></i>
                                    </div>
                                    <span class="counter-value" id="ToPostingInOffrs">0</span>
                                    <h3>
                                         Posting In for Offr's
                                    </h3>

                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <a href="/Posting/GetPostingOutWithType?Type=Mg==&PostingType=UG9zdGluZ0lu">
                                <div class="counter blue">
                                    <div class="counter-icon">
                                        <i class="fa fa-users"></i>
                                    </div>
                                    <span class="counter-value" id="ToPostingInJCO">0</span>
                                    <h3>
                                        Posting In for JCO'<span class="text-lowercase">s</span>/OR
                                    </h3>
                                </div>
                            </a>
                        </div>
                    }
                    @*
                    <div class="col-md-2 col-sm-6">
                        <a href="#">
                            <div class="counter green">
                                <div class="counter-icon">
                                    <i class="fa fa-user-circle"></i>
                                </div>
                                <span class="counter-value" id="ToCourseJCO">0</span>
                                <h3>
                                    Course/TD JCO's/OR
                                </h3>

                            </div>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <a href="#">
                            <div class="counter blue">
                                <div class="counter-icon">
                                    <i class="fa fa-share-alt"></i>
                                </div>
                                <span class="counter-value" id="ToObsnRaisedOASIS">0</span>
                                <h3>
                                    Obsn Raised with OASIS
                                </h3>

                            </div>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <a href="#">
                            <div class="counter purple">
                                <div class="counter-icon">
                                    <i class="fa fa-street-view"></i>
                                </div>
                                <span class="counter-value" id="ToObsnRaisedINDRA">0</span>
                                <h3>
                                    Obsn Raised with INDRA
                                </h3>

                            </div>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <a href="#">
                            <div class="counter yellow">
                                <div class="counter-icon">
                                    <i class="fa fa-hourglass-half"></i>
                                </div>
                                <span class="counter-value" id="ToHotlistedICard">0</span>
                                <h3>
                                    Hotlisted I-Card
                                </h3>

                            </div>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <a href="#">
                            <div class="counter red">
                                <div class="counter-icon">
                                    <i class="fa fa-ban"></i>
                                </div>
                                <span class="counter-value" id="ToBlockExistingICard">0</span>
                                <h3>
                                    Block Existing<br/> I-Card
                                </h3>   

                            </div>
                        </a>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <a href="#">
                            <div class="counter yellow">
                                <div class="counter-icon">
                                    <i class="fa fa-sign-language"></i>
                                </div>
                                <span class="counter-value" id="ToDepositICard">0</span>
                                <h3>
                                    Deposit I-Card
                                </h3>

                            </div>
                        </a>
                    </div> *@
                </div>
            </div>
        </div>
    }
</div>
<script src="~/developerjs/RequestDashboard.js"></script>
<script>
    // $('.counter-value').each(function () {
    //     $(this).prop('Counter', 0).animate({
    //         Counter: $(this).text()
    //     }, {
    //         duration: 3500,
    //         easing: 'swing',
    //         step: function (now) {
    //             $(this).text(Math.ceil(now));
    //         }
    //     });
    // });
</script>