@{
    ViewData["Title"] = "Initiate Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .btn1 {
        --bs-btn-padding-x: 2.75rem;
        --bs-btn-padding-y: 1.075rem;
       
    }
    .form-control{
        width: 300px;
        display: table; /* Instead of display:block */
        margin-left: auto;
        margin-right: auto;
    }
</style>
<div class="container1">

    <div class="row">
        @Html.AntiForgeryToken()
        <div class="card p-4">
            <div class="row">
                <div class="col-md-12 col-sm-6 text-center">

                    <button type="button" class="btn btn-outline-primary btn1" id="btnApplyCard">Apply for Smart I Card</button>
                    <button type="button" class="btn btn-outline-warning btn1" id="btnApplicantsPostingout">Applicants Posting out</button>
                </div>

                <div class="col-md-12 col-sm-6 text-center mt-4 ApplyCard d-none" id="btnarmytype">
                    <button type="button" class="btn btn-outline-success btn1" id="btnaddOffrs">Offrs</button>
                    <button type="button" class="btn btn-outline-warning btn1" id="btnJCOs">JCOs/ORs</button>
                </div>

                <div class="col-md-12 col-sm-6 text-center mt-4 ApplyCard" id="btnIcardFor">
                   
                </div>
                <div class="col-md-12 col-sm-6 text-center d-none1 ApplyCard" id="icardrequestfor">
                   
                </div>
                <div class="col-md-12 col-sm-6 mt-4 " id="">
                    <input class="form-control mb-2 d-none ApplyCard" id="txtApplyForArmyNo" placeholder="Enter ArmyNo" />
                </div>
                <div class="col-md-12 col-sm-6 text-center mt-4 d-none ApplyCard" id="spnNext">
                    <button type="button" class="btn btn-danger mt-4 d-none mr-4 btn1" id="btntokenrefresh">
                        Refresh to Fetch Details from Token
                    </button>
                    <button type="button" class="btn btn-warning mt-4 btn1" id="btnNext">Next</button>
                    
                </div>
                
                <div class="col-md-12 col-sm-6 text-center mt-4 d-none1 ApplyCard" id="">
                    <span id="tokenmsg"></span>
                </div>
            </div>
        </div>





    </div>
</div>
<script src="~/developerjs/request.js"></script>
<script src="~/developerjs/token.js"></script>