@{
    ViewData["Title"] = "Initiate Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .btn1 {
        --bs-btn-padding-x: 2.75rem;
        --bs-btn-padding-y: 1.075rem;
        font-size:20px;
       
    }

    .btn-primary {
        background-color: #2970e7bf;
        color:white;
    }

    .btn-outline-primary:hover {
            color: #fff;
            background-color: #2970e7bf;
            border-color: #2970e7bf;
        }

    .btn-primary:hover {
        color: #fff;
        background-color: #2970e7bf;
        border-color: #2970e7bf;
    }

    .btn-primary:focus, .btn-primary.focus {
        color: #fff;
        background-color: #2970e7bf;
        border-color: #2970e7bf;
        box-shadow: 0 0 0 0.2rem rgba(38, 121, 244, 0.5);
    }
    .form-control1{
        width: 500px;
        display: table; /* Instead of display:block */
        margin-left: auto;
        margin-right: auto;
    }
</style>
<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="containerMain">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"> <i class="fa fa-bars"></i></div>
                        <a href="/Home/Index" class="mr-2">Home</a> > <a href="/Home/InitiateRequest" class="mr-2">Request</a> > Initiate Request

                    </h1>
                </div>
            </div>

        </div>
    </div>
</header>
<div class="containerMain mt-n10">

    <div class="row">
        @Html.AntiForgeryToken()
        <div class="card p-4 ">
            <div class="row">
                <div class="col-md-12 col-sm-6 text-center">
                    <div class="card p-4 cardmain">
                        <div class="row">
                            <div class="col-md-2 col-sm-6">
                                <a href="#">
                                    <div class="counter purple" id="btnApplyCard">
                                        <div class="counter-icon">
                                            <i class="fa fa-plus-circle"></i>
                                        </div>
                                        <h3 style="margin-top:3.5rem!important;">
                                            Apply for Smart I-Card
                                        </h3>

                                    </div>
                                </a>

                            </div>
                            <div class="col-md-2 col-sm-6">
                                <a href="#">
                                    <div class="counter purple" id="btnApplicantsPostingout">
                                        <div class="counter-icon">
                                            <i class="fa fa-plus-circle"></i>
                                        </div>
                                        <h3 style="margin-top:3.5rem!important;">
                                            Applicants Posting out
                                        </h3>

                                    </div>
                                </a>
                            </div>
                        </div>
                    
                   
                    </div>
                   @*  <button type="button" class="btn btn-outline-primary btn1" id="btnApplyCard">Apply for Smart I-Card</button>
                    <button type="button" class="btn btn-outline-primary btn1" id="btnApplicantsPostingout">Applicants Posting out</button> *@
                </div>

                <div class="col-md-12 col-sm-6 text-center mt-4 ApplyCard d-none" id="btnarmytype">
                    <button type="button" class="btn btn-outline-primary btn1" id="btnaddOffrs">Offr's</button>
                    <button type="button" class="btn btn-outline-primary btn1" id="btnJCOs">JCOs/OR's </button>
                </div>

                <div class="col-md-12 col-sm-6 text-center mt-4 ApplyCard" id="btnIcardFor">
                    
                </div>
                <div class="col-md-12 col-sm-6 text-center d-none1 ApplyCard" id="icardrequestfor">
                   
                </div>
                <div class="col-md-12 col-sm-6 mt-4 " id="">
                    <input class="form-control1 mb-2 d-none ApplyCard form-space spnarmynoformula" id="txtApplyForArmyNo" maxlength="9" value="1" placeholder="Enter Army No With pfx & sfx Ex.ICXXXXXP,JC391516M,15698645A" />
                </div>
                <div class="col-md-12 col-sm-6 text-center mt-4 d-none ApplyCard" id="spnNext">
                   @*  <button type="button" class="btn btn-danger mt-4 d-none mr-4 btn1 " id="btntokenrefresh">
                        Refresh to Fetch Details from Token
                    </button> *@
                    <button type="button" class="btn btn-warning mt-4 btn1 disabled " id="btnNext">Next</button>
                    
                </div>
                
                <div class="col-md-12 col-sm-6 text-center mt-4 d-none1 ApplyCard" id="">
                    <span id="tokenmsg"></span>
                </div>
            </div>
        </div>





    </div>
</div>
<script src="~/developerjs/request.js"></script>
<script src="~/developerjs/token.js"></script>