/*===========================================================
    Table style
===========================================================*/

    .table td, .table th {
        padding: .4rem .75rem;
        vertical-align: middle;
    }

    .table tbody {
        font-size: 15px;
    }

table.table-sm, table.table-sm tbody {
    font-size: 13px;
}

    table.table-sm th, table.table-sm td {
        padding: .2rem .5rem;
    }


    .table thead th.bg-purple-soft {
        background: #d4c2ef;
    }

.table th {
    border-top: 1px solid #c6a3e4;
}

.table.table-color thead {
    background: #f6f2ff;
}

.table.table-color th {
    color: #00259c;
}

.table-bordered th {
    border: 1px solid #c6a3e4;
}

.table.table-borderless .table, .table.table-borderless thead th, .table-borderless tbody + tbody, .table-borderless td, .table-borderless th, .table-borderless thead th, .table .table.table-borderless thead th, .table .table.table-borderless th .table .table.table-borderless {
    border: 0;
}

.table.table-borderless .table-bordered td, .table.table-borderless .table-bordered th {
    border: 1px solid #cbd0d4;
}

table.smartTable {
    border: 1px solid #e3e8f7;
}

    table.smartTable.no-footer {
        border-bottom-color: #d0d7e8;
    }

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 3px;
    justify-content: flex-end;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    background-color: transparent;
    border: 0;
}

.page-link {
    color: #4d5875;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 32px;
    border-width: 0;
    background-color: #dde2ef;
    margin-left: 0;
    font-weight: 500;
    position: relative;
    display: flex;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #00299e;
    background-color: #e3e7ed;
    border: 1px solid #ecf0fa;
    font-weight: 600;
}

.pagination li a {
    margin-right: 4px;
    border-radius: 4px;
}

.pagination li.previous .page-link, .pagination li.next .page-link {
    width: auto;
}

.dataTables_paginate .pagination .page-link:hover {
    color: #ffffff;
    background-color: #00299e;
}

.form-control-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.76562rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.dataTables_paginate .pagination .page-link {
    padding: 0.3rem 0.75rem;
    background-color: #f2feff;
    border: 1px solid #0000d1;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #0000d1;
    border-color: #0000d1;
}

.page-item.disabled .page-link {
    color: #6276ad;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    background-color: transparent;
    color: #d0d7e8 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous {
    margin-right: 3px;
}

div.dataTables_wrapper div.dataTables_filter label {
    text-align: right;
}

table.smartTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child::before {
    top: 9.5px;
    left: 7px;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 0;
    box-shadow: none;
    background-color: #d0d7e8;
    font-size: 14px;
    font-weight: 700;
    color: #949eb7;
}

/*table.smartTable tbody td.sorting_1 {
        background-color: #ecf0fa;
    }*/

table.smartTable thead .sorting::before, table.smartTable thead .sorting::after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc:before {
    bottom: 0.5em;
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
    bottom: 0.5em;
}


div.dataTables_wrapper div.dataTables_length select {
    height: calc(1.5em + 0.5rem + 2px);
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    font-size: 0.76562rem;
}

.dataTables_wrapper .dataTables_filter input {
    margin-left: 0;
    border: 1px solid #e3e8f7;
    padding: 5px 10px;
    line-height: 1.539;
    color: #031b4e;
    border-radius: 3px;
    width: 100%;
}

.dataTables_filter .form-control:focus, div.dataTables_wrapper div.dataTables_length select:focus {
    outline: 1px solid #7687b3;
    box-shadow: none;
}

.dataTables_wrapper .dataTables_filter label {
    display: block;
    margin-bottom: 15px;
}

div.dataTables_wrapper div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: right;
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
}
    /*table.dataTable thead .sorting_asc {
    background-image: url(images/sort_asc.png);
}
table.dataTable thead .sorting {
    background-image: url(images/sort_both.png);
}
table.dataTable thead .sorting_desc {
    background-image: url(images/sort_desc.png);
}*/
    table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
        bottom: 0.5em;
    }
.btn-outline-primary {
    color: #0061f2;
    border-color: #0061f2;
}

.dataTables_wrapper .pagination {
    margin: 0;
}

.dataTables_wrapper .page-item .page-link {
    color: #00299e;
    background-color: #e3e7ed;
    border: 1px solid #ecf0fa;
    border-radius: 4px;
    font-weight: 600;
}

.dataTables_wrapper .page-item.active .page-link {
    color: #fff;
    background-color: #0000d1;
    border-color: #0000d1;
}

.dataTables_wrapper .page-item.disabled .page-link {
    color: #6276ad;
}
.datatable {
    font-size: 0.85rem;
}

@media (min-width: 768px) {
    .datatable {
        overflow: visible;
    }
}

.datatable table.dataTable thead,
.datatable table.dataTable tfoot {
    color: #0061f2;
}

    .datatable table.dataTable thead th,
    .datatable table.dataTable tfoot th {
        font-weight: 600;
    }

.datatable table.dataTable.table-dark thead,
.datatable table.dataTable.table-dark tfoot {
    color: #fff;
}

.datatable .btn-datatable {
    height: 20px !important;
    width: 20px !important;
    font-size: 0.75rem;
    border-radius: 0.35rem !important;
}

.datatable table.dataTable thead .sorting [data-fa-pseudo-element=":after"],
.datatable table.dataTable thead .sorting_asc [data-fa-pseudo-element=":after"],
.datatable table.dataTable thead .sorting_desc [data-fa-pseudo-element=":after"],
.datatable table.dataTable thead .sorting_asc_disabled [data-fa-pseudo-element=":after"],
.datatable table.dataTable thead .sorting_desc_disabled [data-fa-pseudo-element=":after"] {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translatey(-50%);
    color: #c5ccd6;
}

.datatable table.dataTable thead .sorting_asc [data-fa-pseudo-element=":after"],
.datatable table.dataTable thead .sorting_desc [data-fa-pseudo-element=":after"],
.datatable table.dataTable thead .sorting_asc_disabled [data-fa-pseudo-element=":after"],
.datatable table.dataTable thead .sorting_desc_disabled [data-fa-pseudo-element=":after"] {
    color: #0061f2;
}

.datatable table.dataTable.table-dark thead .sorting [data-fa-pseudo-element=":after"] {
    color: rgba(255, 255, 255, 0.25);
}

.datatable table.dataTable.table-dark thead .sorting_asc [data-fa-pseudo-element=":after"],
.datatable table.dataTable.table-dark thead .sorting_desc [data-fa-pseudo-element=":after"],
.datatable table.dataTable.table-dark thead .sorting_asc_disabled [data-fa-pseudo-element=":after"],
.datatable table.dataTable.table-dark thead .sorting_desc_disabled [data-fa-pseudo-element=":after"] {
    color: rgba(255, 255, 255, 0.75);
}
@media (max-width: 1499.98px) {
    .table-responsive-xxl {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

        .table-responsive-xxl > .table-bordered {
            border: 0;
        }
}

.table-responsive, .datatable {
    display: inline-table;
    width: 100% !important;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

    .table-responsive > .table-bordered, .datatable > .table-bordered {
        border: 0;
    }
.table-sm th,
.table-sm td {
    padding: 0.3rem;
}

.table-bordered {
    border: 1px solid #e3e6ec;
}

    .table-bordered th,
    .table-bordered td {
        border: 1px solid #e3e6ec;
    }

    .table-bordered thead th,
    .table-bordered thead td {
        border-bottom-width: 2px;
    }

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
    border: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgb(30 32 39 / 3%);
}

.no-striped tbody tr:nth-of-type(odd) {
    background-color: transparent;
}

.table-hover tbody tr:hover {
    color: #687281;
    background-color: rgba(227, 230, 236, 0.25);
}

.table-primary,
.table-primary > th,
.table-primary > td {
    background-color: #b8d3fb;
}

    .table-primary th,
    .table-primary td,
    .table-primary thead th,
    .table-primary tbody + tbody {
        border-color: #7aadf8;
    }

.table-hover .table-primary:hover {
    background-color: #a0c4fa;
}

    .table-hover .table-primary:hover > td,
    .table-hover .table-primary:hover > th {
        background-color: #a0c4fa;
    }

.table-secondary,
.table-secondary > th,
.table-secondary > td {
    background-color: #d5b8ef;
}

    .table-secondary th,
    .table-secondary td,
    .table-secondary thead th,
    .table-secondary tbody + tbody {
        border-color: #b17ae2;
    }

.table-hover .table-secondary:hover {
    background-color: #c9a3ea;
}

    .table-hover .table-secondary:hover > td,
    .table-hover .table-secondary:hover > th {
        background-color: #c9a3ea;
    }

.table-success,
.table-success > th,
.table-success > td {
    background-color: #b8e8d5;
}

    .table-success th,
    .table-success td,
    .table-success thead th,
    .table-success tbody + tbody {
        border-color: #7ad4b1;
    }

.table-hover .table-success:hover {
    background-color: #a5e2ca;
}

    .table-hover .table-success:hover > td,
    .table-hover .table-success:hover > th {
        background-color: #a5e2ca;
    }

.table-info,
.table-info > th,
.table-info > td {
    background-color: #b8f2f3;
}

    .table-info th,
    .table-info td,
    .table-info thead th,
    .table-info tbody + tbody {
        border-color: #7ae6e9;
    }

.table-hover .table-info:hover {
    background-color: #a2eeef;
}

    .table-hover .table-info:hover > td,
    .table-hover .table-info:hover > th {
        background-color: #a2eeef;
    }

.table-warning,
.table-warning > th,
.table-warning > td {
    background-color: #fce5b8;
}

    .table-warning th,
    .table-warning td,
    .table-warning thead th,
    .table-warning tbody + tbody {
        border-color: #f9ce7a;
    }

.table-hover .table-warning:hover {
    background-color: #fbdca0;
}

    .table-hover .table-warning:hover > td,
    .table-hover .table-warning:hover > th {
        background-color: #fbdca0;
    }

.table-danger,
.table-danger > th,
.table-danger > td {
    background-color: #f9bdb8;
}

    .table-danger th,
    .table-danger td,
    .table-danger thead th,
    .table-danger tbody + tbody {
        border-color: #f3857a;
    }

.table-hover .table-danger:hover {
    background-color: #f7a7a0;
}

    .table-hover .table-danger:hover > td,
    .table-hover .table-danger:hover > th {
        background-color: #f7a7a0;
    }

.table-light,
.table-light > th,
.table-light > td {
    background-color: #fbfcfd;
}

    .table-light th,
    .table-light td,
    .table-light thead th,
    .table-light tbody + tbody {
        border-color: #f7f9fc;
    }

.table-hover .table-light:hover {
    background-color: #eaeff5;
}

    .table-hover .table-light:hover > td,
    .table-hover .table-light:hover > th {
        background-color: #eaeff5;
    }

.table-dark,
.table-dark > th,
.table-dark > td {
    background-color: #c0c4ca;
}

    .table-dark th,
    .table-dark td,
    .table-dark thead th,
    .table-dark tbody + tbody {
        border-color: #8b929c;
    }

.table-hover .table-dark:hover {
    background-color: #b2b7be;
}

    .table-hover .table-dark:hover > td,
    .table-hover .table-dark:hover > th {
        background-color: #b2b7be;
    }

.table-black,
.table-black > th,
.table-black > td {
    background-color: #b8b8b8;
}

    .table-black th,
    .table-black td,
    .table-black thead th,
    .table-black tbody + tbody {
        border-color: #7a7a7a;
    }

.table-hover .table-black:hover {
    background-color: #ababab;
}

    .table-hover .table-black:hover > td,
    .table-hover .table-black:hover > th {
        background-color: #ababab;
    }

.table-white,
.table-white > th,
.table-white > td {
    background-color: white;
}

    .table-white th,
    .table-white td,
    .table-white thead th,
    .table-white tbody + tbody {
        border-color: white;
    }

.table-hover .table-white:hover {
    background-color: #f2f2f2;
}

    .table-hover .table-white:hover > td,
    .table-hover .table-white:hover > th {
        background-color: #f2f2f2;
    }

.table-red,
.table-red > th,
.table-red > td {
    background-color: #f9bdb8;
}

    .table-red th,
    .table-red td,
    .table-red thead th,
    .table-red tbody + tbody {
        border-color: #f3857a;
    }

.table-hover .table-red:hover {
    background-color: #f7a7a0;
}

    .table-hover .table-red:hover > td,
    .table-hover .table-red:hover > th {
        background-color: #f7a7a0;
    }

.table-orange,
.table-orange > th,
.table-orange > td {
    background-color: #fdd4b8;
}

    .table-orange th,
    .table-orange td,
    .table-orange thead th,
    .table-orange tbody + tbody {
        border-color: #fbae7a;
    }

.table-hover .table-orange:hover {
    background-color: #fcc59f;
}

    .table-hover .table-orange:hover > td,
    .table-hover .table-orange:hover > th {
        background-color: #fcc59f;
    }

.table-yellow,
.table-yellow > th,
.table-yellow > td {
    background-color: #fce5b8;
}

    .table-yellow th,
    .table-yellow td,
    .table-yellow thead th,
    .table-yellow tbody + tbody {
        border-color: #f9ce7a;
    }

.table-hover .table-yellow:hover {
    background-color: #fbdca0;
}

    .table-hover .table-yellow:hover > td,
    .table-hover .table-yellow:hover > th {
        background-color: #fbdca0;
    }

.table-green,
.table-green > th,
.table-green > td {
    background-color: #b8e8d5;
}

    .table-green th,
    .table-green td,
    .table-green thead th,
    .table-green tbody + tbody {
        border-color: #7ad4b1;
    }

.table-hover .table-green:hover {
    background-color: #a5e2ca;
}

    .table-hover .table-green:hover > td,
    .table-hover .table-green:hover > th {
        background-color: #a5e2ca;
    }

.table-teal,
.table-teal > th,
.table-teal > td {
    background-color: #b8ece1;
}

    .table-teal th,
    .table-teal td,
    .table-teal thead th,
    .table-teal tbody + tbody {
        border-color: #7adbc7;
    }

.table-hover .table-teal:hover {
    background-color: #a4e7d9;
}

    .table-hover .table-teal:hover > td,
    .table-hover .table-teal:hover > th {
        background-color: #a4e7d9;
    }

.table-cyan,
.table-cyan > th,
.table-cyan > td {
    background-color: #b8f2f3;
}

    .table-cyan th,
    .table-cyan td,
    .table-cyan thead th,
    .table-cyan tbody + tbody {
        border-color: #7ae6e9;
    }

.table-hover .table-cyan:hover {
    background-color: #a2eeef;
}

    .table-hover .table-cyan:hover > td,
    .table-hover .table-cyan:hover > th {
        background-color: #a2eeef;
    }

.table-blue,
.table-blue > th,
.table-blue > td {
    background-color: #b8d3fb;
}

    .table-blue th,
    .table-blue td,
    .table-blue thead th,
    .table-blue tbody + tbody {
        border-color: #7aadf8;
    }

.table-hover .table-blue:hover {
    background-color: #a0c4fa;
}

    .table-hover .table-blue:hover > td,
    .table-hover .table-blue:hover > th {
        background-color: #a0c4fa;
    }

.table-indigo,
.table-indigo > th,
.table-indigo > td {
    background-color: #d0b8f9;
}

    .table-indigo th,
    .table-indigo td,
    .table-indigo thead th,
    .table-indigo tbody + tbody {
        border-color: #a87af3;
    }

.table-hover .table-indigo:hover {
    background-color: #c0a0f7;
}

    .table-hover .table-indigo:hover > td,
    .table-hover .table-indigo:hover > th {
        background-color: #c0a0f7;
    }

.table-purple,
.table-purple > th,
.table-purple > td {
    background-color: #d5b8ef;
}

    .table-purple th,
    .table-purple td,
    .table-purple thead th,
    .table-purple tbody + tbody {
        border-color: #b17ae2;
    }

.table-hover .table-purple:hover {
    background-color: #c9a3ea;
}

    .table-hover .table-purple:hover > td,
    .table-hover .table-purple:hover > th {
        background-color: #c9a3ea;
    }

.table-pink,
.table-pink > th,
.table-pink > td {
    background-color: #f7b8d1;
}

    .table-pink th,
    .table-pink td,
    .table-pink thead th,
    .table-pink tbody + tbody {
        border-color: #f07aa9;
    }

.table-hover .table-pink:hover {
    background-color: #f4a1c2;
}

    .table-hover .table-pink:hover > td,
    .table-hover .table-pink:hover > th {
        background-color: #f4a1c2;
    }

.table-red-soft,
.table-red-soft > th,
.table-red-soft > td {
    background-color: #faefef;
}

    .table-red-soft th,
    .table-red-soft td,
    .table-red-soft thead th,
    .table-red-soft tbody + tbody {
        border-color: #f6e2e2;
    }

.table-hover .table-red-soft:hover {
    background-color: #f4dcdc;
}

    .table-hover .table-red-soft:hover > td,
    .table-hover .table-red-soft:hover > th {
        background-color: #f4dcdc;
    }

.table-orange-soft,
.table-orange-soft > th,
.table-orange-soft > td {
    background-color: #fbf4ef;
}

    .table-orange-soft th,
    .table-orange-soft td,
    .table-orange-soft thead th,
    .table-orange-soft tbody + tbody {
        border-color: #f8eae2;
    }

.table-hover .table-orange-soft:hover {
    background-color: #f6e6db;
}

    .table-hover .table-orange-soft:hover > td,
    .table-hover .table-orange-soft:hover > th {
        background-color: #f6e6db;
    }

.table-yellow-soft,
.table-yellow-soft > th,
.table-yellow-soft > td {
    background-color: #fbf7ef;
}

    .table-yellow-soft th,
    .table-yellow-soft td,
    .table-yellow-soft thead th,
    .table-yellow-soft tbody + tbody {
        border-color: #f7f0e2;
    }

.table-hover .table-yellow-soft:hover {
    background-color: #f6eddb;
}

    .table-hover .table-yellow-soft:hover > td,
    .table-hover .table-yellow-soft:hover > th {
        background-color: #f6eddb;
    }

.table-green-soft,
.table-green-soft > th,
.table-green-soft > td {
    background-color: #edf8f5;
}

    .table-green-soft th,
    .table-green-soft td,
    .table-green-soft thead th,
    .table-green-soft tbody + tbody {
        border-color: #def1ed;
    }

.table-hover .table-green-soft:hover {
    background-color: #dbf1eb;
}

    .table-hover .table-green-soft:hover > td,
    .table-hover .table-green-soft:hover > th {
        background-color: #dbf1eb;
    }

.table-teal-soft,
.table-teal-soft > th,
.table-teal-soft > td {
    background-color: #edf9f8;
}

    .table-teal-soft th,
    .table-teal-soft td,
    .table-teal-soft thead th,
    .table-teal-soft tbody + tbody {
        border-color: #def3f1;
    }

.table-hover .table-teal-soft:hover {
    background-color: #daf3f1;
}

    .table-hover .table-teal-soft:hover > td,
    .table-hover .table-teal-soft:hover > th {
        background-color: #daf3f1;
    }

.table-cyan-soft,
.table-cyan-soft > th,
.table-cyan-soft > td {
    background-color: #edfafb;
}

    .table-cyan-soft th,
    .table-cyan-soft td,
    .table-cyan-soft thead th,
    .table-cyan-soft tbody + tbody {
        border-color: #def5f8;
    }

.table-hover .table-cyan-soft:hover {
    background-color: #d8f4f6;
}

    .table-hover .table-cyan-soft:hover > td,
    .table-hover .table-cyan-soft:hover > th {
        background-color: #d8f4f6;
    }

.table-blue-soft,
.table-blue-soft > th,
.table-blue-soft > td {
    background-color: #edf4fd;
}

    .table-blue-soft th,
    .table-blue-soft td,
    .table-blue-soft thead th,
    .table-blue-soft tbody + tbody {
        border-color: #deeafb;
    }

.table-hover .table-blue-soft:hover {
    background-color: #d6e6fa;
}

    .table-hover .table-blue-soft:hover > td,
    .table-hover .table-blue-soft:hover > th {
        background-color: #d6e6fa;
    }

.table-indigo-soft,
.table-indigo-soft > th,
.table-indigo-soft > td {
    background-color: #f2eefc;
}

    .table-indigo-soft th,
    .table-indigo-soft td,
    .table-indigo-soft thead th,
    .table-indigo-soft tbody + tbody {
        border-color: #e7dffa;
    }

.table-hover .table-indigo-soft:hover {
    background-color: #e1d8f8;
}

    .table-hover .table-indigo-soft:hover > td,
    .table-hover .table-indigo-soft:hover > th {
        background-color: #e1d8f8;
    }

.table-purple-soft,
.table-purple-soft > th,
.table-purple-soft > td {
    background-color: #f3eefb;
}

    .table-purple-soft th,
    .table-purple-soft td,
    .table-purple-soft thead th,
    .table-purple-soft tbody + tbody {
        border-color: #e9dff7;
    }

.table-hover .table-purple-soft:hover {
    background-color: #e4d9f6;
}

    .table-hover .table-purple-soft:hover > td,
    .table-hover .table-purple-soft:hover > th {
        background-color: #e4d9f6;
    }

.table-pink-soft,
.table-pink-soft > th,
.table-pink-soft > td {
    background-color: #faeef4;
}

    .table-pink-soft th,
    .table-pink-soft td,
    .table-pink-soft thead th,
    .table-pink-soft tbody + tbody {
        border-color: #f6dfeb;
    }

.table-hover .table-pink-soft:hover {
    background-color: #f4dae7;
}

    .table-hover .table-pink-soft:hover > td,
    .table-hover .table-pink-soft:hover > th {
        background-color: #f4dae7;
    }

.table-primary-soft,
.table-primary-soft > th,
.table-primary-soft > td {
    background-color: #edf4fd;
}

    .table-primary-soft th,
    .table-primary-soft td,
    .table-primary-soft thead th,
    .table-primary-soft tbody + tbody {
        border-color: #deeafb;
    }

.table-hover .table-primary-soft:hover {
    background-color: #d6e6fa;
}

    .table-hover .table-primary-soft:hover > td,
    .table-hover .table-primary-soft:hover > th {
        background-color: #d6e6fa;
    }

.table-secondary-soft,
.table-secondary-soft > th,
.table-secondary-soft > td {
    background-color: #f3eefb;
}

    .table-secondary-soft th,
    .table-secondary-soft td,
    .table-secondary-soft thead th,
    .table-secondary-soft tbody + tbody {
        border-color: #e9dff7;
    }

.table-hover .table-secondary-soft:hover {
    background-color: #e4d9f6;
}

    .table-hover .table-secondary-soft:hover > td,
    .table-hover .table-secondary-soft:hover > th {
        background-color: #e4d9f6;
    }

.table-success-soft,
.table-success-soft > th,
.table-success-soft > td {
    background-color: #edf8f5;
}

    .table-success-soft th,
    .table-success-soft td,
    .table-success-soft thead th,
    .table-success-soft tbody + tbody {
        border-color: #def1ed;
    }

.table-hover .table-success-soft:hover {
    background-color: #dbf1eb;
}

    .table-hover .table-success-soft:hover > td,
    .table-hover .table-success-soft:hover > th {
        background-color: #dbf1eb;
    }

.table-info-soft,
.table-info-soft > th,
.table-info-soft > td {
    background-color: #edfafb;
}

    .table-info-soft th,
    .table-info-soft td,
    .table-info-soft thead th,
    .table-info-soft tbody + tbody {
        border-color: #def5f8;
    }

.table-hover .table-info-soft:hover {
    background-color: #d8f4f6;
}

    .table-hover .table-info-soft:hover > td,
    .table-hover .table-info-soft:hover > th {
        background-color: #d8f4f6;
    }

.table-warning-soft,
.table-warning-soft > th,
.table-warning-soft > td {
    background-color: #fbf7ef;
}

    .table-warning-soft th,
    .table-warning-soft td,
    .table-warning-soft thead th,
    .table-warning-soft tbody + tbody {
        border-color: #f7f0e2;
    }

.table-hover .table-warning-soft:hover {
    background-color: #f6eddb;
}

    .table-hover .table-warning-soft:hover > td,
    .table-hover .table-warning-soft:hover > th {
        background-color: #f6eddb;
    }

.table-danger-soft,
.table-danger-soft > th,
.table-danger-soft > td {
    background-color: #faefef;
}

    .table-danger-soft th,
    .table-danger-soft td,
    .table-danger-soft thead th,
    .table-danger-soft tbody + tbody {
        border-color: #f6e2e2;
    }

.table-hover .table-danger-soft:hover {
    background-color: #f4dcdc;
}

    .table-hover .table-danger-soft:hover > td,
    .table-hover .table-danger-soft:hover > th {
        background-color: #f4dcdc;
    }

.table-active,
.table-active > th,
.table-active > td {
    background-color: rgba(227, 230, 236, 0.25);
}

.table-hover .table-active:hover {
    background-color: rgba(212, 216, 226, 0.25);
}

    .table-hover .table-active:hover > td,
    .table-hover .table-active:hover > th {
        background-color: rgba(212, 216, 226, 0.25);
    }

.table .thead-dark th {
    color: rgba(255, 255, 255, 0.65);
    background-color: #323f52;
    border-color: #40516a;
}

.table .thead-light th {
    color: #485260;
    background-color: #e3e6ec;
    border-color: #e3e6ec;
}

.table-dark {
    color: rgba(255, 255, 255, 0.65);
    background-color: #323f52;
}

    .table-dark th,
    .table-dark td,
    .table-dark thead th {
        border-color: #40516a;
    }

    .table-dark.table-bordered {
        border: 0;
    }

    .table-dark.table-striped tbody tr:nth-of-type(odd) {
        background-color: rgba(255, 255, 255, 0.05);
    }

    .table-dark.table-hover tbody tr:hover {
        color: rgba(255, 255, 255, 0.65);
        background-color: rgba(255, 255, 255, 0.075);
    }

@media (max-width: 575.98px) {
    .table-responsive-sm {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

        .table-responsive-sm > .table-bordered {
            border: 0;
        }
}

@media (max-width: 767.98px) {
    .table-responsive-md {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

        .table-responsive-md > .table-bordered {
            border: 0;
        }
}

@media (max-width: 991.98px) {
    .table-responsive-lg {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

        .table-responsive-lg > .table-bordered {
            border: 0;
        }
}

@media (max-width: 1199.98px) {
    .table-responsive-xl {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

        .table-responsive-xl > .table-bordered {
            border: 0;
        }
}

    .table th,
    .table td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #e3e6ec;
    }

    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #e3e6ec;
    }

    .table tbody + tbody {
        border-top: 2px solid #e3e6ec;
    }
table.dataTable.table thead th,
table.dataTable thead th.sorting,
table.dataTable thead th.sorting_asc,
table.dataTable thead th.sorting_desc {
    background-color: #044C92;
    color: #ffffff;
    border-top: 0;
    border-bottom: 1px solid #c6a3e4;
}
div.dt-container .dt-paging .dt-paging-button {
    padding: 0;
}