@{
    ViewData["Title"] = "Bde";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="containerMain">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"> <i class="fa fa-bars"></i></div>
                        <a href="/Master/DashboardFormation" class="mr-2">Dashboard</a> > Bde Details

                    </h1>
                </div>
            </div>

        </div>
    </div>
</header>
<div class="containerMain mt-n10">
    <div class="card mb-3 ">
        <div class="card-header">

            <span id="SpnTxnId" class="d-none">0</span>
            @*<span id="PtoId" class="d-none">0</span>*@
            <div class="row">
                <div class="col-xl-12 text-left">
                    <h3>
                        Bde Details
                        <small class="text-muted"></small>
                    </h3>
                </div>
            </div>
        </div>
        <div class="card-body" style="min-height:150px;">
            <form action="" id="SaveForm" method="post" name="SaveForm">
                <div class="row">
                    <span class="spnBdeId d-none">0</span>
                    <div class="col-xl-4">
                        <div class="form-group row mb-2">
                            <label class="col-form-label col-sm-6">Comd / PSO<i class="fas fa-asterisk mand1"></i></label>
                            <div class="col-sm-6">
                                <select class="form-select" style="width: 100%;" tabindex="-1" aria-hidden="true" name="ddlCommand" required id="ddlCommand">
                                    <option value="0">Select Comd / PSO </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="form-group row mb-2">
                            <label class="col-form-label col-sm-6">Corps / Dte / Area<i class="fas fa-asterisk mand1"></i></label>
                            <div class="col-sm-6">
                                <select class="form-select" style="width: 100%;" tabindex="-1" aria-hidden="true" name="ddlCorps" required id="ddlCorps">
                                    <option value="0">Select Corps / Dte / Area </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="form-group row mb-2">
                            <label class="col-form-label col-sm-6">Div  /Branch / SubArea<i class="fas fa-asterisk mand1"></i></label>
                            <div class="col-sm-6">
                                <select class="form-select" style="width: 100%;" tabindex="-1" aria-hidden="true" name="ddlDiv" required id="ddlDiv">
                                    <option value="0">Select Div  /Branch / SubArea </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="form-group row mb-2">
                            <label class="col-form-label col-sm-6">Bde<i class="fas fa-asterisk mand1"></i></label>
                            <div class="col-sm-6">
                                <input class="form-control Alphanumeric" placeholder="Enter Bde" id="txtBdeName" maxlength="20" required pattern="^[a-zA-Z0-9 ]*$" title="Only Alphabets and Numbers allowed" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2">
                        <div class="col-sm-12 text-right">
                            <input type="button" class="btn btn-primary " value="Save" id="btnsave" />
                            <button type="button" id="btnReset" class="btn btn-outline-danger">Reset</button>
                        </div>
                        <div class="col-sm-12" id="msg">
                        </div>
                    </div>

                </div>
            </form>
            <div class="col-xl-12">
                <div class="mb-2 d-md-flex justify-content-md-between align-items-md-center">
                    <h6 class="mb-3 mb-md-0">
                        Total Corps <span id="lblTotal" class="ml-3 border border-light b px-2 py-1">0</span>
                    </h6>
                    <div>
                        @* <button type="button" id="btnAdd" class="btn btn-outline-success font-weight-600 btn-sm">Add Corps</button> *@
                        @* <button type="button" id="btnMultiDelete" class="btn btn-outline-danger font-weight-600 btn-sm">Delete</button> *@
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table border border-purple table-striped no-footer dataTable table-hover" role="grid" id="tbldata">
                        <thead>
                            <tr>
                                <th class="noExport d-none"></th>
                                <th class=" wd-30-f">SNo.</th>
                                <th class="nowrap">Comd / PSO</th>
                                <th class="nowrap">Corps / Dte / Area</th>
                                <th class="nowrap">Div  /Branch / SubArea</th>
                                <th class="nowrap">Bde</th>
                                <th class="noExport nowrap">Action</th>


                            </tr>
                        </thead>
                        <tbody id="DetailBody">
                        </tbody>
                    </table>
                </div>
            </div>


        </div>



    </div>
</div>




<script asp-src-include="~/developerjs/mtables.js"></script>
<script asp-src-include="~/developerjs/bdecat.js"></script>