@{
    ViewData["Title"] = "Create Draft";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
        
<link href="~/css/hierarchy.css" rel="stylesheet" />

<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="containerMain">
        <div class="page-header-content pt-5">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"> <i class="fa fa-bars"></i></div>
                        <a href="/Master/DashboardMaster" class="mr-2">Dashboard</a> > Comd / PSO Details

                    </h1>
                </div>
            </div>

        </div>
    </div>
</header>
<div class="containerMain mt-n10">
    <div class="card mb-3">
        <div class="card-header">

            <span id="SpnTxnId" class="d-none">0</span>
            @*<span id="PtoId" class="d-none">0</span>*@
            <div class="row">
                <div class="col-xl-12 text-left">
                    <h3>
                        Comd / PSO Details
                        <small class="text-muted"></small>
                    </h3>
                </div>
            </div>
        </div>
        <div class="card-body" style="min-height:150px;">
            <div class="row">
                <form action="" id="SaveForm" method="post" name="SaveForm">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-group row mb-2">
                                <span class="spncomdId d-none" id="spncomdId">0</span>
                                <span class="spnSOrderby d-none" id="spnSOrderby">0</span>
                                <label class="col-form-label col-sm-4 fw-bold">Comd / PSO<i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">
                                    <input class="form-control Alphanumeric" placeholder="Enter Comd" id="txtComandName" maxlength="50" required pattern="^[a-zA-Z0-9 ]*$" title="Only Alphabets and Numbers allowed" />
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="form-group row mb-2">

                                <label class="col-form-label col-sm-4 fw-bold">Abbreviation <i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">

                                    <input class="form-control Alphanumeric" placeholder="Enter Abbreviation" id="txtAbbreviation" maxlength="20" required pattern="^[a-zA-Z0-9 ]*$" title="Only Alphabets and Numbers allowed" />
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="col-sm-12 text-left">
                                <input type="button" class="btn btn-primary " value="Save" id="btnsave" />
                                <button type="button" id="btnReset" class="btn btn-outline-danger">Reset</button>
                            </div>
                            <div class="col-sm-12" id="msg">
                            </div>
                        </div>
                    </div>
                </form>
                <div class="col-xl-12">
                    <div class="mb-2 d-md-flex justify-content-md-between align-items-md-center">
                        <h6 class="mb-3 mb-md-0">
                            Total Command <span id="lblTotal" class="ml-3 border border-light b px-2 py-1">0</span>
                        </h6>
                        <div>
                            @* <button type="button" id="btnAdd" class="btn btn-outline-success font-weight-600 btn-sm">Add Command</button> *@
                            @* <button type="button" id="btnMultiDelete" class="btn btn-outline-danger font-weight-600 btn-sm">Delete</button> *@
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table border border-purple table-striped no-footer dataTable table-hover" role="grid" id="tblcommnd">
                            @*  id="tblcommnd" tbldatatabledata *@
                            <thead>
                                <tr>
                                    <th class="noExport d-none"></th>
                                    <th class="wd-40-f">S No</th>
                                    <th class="nowrap">Comd / PSO</th>
                                    <th class="nowrap">Abbreviation</th>
                                    <th class="noExport nowrap">Order</th>
                                    <th class="noExport nowrap">Action</th>
                                </tr>
                            </thead>
                            <tbody id="DetailBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="treeview" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Hierarchy Chart</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            </div>

            <div class="modal-body ">
                <div class="container-fluid">
                    <div class="scrolling-wrapper row flex-row flex-nowrap">
                        <div class="col-md-12 text-center">
                         
                            <div class="tree" id="tree">
                            </div>
                          
                    </div>
                


                    
                </div>
            </div>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>

<script asp-src-include="~/developerjs/command.js"></script>
<script asp-src-include="~/developerjs/commandvalidation.js"></script>

