@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="containerMain">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"> <i class="fa fa-bars"></i></div>
                        Dashboard

                    </h1>
                </div>
            </div>

        </div>
    </div>
</header>
<div class="containerMain mt-n10">
    <div class="row">
        <div class="card p-4">
            <div class="row">
                <div class="col-md-2 col-sm-6">
                    <a href="/Account/DomainRegn">
                        <div class="counter red">
                            <div class="counter-icon">
                                <i class="fa fa-address-card"></i>
                            </div>
                            <span class="counter-value" id="TotDomainRegn">0</span>
                            <h3>Domain Regn</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="/Account/UserRegn">
                        <div class="counter green">
                            <div class="counter-icon">
                                <i class="fa fa-address-card"></i>
                            </div>
                            <span class="counter-value" id="TotUserRegn">0</span>
                            <h3>User Regn</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="/Account/ProfileManage">
                        <div class="counter blue">
                            <div class="counter-icon">
                                <i class="fa fa-address-card"></i>
                            </div>
                            <span class="counter-value" id="TotUserProfile">0</span>
                            <h3>User Profile</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/developerjs/DashboardUserConfig.js"></script>
<script>
    // $('.counter-value').each(function () {
    //     $(this).prop('Counter', 0).animate({
    //         Counter: $(this).text()
    //     }, {
    //         duration: 3500,
    //         easing: 'swing',
    //         step: function (now) {
    //             $(this).text(Math.ceil(now));
    //         }
    //     });
    // });
</script>