@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container1">
    <div class="row">
        <div class="card p-4">
            <div class="row">
                <div class="col-md-2 col-sm-6">
                    <a href="/Master/Command">
                        <div class="counter red">
                            <div class="counter-icon">
                                <i class="fa fa-address-card"></i>
                            </div>
                            <span class="counter-value" id="TotComd">0</span>
                            <h3>Comd / PSO</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="/Master/Corps">
                        <div class="counter green">
                            <div class="counter-icon">
                                <i class="fa fa-address-card"></i>
                            </div>
                            <span class="counter-value" id="TotCorps">0</span>
                            <h3>Corps / Dte / Area</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="/Master/Div">
                        <div class="counter blue">
                            <div class="counter-icon">
                                <i class="fa fa-address-card"></i>
                            </div>
                            <span class="counter-value" id="TotDiv">0</span>
                            <h3>Div / Branch / Sub Area</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="/Master/Bde">
                        <div class="counter purple">
                            <div class="counter-icon">
                                <i class="fa fa-address-card"></i>
                            </div>
                            <span class="counter-value" id="TotBde">0</span>
                            <h3>Bde</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="/Master/MapUnit">
                        <div class="counter pink">
                            <div class="counter-icon">
                                <i class="fa fa-address-card"></i>
                            </div>
                            <span class="counter-value" id="TotMapUnit">0</span>
                            <h3>Map Unit</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/developerjs/DashboardFormation.js"></script>
<script>
</script>