@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="containerMain">
        <div class="page-header-content pt-5">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"> <i class="fa fa-bars"></i></div>
                        Dashboard

                    </h1>
                </div>
            </div>

        </div>
    </div>
</header>
<div class="containerMain mt-n10">
    <div class="row">
        <div class="card p-4 mb-3">
            <div class="seven">
                <h1>Fmn/Unit</h1>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-6">
                    <a href="/Master/Command">
                        <div class="counter blue">
                            <div class="counter-icon">
                                <i class="fa fa-address-card"></i>
                            </div>
                            <span class="counter-value" id="TotComd">0</span>
                            <h3>Comd / PSO</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="/Master/Corps">
                        <div class="counter blue">
                            <div class="counter-icon">
                                <i class="fa fa-address-card"></i>
                            </div>
                            <span class="counter-value" id="TotCorps">0</span>
                            <h3>Corps / Dte / Area</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="/Master/Div">
                        <div class="counter blue">
                            <div class="counter-icon">
                                <i class="fa fa-address-card"></i>
                            </div>
                            <span class="counter-value" id="TotDiv">0</span>
                            <h3>Div / Branch / Sub Area</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="/Master/Bde">
                        <div class="counter blue">
                            <div class="counter-icon">
                                <i class="fa fa-address-card"></i>
                            </div>
                            <span class="counter-value" id="TotBde">0</span>
                            <h3>Bde</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="/Master/MapUnit">
                        <div class="counter blue">
                            <div class="counter-icon">
                                <i class="fa fa-address-card"></i>
                            </div>
                            <span class="counter-value" id="TotMapUnit">0</span>
                            <h3>Map Unit</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="card p-4 mb-3">
            <div class="seven">
                <h1>Master</h1>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-6">
                    <a href="/Master/Unit/&$&&&">
                        <div class="counter green">
                            <div class="counter-icon">
                                <i class="fa fa-address-card"></i>
                            </div>
                            <span class="counter-value" id="TotUnit">0</span>
                            <h3>Unit</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="/Master/Rank">
                        <div class="counter green">
                            <div class="counter-icon">
                                <i class="fa fa-address-card"></i>
                            </div>
                            <span class="counter-value" id="TotRank">0</span>
                            <h3>Rank</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="/Master/Appointment">
                        <div class="counter green">
                            <div class="counter-icon">
                                <i class="fa fa-address-card"></i>
                            </div>
                            <span class="counter-value" id="TotAppointment">0</span>
                            <h3>Appointment</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="/Master/ArmedType">
                        <div class="counter green">
                            <div class="counter-icon">
                                <i class="fa fa-address-card"></i>
                            </div>
                            <span class="counter-value" id="TotArms">0</span>
                            <h3>Arms / Service</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="/Master/Regimental">
                        <div class="counter green">
                            <div class="counter-icon">
                                <i class="fa fa-address-card"></i>
                            </div>
                            <span class="counter-value" id="TotRegtCentre">0</span>
                            <h3>Regt Centre</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="/Master/RecordOffice">
                        <div class="counter green">
                            <div class="counter-icon">
                                <i class="fa fa-address-card"></i>
                            </div>
                            <span class="counter-value" id="TotRecordOffice">0</span>
                            <h3>Record Office</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="card p-4 mb-3">
            <div class="seven">
                <h1>User Config</h1>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-6">
                    <a href="/Account/DomainRegn">
                        <div class="counter orange">
                            <div class="counter-icon">
                                <i class="fa fa-address-card"></i>
                            </div>
                            <span class="counter-value" id="TotDomainRegn">0</span>
                            <h3>Domain Regn</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="/Account/UserRegn">
                        <div class="counter orange">
                            <div class="counter-icon">
                                <i class="fa fa-address-card"></i>
                            </div>
                            <span class="counter-value" id="TotUserRegn">0</span>
                            <h3>User Regn</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="/Account/ProfileManage">
                        <div class="counter orange  ">
                            <div class="counter-icon">
                                <i class="fa fa-address-card"></i>
                            </div>
                            <span class="counter-value" id="TotUserProfile">0</span>
                            <h3>User Profile</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/developerjs/DashboardMaster.js"></script>
<script>
</script>