@{
    ViewData["Title"] = "Unit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container1">
    <div class="card mb-3 ">
        <div class="card-header">

            <span id="SpnTxnId" class="d-none">0</span>
            @*<span id="PtoId" class="d-none">0</span>*@
            <div class="row">
                <div class="col-xl-12 text-left">
                    <h3>
                        Unit Details
                        <small class="text-muted"></small>


                    </h3>
                </div>


            </div>
        </div>


        <div class="card-body">
            <div class="row">
            <div class="col-xl-12">
                <div class="mb-2 d-md-flex justify-content-md-between align-items-md-center">
                    <h6 class="mb-3 mb-md-0">
                      @*   Total Units <span id="lblTotal" class="ml-3 border border-light b px-2 py-1">0</span> *@
                    </h6>
                        <div class="d-flex">
                         <input class="" placeholder="Search Unit Name" id="txtSerachunit" maxlength="10" pattern="^[a-zA-Z]*$" />
                        <button type="button" id="btnMapUnitAdd" class="btn btn-outline-success font-weight-600 btn-sm">Add Unit</button>
                        <button type="button" id="btnMapUnitMultiDelete" class="btn btn-outline-danger font-weight-600 btn-sm">Delete</button>
                       
                    </div>
                       
                </div>
                <div class="table-responsive">
                    <table class="table border border-purple table-striped no-footer dataTable table-hover" role="grid" id="tblMapUnitdata">
                        <thead>
                            <tr>
                                <th class="noExport d-none"></th>
                                <th class="noExport wd-30-f">
                                    <div class="custom-control custom-checkbox small">
                                        <input type="checkbox" class="custom-control-input" id="chkAll">
                                        <label class="custom-control-label font-weight-bold" for="chkAll"></label>
                                    </div>
                                </th>
                                <th class=" wd-30-f">SNo.</th>

                                    <th class="nowrap">Comd</th>

                                    <th class="nowrap">Corps / Area</th>
                                    <th class="nowrap">Div  / SubArea</th>
                                    <th class="nowrap">Bde</th>
                               
                                    <th class="nowrap">Unit Type</th>
                                    <th class="nowrap">Fmn /Branch </th>
                                    <th class="nowrap">PSO /Dte</th>
                                    <th class="nowrap">
                                        DG / Sub Dte
                                    </th>
                                    <th class="nowrap">Unit</th>
                                <th class="nowrap">SUSNo</th>
                                <th class="nowrap">Action</th>


                            </tr>
                        </thead>
                        <tbody id="DetailBodyMapUnit">
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
        </div>


    </div>
</div>


<script asp-src-include="~/developerjs/mtables.js"></script>
<script asp-src-include="~/developerjs/mapunitdropdown.js"></script>
<script asp-src-include="~/developerjs/MapUnit.js"></script>