@{
    ViewData["Title"] = "Add Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .form-group .labelprofile {
        font-size: 14px;
        font-weight: 700;
    }

    .cardbg {
        /*  background: rgb(255,255,255);
                background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(63,251,217,0.3225665266106442) 100%); */
    }

    .minheight {
        min-height: 225px;
    }
    .UpdateMapping{
        margin-left: 30%;
        margin-right: 30%;
        width: 40%;
        border-radius: 10px;
        z-index: 1;
    }
</style>
<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="containerMain">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"> <i class="fa fa-bars"></i></div>
                        <a href="/Home/Index" class="mr-2">Home</a> > <a href="/Home/Dashboard" class="mr-2">Dashboard</a> > <a href="/Home/DashboardUserMgt" class="mr-2"> User Mngt</a> >Update Mapping

                    </h1>
                </div>
            </div>

        </div>
    </div>
</header>
<div class="containerMain mt-n10">
    <div class="row">
        <div class="col-6 UpdateMapping">
            <div class="card h-100">
                <div class="card-header">
                    <div class="row">
                        <div class="col-xl-12 text-left">
                            <h3>
                                Update Mapping in Record Office
                                <small class="text-muted"> </small>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="card-body" style="min-height:150px;">
                    <form action="" id="UpdateRecordOffice" method="post" name="UpdateRecordOffice">
                        <div class="row">
                            <span class="d-none" id="spnRecordOfficeId">0</span>
                            <span class="d-none" id="spnUnitMapId">@ViewBag.UnitId</span>
                            <span class="d-none" id="spnOldTDMId">@ViewBag.TDMId</span>
                            <span class="d-none" id="spnOldUserId">@ViewBag.UserId</span>
                            <div class="mt-2 ml-4 ">
                                <div class="row">
                                    <div class="form-group row mb-2">
                                        <label class="col-form-label col-sm-4 labelprofile">Record Office</label>
                                        <div class="col-sm-8">
                                            <label id="lblROName" class="col-form-label"></label>
                                        </div>
                                    </div>
                                    <div class="form-group row mb-2">
                                        <label class="col-form-label col-sm-4  labelprofile">Abbreviation</label>
                                        <div class="col-sm-8">
                                            <label id="lblROAbbreviation" class="col-form-label"></label>
                                        </div>
                                    </div>
                                    <div class="form-group row mb-2">
                                        <label class="col-form-label col-sm-4 labelprofile">Name of Arms, Service & Corps</label>
                                        <div class="col-sm-8">
                                            <label class="col-form-label " id="lblArms"></label>
                                        </div>
                                    </div>
                                    <div class="form-group row mb-2">
                                        <label class="col-form-label col-sm-4 fw-bold">Select Domain Id <i class="fas fa-asterisk mand1"></i></label>
                                        <div class="col-sm-8">
                                            <select class="form-select" style="width: 100%;" tabindex="-1" aria-hidden="true" name="ddlTDMId" id="ddlTDMId" data-val="true" data-val-regex="This special chars not allowed for security reasons." data-val-required="Domain Id is required." data-val-regex-pattern="^[\d]+$">
                                            </select>
                                            <span class="text-danger field-validation-valid" data-valmsg-for="ddlTDMId" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 text-center mt-2">
                                <input type="button" class="btn btn-primary mt-4 mr-4" value="Submit" id="btnROUpdate" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script asp-src-include="~/developerjs/UpdateRecordOffice.js"></script>
