@model DTODocUploadUpdRequest
@{
    ViewBag.Title = "Edit Upload Document";
}
<div class="row g-3 row-deck mb-3">
    <div class="card mb-4">
        <div class="card-header py-3 d-flex  bg-transparent">
            <h6 class="mb-0 fw-bold"></h6>
        </div>
        <form enctype="multipart/form-data" asp-controller="DocUpload" asp-action="EditUploadDocument" method="post" class="mt-3">
            <div class="card-body">
                <input hidden asp-for="ExistingDocPath" />
                <div class="row">
                    <div class="col-xl-8">
                        <div class="row mb-3 required">
                            <label asp-for="Doc_" class="col-sm-4 col-form-label form-label"></label>
                            <div class="col-sm-8">
                                <div class="custom-file">
                                    <input asp-for="Doc_" class="form-control custom-file-input" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                                </div>
                                <span asp-validation-for="Doc_" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="row mb-3 required">
                            <label asp-for="DocName" class="col-sm-3 col-form-label form-label"></label>
                            <div class="col-sm-8">
                                <input asp-for="DocName" class="form-control" placeholder="Document Name" />
                                <span asp-validation-for="DocName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
            <div class="card-footer text-center">
                <button type="submit" class="btn btn-primary">Save</button>
                <a asp-controller="DocUpload" asp-action="Download" asp-route-filepath="@Model.ExistingDocPath" class="btn btn-primary">Download File</a>
                <a asp-action="Index" asp-controller="BasicDetail" class="btn btn-primary">Back</a>
            </div>
        </form>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
    }
