<font size="2">
    <div class="card card-default mt-2">
        <div class="card-body">
            <div class="text-center mb-2">
                <h3 class="font-italic">Document Upload Successfully.</h3>
                <a asp-controller="BasicDetail" asp-action="Index" class="btn btn-primary">Home Page</a>
            </div>
        </div>
    </div>
</font> 